.type-b-danhmuc2{
    .navbar-default{
        background: none;
        border: none;
        border-radius: 0;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover{
        background: none;
        color: #000;
        font-weight: bold;
    }
    .navbar-nav>li>a{
        padding-top: 0;
    }
    hr{
        float: left;
        width:300px;
    }
    .color-bg ul{
        list-style: none;
    }
    .color-bg img{
        padding: 1px;
        border: 1px solid #000;
    }
    .color{
        padding: 10px;
    }
    .shobytext{
        padding: 10px;
    }
    .shopby {
        float: left;
    }
    .shopby ul{
        list-style: none;
    }
    .shopby ul li a{
        color: #777;
        padding-left: 15px;
    }
    .shopby ul li a:hover{
        text-decoration: none;
    }
    .price ul{
        list-style: none;
    }
    .price ul li a{
        color: #777;
    }
    .price ul li a:hover{
        text-decoration: none;
    }
    .sopby img{
        position: relative;
    }
    .manufa{
        padding: 10px;
    }
    .color-bg{
        padding-left: 20px;
    }
    .shopbybrand ul{
        list-style: none;
    }
    .shopbybrand ul li a{
        color: #777;
    }
    .shopbybrand ul li a:hover{
        text-decoration: none;
    }
    .produt-menu {
        float: left;
    }
    .produt-menu img{
        width:60%;
    }
    .moneymenu{
        text-decoration: line-through;
        font-size: 16px;
        color: #c5c5c5;
        font-weight: bold;
    }
    .dolar800{
        font-size: 18px;
        padding: 5px;
        padding-bottom: 15px;
    }
    .addcartmenu a {
        color: #999;
        text-decoration: none;
        padding: 15px 0;
    }
    .addcartmenu a:hover{
        text-decoration: none;
    }
    .khoangcach{
        padding-top: 15px;
    }
    .seeall{
        float: right;
    }
    .recently{
        float: left;
    }
    .recently h4{
        font-weight: bold;
        font-size: 1.2em;
        color: #000;
    }
    .recently a{
        color: #000;
        text-decoration: none;
    }
    .img-left{
        padding: 15px;
    }
    @media only screen and (max-width:530px){
        .navbar-nav{
            border: 1px solid #b6b6b6;
        }
        .navbar-brand{
            display: block;
        }
    }

}