header.type-10 .topheader2 {
  padding: 10px 0;
}
header.type-10 .topheader2 .shopping-cart {
  margin-top: 25px;
  float: left;
}
header.type-10 .topheader2 .shopping-cart .cart {
  padding: 10px;
  text-decoration: none;
  color: #b9b9b9;
  border: 1px solid #e7e2e2;
  transition: all .5s ease-in-out;
  padding-right: 80px;
  font-weight: normal;
}
header.type-10 .topheader2 .shopping-cart .cart .fa-cart {
  color: red;
}
header.type-10 .topheader2 .shopping-cart .cart:hover {
  background-color: #e0e0e0;
  color: #8b8b8b;
  transition: all .5s ease-in-out;
}
header.type-10 .topheader2 .logo {
  float: left;
}
header.type-10 .topheader2 .logo img {
  max-width: 100%;
  margin-left: 100%;
}
header.type-10 .topheader2 .search {
  float: right;
  margin-top: 18px;
}
header.type-10 .topheader2 .search #text-search {
  padding: 6px;
}
header.type-10 .topheader2 .search .fa-search {
  padding: 9px;
  cursor: pointer;
  font-size: 18px;
  color: #b9b9b9;
  font-weight: normal;
  transition: all .3s ease-in-out;
  margin-left: -40px;
}
header.type-10 .topheader2 .search .fa-search:hover {
  background-color: #e17365;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
a {
  text-decoration: none;
}
