.type-36 .header {
  background: #e5e5e5;
}
.type-36 a {
  text-decoration: none;
}
.type-36 h2 {
  font-size: 18px;
}
.type-36 .header_contai a {
  color: #ff7f00;
}
.type-36 .header_contai2 {
  margin-top: -30px;
  float: right;
}
.type-36 .header_contai2 .fa {
  font-size: 22px;
  margin-right: 5px;
  color: #ff7f00;
}
.type-36 .header_contai2 a {
  padding: 0 10px;
  color: black;
}
.type-36 .title {
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
}
.type-36 .title1 .fa-bars {
  float: left;
  border: 1px solid #ccc;
  padding: 12px;
  margin-top: 20px;
}
.type-36 .title1 h2 {
  float: left;
  border: 1px solid #ccc;
  padding: 10px 30px;
}
.type-36 .title1 .trai {
  margin-left: 12px;
}
.type-36 .title2 {
  padding-left: 45%;
}
.type-36 .title2 a {
  color: #ff7f00;
}
.type-36 .title3 {
  margin-top: -47px;
  padding-top: 0;
  padding-left: 88%;
}
.type-36 .title3 .fa {
  border: 1px solid #ccc;
  padding: 12px;
}
.type-36 .menu {
  padding: 12px;
  background: #e5e5e5;
}
.type-36 .menu .home {
  color: #ff7f00;
}
.type-36 .menu ul {
  list-style: none;
}
.type-36 .menu ul li {
  margin-left: 6%;
  float: left;
}
.type-36 .menu ul li a {
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.type-36 .w3-display-left {
  position: absolute;
  top: 65%;
  padding: 12px;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}
.type-36 .w3-display-right {
  position: absolute;
  top: 65%;
  padding: 12px;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}
.type-36 .w3-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.type-36 .w3-black {
  color: #fff !important;
  background-color: #7f7f7f !important;
}
.type-36 .w3-badge {
  cursor: pointer;
}
.type-36 .content {
  padding-bottom: 15px;
  text-align: center;
}
.type-36 .content .d1 {
  text-align: center;
}
.type-36 .content .d1 .fa {
  padding-top: 14px;
  font-size: 40px;
}
.type-36 .content .d1 p {
  font-size: 15px;
  color: #ffaa56;
}
.type-36 .contact {
  padding-top: 12px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.type-36 .left {
  border: 1px solid #ffaa56;
  width: 3%;
  position: relative;
  margin-left: 37%;
  top: 49px;
}
.type-36 .right {
  border: 1px solid #ffaa56;
  width: 3%;
  position: relative;
  margin-left: 60%;
  top: -41px;
}
.type-36 .fa-square-o {
  position: relative;
  margin-left: -19%;
  top: 37px;
  color: #ffaa56;
}
.type-36 .o2 {
  position: relative;
  margin-left: 19%;
  top: -32px;
  color: #ffaa56;
}
.type-36 .s1 {
  color: #ffaa56;
}
