.type-706 .bodder-cursor {
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.type-706 body {
  background: #f9f9f9;
}
.type-706 .col-md-6 {
  margin-left: -5px;
}
.type-706 .product .items img {
  max-width: 100%;
  border: 1px solid #e0e0e0;
  cursor: crosshair;
}
.type-706 .product .thumbs-list {
  border-right: 1px solid #e0e0e0;
}
.type-706 .product .thumbs-list img {
  margin-top: 8px;
  margin-bottom: 7px;
  max-width: 83%;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.type-706 .product .thumbs-list #btn-down {
  position: absolute;
  top: 605px;
}
.type-706 .product .thumbs-list .btn-move {
  background: #e6e5e5;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 48px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.type-706 .product .thumbs-list .btn-move:hover {
  color: #e17365;
}
