.col-md-6 {
  margin-left: -5px;
}
.product .title h4 {
  color: #666;
  font-family: LMRoman10Regular;
  font-size: 25px;
}
.product .title .color-star {
  color: #ccc;
}
.product .state {
  color: #666;
}
.product .state .name {
  color: #666;
}
.product .tab-title {
  margin-top: 20px;
  cursor: pointer;
}
.product .tab-title .active-tab {
  background: #FFF;
}
.product .tab-title h4 {
  padding: 0 8px 0 10px;
  line-height: 26px;
  color: #666;
  background: #e0e0e0;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  margin: 0 2px 0 0;
}
.product .active-section {
  display: block;
}
.product .attributes {
  margin-top: 30px;
}
.product .attributes .attribute-list {
  display: inline-block;
  margin-right: 10px;
}
.product .attributes p {
  margin-top: 10px;
  padding-bottom: 20px;
}
.product .attributes .price h5 {
  font-size: 24px;
  line-height: 1px;
  float: left;
  color: #c5988b;
  font-weight: normal;
  margin-right: 20px;
  font-family: Georgia;
}
.product .attributes .price .btn-add {
  text-transform: uppercase;
  padding: 12px 25px;
  background-color: #7a7975;
  color: #ffffff;
  transition: all .2s ease-in-out;
}
.product .attributes .price .btn-add:hover {
  background-color: #e1423c;
  transition: all .2s ease-in-out;
}
.product label {
  margin-right: 5px;
  color: #666;
  font-weight: normal;
}
.product a {
  text-decoration: none;
}
.box-cart {
  margin-top: 25px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}
.box-cart .social {
  margin-left: 10px;
  float: left;
  margin-right: 35px;
}
.box-cart .wishlist {
  text-decoration: none;
  color: #666;
}
.tab-title {
  font-family: LMRomanCaps10-Regular;
}
ul.tab {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
}
ul.tab li {
  float: left;
}
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 11px;
  text-decoration: none;
  font-size: 1.1em;
}
.active {
  background-color: #fff;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#data-sheet td {
  padding: 9px 10px;
}
#accessories {
  text-align: center;
}
#accessories img {
  max-width: 100%;
  border: 1px solid #e0e0e0;
}
#accessories h3 {
  white-space: nowrap;
  font-size: 19px;
}
#accessories h5 {
  font-size: 18px;
  color: #C5988B;
  margin-bottom: 15px;
}
#accessories .btn-add-to-cart {
  background: #7a7975;
  color: #fff;
  padding: 7px 15px;
  margin-top: 15px;
  transition: 0.5s;
}
#accessories .btn-add-to-cart:hover {
  background: #e17365;
  transition: 0.5s;
}
#accessories ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
#player {
  text-align: center;
}
#comment .thumb-comment {
  margin-top: 10px;
  border-bottom: 1px dotted #ccc;
}
#comment .thumb-comment a {
  margin-left: 170px;
  padding: 7px 15px;
  line-height: 16px;
  background-color: #7a7975;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}
#comment .thumb-comment a:hover {
  background: #e17365;
}
#comment .thumb-comment .star-color {
  color: #ccc;
}
#comment .thumb-comment p {
  padding-bottom: 10px;
}
@media (max-width: 981px) {
  .star {
    float: none;
  }
}
@media (min-width: 980px) {
  .star {
    float: right;
  }
  select {
    width: 120px;
  }
  #custom-tab img {
    max-width: 100%;
  }
  #video #player {
    max-width: 100%;
  }
}
@media (max-width: 361px) {
  .attribute-list {
    width: 100%;
  }
  .wishlist {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
  }
  select {
    width: 100%;
  }
  #quantity {
    width: 100%;
    height: 40px;
  }
  #custom-tab img {
    max-width: 100%;
  }
  #video #player {
    max-width: 100%;
  }
  #btn-up {
    display: none;
  }
  #btn-down {
    display: none;
  }
}
@media (max-width: 769px) {
  ul.tab li a {
    padding: 10px 135px;
  }
  #btn-up {
    display: none;
  }
  #btn-down {
    display: none;
  }
  #accessories h3 {
    font-size: 13px;
  }
  #accessories .btn-add-to-cart {
    font-size: 8px;
  }
  #custom-tab img {
    max-width: 100%;
  }
}
