.type-713{
    @float:left;
    @background:none;
    @border:none;
    @position:absolute;
    @position1:relative;
    @text-align:center;
    @text-align1:left;
    @display:none;
    @display1:block;
    @display2:inline-block;
    @opacity:0;
    @opacity1:0.5;
    @opacity2:1;
    .dropdown, .dropup{
        float: @float;
    }
    .btn-primary {
        background: @background;
        border: @border;
        color: #000;
        padding: 10px;
    }
    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
        background: @background;
        border-radius: 0;
        color: #000;
        border: @border;
    }
    .defaut{
        position: @position;
        top: 9px;
        left: 150px;
    }
    .icon{
        float: right;
        padding: 4px 0;
    }
    .icon i{
        padding: 7px 0 0 10px;
    }
    .icon .fa{
        opacity: @opacity1;
    }
    .icon .fa:hover{
        opacity: @opacity2;
    }
    .action{
        padding: 1px;
    }

    @media only screen and(max-width:480px){
        .singlebanner img{
            padding-top: 10px;
        }
        .dropdown, .dropup{
            text-align:@text-align;
            position: @position1;
            left: calc(50% - 15px);
        }
        .defaut{
            display: @display;
        }
        .icon span{
            display: @display;
        }        
        .icon{
            float: none;
            text-align: @text-align;
        }
        .icon i{
            padding: 5px 10px;
        }
    }

.type-2{
    .headerinner{
        background: #262626;
        padding: 20px;
    }
    .search{
        margin-top: 15px; 
    }
    .form-select{
        background: #3b3b3b;
        float: @float;
        margin: 0 0px 0 0;
        padding:0;
        width: 25%;
        border: 1px solid #4d4d4d;
        border-right: @border;
    }
    .form-select select{
        width: 100%;
        margin: 10px 0;
        background: @background;
        color: #b6b6b6;
        margin-right: 5px;
        border: 1px solid #3b3b3b;
        border-right: 1px solid;
    }
    .form-select select option{
        color: #b6b6b6;
        padding: 4px 0 4px 3px;
    }
    .form-input{
        width: 65%;
        background: #3b3b3b;
        border: 1px solid #4d4d4d;
        border-left: @border;
        border-right: @border;
        box-shadow: none;
        color: #fff;
        float: @float;
        font-size: 12px;
        height: 41px;
        line-height: 18px;
        padding: 10px;
        box-sizing: border-box;
    }
    .form-input input{
        width: 65%;
        background: @background;
        border: @border;
    }
    .btn-button{
        width: 10%;
        float: @float;
    }
    .btn-button button{
        padding: 0;
        border:@border;
        background: @background;
    }
    .btn-button .fa-search{
        color: #fff;
        background: #6b6b6b;
        height: 41px;
        background: #6b6b6b;
        padding: 11px 13px;
    }
    .item{
        position: @position;
    }
    .thumbitem{
        background: #eb1f1f;
        box-sizing: border-box;
        cursor: pointer;
        margin: 13px 0;
        padding: 6px 15px;
        width: 160px;
        text-align: @text-align1;
        color: #fff;
    }
    .item-cart{
        background: url(../images/cart.png) no-repeat scroll 0 0 transparent;
        content: "";
        height: 69px;
        position: @position;
        right: 4px;
        top: 0;
        width: 52px;
    }
    @media only screen and (max-width:475px){
        .item{
            position: @position;
            right: 94px;
            top: -70px;
            margin-right: 75px;
        }
        .logo{
            width: 100%;
            text-align: @text-align;
        }
        .form-select select{
            width: 100%;
        }
        .form-input input{
            width: 100%;
        }
        .btn-button button{
            width: 100%;
        }
        .search{
            margin-left: 20px;
            margin-top: 70px;
        }
        .form-input{
            width: 40%;
        }
        .form-select{
            width: 40%;
        }
        .btn-button{
            width: 10%;
        }

    }
    @media only screen and (max-width:982px){
        .item{
            position: @position !important;
            right: 30px;
            bottom: 25px;
        }
    }


}
.type-3{
    .navbar-default{
        background: @background;
        border: @border;
        border-radius: 0;
    }
    .nav navbar-nav{
        float: none;
    }
    .navbar-default .navbar-brand{
        color: #000;
        font-weight: bold;
        display: @display;
        font-size: 1em;
    }
    .navbar-default .navbar-nav>.active>a, 
    .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        background: @background;
        color: #000;
        font-weight: bold;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 10px 0 0 0;
    }
    .navbar-nav>li{
        float: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding: 0;
    }
    .shopcollection ul{
        list-style: none;
        padding: 0;
    }
    .shopcollection ul li{
        float: none;
        padding: 5px 0;
    }
    .shopcollection ul li a{
        color: #666;
    }
    .shopcollection ul li a:hover{
        text-decoration: none;
        color: #000;
    }
    .shopcollection .active{
        color: #000;
        font-weight: bold;
    }
    .wintershop ul{
        list-style: none;
        padding: 0;
    }
    .wintershop .active{
        font-weight: bold;
        color: #000;
    }
    hr{

        width: 100%;
    }
    .wintershop ul li{
        float: none;
        padding: 5px 0;
    }
    .wintershop ul li a{
        color: #666;
    }
    .wintershop ul li a:hover{
        text-decoration: none;
        color: #000;
    }

    @media only screen and (max-width:768px){
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover{
            display: @display;
        }
        hr{
            display: @display;
        }
        .shopcollection{
            display: @display;
        }
        .wintershop{
            display: @display;
        }
        .navbar-default .navbar-brand{
            display: @display1;
        }
        .navbar-nav{
            border: 1px solid #666;
            margin: 0;
        }
    }

}

.type-4{
    .banner{
        padding: 15px 0 0 0;
    }
    .icon-fa .fa {
        border: 1px solid #fff;
        position: @position;
        padding: 5px;
        display: @display2;
        font: normal normal normal 14px/1 FontAwesome;
        top: 50%;
        left: 36%;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        width: 100%;
    }
    .carousel-indicators .active{
        background: #000;
    }
    .carousel-indicators li{
        border-radius: 0;
        background: #fff;
        border: 1px solid #000;

    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
        display: @display;
        border: 2px solid #fff;
        font-size: 1.2em;

    }
    .slide{
        width: 100%;
    }
    .slide:hover{
        .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
            display: @display1;
        }
        .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
            display: @display1;
        }
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
        display: @display;
        border: 2px solid #fff;
        font-size: 1.2em;
    }
    .singlebanner{
        overflow: hidden;
    }
    .singlebanner img{
        width: 100%;
    }
    .singlebanner:hover img{
        transform: scale(1.1);
        transition: all 0.3s ease 0s;
    }
    @media only screen and (max-width:760px){
        .singlebanner img{
            padding: 10px 0;
        }
        .singlebanner:hover img{
            overflow: hidden;
        }
    }
}
.type-5{
    .sub-banner{
        overflow: hidden;
        width: 100%;
        margin: 10px 0 0;
    }
    .sub-banner img{
        width: 100%;
    }
    .text{
        position: @position;
        bottom: 15px;
        left: 30px;
        font-size: 18px;
        color: #fff;
    }
    .shopnow{
        display: @display;
        position: @position;
        transition: all 0.3s ease 0s;
        right: 15px;
        bottom: 0;
        color: #fff;
        background: rgba(38,38,38,0.7);
        padding: 10px 15px;
        text-align: right;
        width: 90%;
        box-sizing: border-box;
    }
    .sub-banner:hover img{
        transform: scale(1.1);
        transition: all 0.3s ease 0s;
    }
    .sub-banner:hover .shopnow{
        transition: all 0.3s ease 0s;
        z-index: 1;
        display: @display1;
    }
    @media only screen and (max-width:768px){
        .sub-banner:hover .shopnow{
            display: @display;
        }
    }
}

.type_b_6 {
    margin-top: 25px;
    background:#FFFFFF;
    color:#666666;
    font-family:"Raleway",sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 1px;
    text-align:@text-align1;

    * { margin:0; padding:0; }

    img           { border:0; vertical-align:top; }

    a             { color:#666666; text-decoration:none; }
    a:hover       { text-decoration:none; color:#262626; }
    a:focus        { outline:0;  color:#262626; }

    /* Headings */
    h1,h2,h3,
    h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#999999; }
    h1            { font-size:20px; font-weight:normal; }
    h2            { font-size:18px; font-weight:normal; margin-bottom:15px; }
    h3            { font-size:16px; font-weight:normal; }
    h4            { font-size:14px; font-weight:normal; }
    h5            { font-size:12px; font-weight:bold; }
    h6            { font-size:11px; font-weight:bold; }

    /* Forms */
    form          { display:inline; }
    fieldset      { border:0; }
    legend        { display:@display; }

    /* Table */
    table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
    caption,th,td { vertical-align:top; text-align:@text-align1; font-weight:normal; }

    /* Content */
    p             { margin:0 0 10px; }
    strong        { font-weight:bold; }
    address       { font-style:normal; line-height:1.35; }
    cite          { font-style:normal; }
    q,
    blockquote    { quotes:none; }
    q:before,
        q:after       { content:''; }
    small,big     { font-size:1em; }
    /*sup           { font-size:1em; vertical-align:top; }*/

    /* Lists */
    ul,ol         { list-style:none; }

    .container {
        width:1200px; 
        margin:0 auto; 
        padding:0px; 
        background:transparent;
    }

    @media only screen and (max-width: 1200px) and (min-width: 980px) {
        .container {
            width:940px; 
        }
    }
    @media only screen and (max-width: 979px) {
        .container {
            width:724px; 
        }
    }
    @media only screen and (max-width: 626px) {
        .container {
            width: auto;
            margin: 0 15px;
        } 
        .tabberlive_outer_sub ul.tabbernav_product li{
            width: 100%; 
        }
        
    }
    @media only screen and (max-width: 430px){
        
        .tabberlive_outer_sub .tabs .view_actions a {         
            margin: 0px !important;
        }
        .products-grid li.item {
            margin-bottom: -20px !important;
            width: 100% !important;
        }
    }
    input,select,textarea,button { vertical-align:middle;  }
    select { padding:3px; }
    select option { padding-right:10px; }
    textarea { overflow:auto; }
    button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
    button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */

    button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer;   }
    .product_hover-block .button.btn-cart { width: 100%;}
    .button.btn-cart > span{ padding:6px 20px;}
    button.button span { 
        display:@display1;  
        font-family:"Raleway",sans-serif;
        background:#fff; 
        line-height: 22px;
        padding: 3px 12px;
        text-align:@text-align; 
        white-space:nowrap; 
        color:#262626; 
        text-decoration:none;
        border:1px solid #262626;
        font-weight:bold;
        text-transform:uppercase;
        /*box-sizing: border-box; width:100%;*/
    }
    button.button span span { border:0; padding:0;   }
    button.button:hover span {
        background: #262626;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s;
    }


    #nav ul { display: @display;  left: 0; padding: 10px;  position: @position; top: 52px;  width: 15em;}
    #nav div ul { position:static; width:auto; border:@border; }

    /* 3rd+ Level */
    #nav ul ul,
    #nav ul div { top:5px; }

    #nav ul li a {  }
    #nav ul li a { color:#000; text-decoration:none; display:@display; font-size:13px;font-family:"Raleway",sans-serif; text-transform:capitalize; }
    #nav ul span,

    /* Category Page ========================================================================= */


    .product_desc { padding: 0 10px;}
    .product_hover-block {bottom: 0; left: 0;  margin: 0 auto;  position: absolute;  right: 0; width: 100%; opacity:@opacity; -khtml-opacity: @opacity; -webkit-opacity:@opacity; -moz-opacity:@opacity; -ms-opacity:@opacity;}
    .product-block:hover .product_hover-block{ opacity:@opacity2; -khtml-opacity: @opacity2; -webkit-opacit:@opacity2; -moz-opacity:@opacity2; -ms-opacity:@opacity2;}
    .product_hover-block  .ratings { bottom: 40px; left: 0;  margin: 0 auto;   position: @position; right: 0;}
    h2.product-name{ background:none; padding:0px 0 0 !important; border-bottom: none !important;  margin:6px 0 5px;}

    /* View Type: Grid */
    .products-grid{ width:100%; }
    .products-grid li.item { float:@float; width:300px; padding:0; list-style:none; }
    .products-grid li .product-block{
        background: none repeat scroll 0 0 #FFFFFF;
        clear: both;
        margin: 5px 14px;
        overflow: hidden;
    }

    .tabberlive_outer_sub .products-grid li .product-block{ margin: 5px 10px;}
    .products-grid li .product-block-inner{
        overflow: hidden;
        padding:0px;
        position: @position1;
        text-align: @text-align;

    }
    .product-image-block-inner .product-image-block {
        position: @position1;
    }
    a.product-image { display:@display1; }
    .product-block .product-image-block img {height: auto; width: 100%;}
    .product-block .product-image-block .hover-image {
        left: 0;
        /*opacity: 0; transition: all 0.8s ease 0s;*/
        position: @position;
        right: 0;
        text-align: @text-align1;
        top: 0;
        height:auto;
        visibility: hidden;
        width: 100%;
    }
    .product-block .product-image-block:hover .hover-image { /*  opacity: 1; transition: all 0.8s ease 0s;*/   overflow: hidden;    visibility: visible;}
    .products-grid .product-name { margin:8px 0 0px; font-weight:normal; font-size:14px; }
    .products-grid .product-name a { }
    .products-grid .price-box { margin:2px 0 7px; }

    .sale-label {
        color: #dc2626;
        display: @display1;
        left: 0px;
        padding: 1px 7px;
        position: @position;
        text-align: @text-align;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;	
        opacity:@opacity; -khtml-opacity: @opacity; -webkit-opacity:@opacity; -moz-opacity:@opacity; -ms-opacity:@opacity;
    }
    .new-label {
        color: #dc2626;
        display: @display1;
        padding: 1px 7px;
        position: @position;
        right: 0px;
        text-align: @text-align;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;
        opacity:@opacity; -khtml-opacity:@opacity; -webkit-opacity:@opacity; -moz-opacity:@opacity; -ms-opacity:@opacity;
    }
    .product-block:hover .sale-label, .product-block:hover .new-label{opacity:@opacity2; -khtml-opacity: @opacity2; -webkit-opacity:@opacity2; -moz-opacity:@opacity2; -ms-opacity:@opacity2;}
    /* View Type: List */

    .add-to-links li a.link-wishlist:before {
        color: #000;
        content: "\f004";
        font-family: "FontAwesome";
        font-size: 14px;
        padding:7px 7px;
    }
    .add-to-links li a.link-compare:before {
        color: #000;
        content: "\f080";
        font-family: "FontAwesome";
        font-size: 14px;
        padding: 7px;
    }
    .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before{ color:#fff;}
    .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { display: @display1; height: 100%; width: 100%;}

    /* Rating */
    .rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.png) 0 0 repeat-x; text-indent:-999em; overflow:hidden; margin:4px 10px 0 0; }
    .rating-box .rating { float:@float; height:13px; background:url(../images/bkg_rating.png) 0 100% repeat-x; }
    .ratings .rating-box {margin-right:5px; display:@display2; }
    .ratings .amount { display:@display;}
    .product_desc .ratings .rating-box, .product_desc .ratings{ margin:0px;}


    /*  Product Prices */
    .price { white-space:nowrap !important;   color: #000; }
    .price-box { margin:5px 0; }
    .price-box .price { font-weight:bold; color:#000; font-size:18px; font-family:"Source Sans Pro",sans-serif; }

    /* Regular price */
    .regular-price { color:#c76200; }
    .regular-price .price {   font-size: 18px;    font-weight:bold; color:#000; }

    /* Old price */
    .price-box .old-price { margin:0; text-decoration: line-through; color:#c5c5c5; font-size:16px; }
    .old-price .price { font-weight:normal; color:#c76200;font-size:14px; text-decoration:line-through; }

    /* Add to Links */
    .product_hover-block .actions .add-to-links{ display:@display;}
    .add-to-links { margin:5px 0 0; font-size:12px;  }
    .add-to-links li{ list-style:none; }

    /* Start Product Tab CMS */

    .tabberlive_outer_sub .htabs:before {
        background: #cccccc none repeat scroll 0 0;
        content: "";
        display: @display1;
        height: 1px;
        left: 0;
        padding: 0;
        position: @position;
        top: 45%;
        width: 100%;

    }
    .tabberlive_outer_sub .htabs {
        height: 35px;
        line-height: 16px;
        position: @position1;
        text-align: @text-align;
        margin-left: 31px;
    }

    .tabberlive_outer_sub ul.tabbernav_product { clear: both; position: @position1;  text-align: @text-align; padding:0 14px 0 0; margin:0px; float:@float; background:#fff;}
    .tabberlive_outer_sub .tabbernav_product li {
        display: @display2;
        list-style: outside none none;
        padding:0 12px 0 0;
        position: @position1;
        text-align: @text-align;
        line-height:17px;
    }
    .tabberlive_outer_sub ul.tabbernav_product li a:hover { 
        border: 1px solid #000000 !important;

    }
    .tabberlive_outer_sub ul.tabbernav_product li a.selected {
        border: 1px solid #000000 !important;
        color: #000000 !important;
        font-weight: bold !important;
    }
    .tabberlive_outer_sub ul.tabbernav_product li a {
        border:1px solid #d9d9d9;
        color: #000;
        font-size: 13px;
        font-weight:normal;
        margin: 0;
        padding:8px 25px;
        text-align: @text-align;
        text-decoration: none;
        text-transform: uppercase;
        display:@display1;
        position:@position1;
    }
    .tabberlive_outer_sub .tabbernav_product .tab-text:before {
        content: attr(data-text);
        font-weight: bold;
        height: 100%;
        left: 0;
        position: @position;
        top: 0;
        transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0px, 0px);  -ms-transform:translate3d(-100%, 0px, 0px); -o-transform:translate3d(-100%, 0px, 0px); -moz-transform:translate3d(-100%, 0px, 0px); 
        width: 100%;
    }
    .tabberlive_outer_sub .tabbernav_product .tab-text { overflow: hidden;  padding: 1px;}
    .tabberlive_outer_sub .tabbernav_product .tab-text:before, .tabberlive_outer_sub .tabbernav_product .tab-text > span {
        padding: 8px 25px;
        transition: transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -moz-transition:-moz-transform 0.3s; -ms-transition:-ms-transform 0.3s; -o-transition:-0-transform 0.3s;

        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -moz-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -ms-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -o-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1);

    }
    .tabberlive_outer_sub .tabbernav_product .tab-text:hover:before{transform:translate3d(-25px, 0px, 0px);-webkit-transform:translate3d(-25px, 0px, 0px);-ms-transform:translate3d(-25px, 0px, 0px);-o-transform:translate3d(-25px, 0px, 0px);-moz-transform:translate3d(-25px, 0px, 0px);}
    .tabberlive_outer_sub .tabbernav_product .tab-text:hover > span{transform:translate3d(0px, 100%, 0px);-webkit-transform:translate3d(0px, 100%, 0px); -ms-transform:translate3d(0px, 100%, 0px); -o-transform:translate3d(0px, 100%, 0px); -moz-transform:translate3d(0px, 100%, 0px); }
    .tabberlive_outer_sub .tabbernav_product .tab-text > span { display: @display1;}
    .tabs {  margin: 30px 27px 25px;}

    .tabberlive_outer_sub .tabs .view_actions { margin: 60px 0; text-align: @text-align;}
    .tabberlive_outer_sub .tabs .view_actions a {
        padding: 5px 40px;
        background: #ffffff;
        border: 1px solid #000000;
        color: #000000;
        display:@display2; 
        font-weight:bold; 
        text-align:@text-align;
        margin: 60px;
    }
    .tabberlive_outer_sub .tabs .view_actions a:hover{ background:#000; color:#fff;}
    /* End Product Tab CMS */

}
.type_b_7{

    ul,li {
        list-style: none;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
    .testimonial_shipping_cms{ overflow:hidden;}
    .tm_shipping_cms { display: @display1;   position: relative;  width: 100%;}
    .shipping_inner { margin-right: 30px; position: @position1;}
    .tm_shipping_cms .shipping-heading::after {
        background:url(../images/title_line.png) no-repeat scroll 0 0 transparent;
        content: "";
        height: 11px;
        margin-left: 30px;
        padding: 1px;
        position: @position;
        top: 5px;
        width: 100%;
    }
    .tm_shipping_cms .shipping-heading {
        color: #000000;
        display: @display1;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 15px;
        padding-bottom: 21px;
        position: @position1;
        text-align: @text-align1;
        text-transform: uppercase;
    }
    .ship_content1, .ship_content2, .ship_content3 { clear: both; margin-bottom: 40px;  overflow: hidden;  position: @position1;  width: 100%;}
    .ship_content1 .img_content {background:url(../images/icons.png) no-repeat scroll 20px 26px transparent;padding: 20px;}
    .ship_content1:hover .img_content { background-position:20px -28px;  border-color: #262626;}
    .ship_content2 .img_content { background:url(../images/icons.png) no-repeat scroll 20px -84px transparent;  padding: 20px;}
    .ship_content2:hover .img_content{ background-position:20px -138px;  border-color: #262626;}
    .ship_content3 .img_content { background:url(../images/icons.png) no-repeat scroll 20px -192px transparent;  padding: 20px;}
    .ship_content3:hover .img_content{ background-position:20px -246px; border-color: #262626;}
    .img_content {border:1px solid #d9d9d9;float: @float;height: 80px;margin-right: 40px;position: @position1;width: 80px;box-sizing: border-box;}
    .des_content .heading { color: #1c1c1c; font-size: 15px; font-weight: 700; margin-bottom: 8px; text-transform: uppercase;}
    .des_content > div {font-weight: 300;}

    .testimonial {

        text-align: @text-align;
        width: 100%;
    }
    .testimonial_title{ display:@display;}
    .testimonial_cms_inner {

        overflow: hidden;
        position: @position1;
    }
    .testimonial_outer {
        background: #f2f2f2 none repeat scroll 0 0;
        float: @float;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .testimonial_inner {  border: 2px solid #fcfbf6;}
    .testimonial_sub_inner {
        margin: 0 auto;
        text-align: @text-align;
        width: 100%;
    }
    .testimonial-block {  margin: 51px 0 0;}
    .testimonial .image-block {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 50%; -webkit-border-radius:50%;  -khtml-border-radius:50%;  -moz-border-radius:50%;
        display: @display2;
        margin-bottom:38px;
        overflow: hidden;
        position: @position1;
    }

    .testimonial .image-block img {  display: @display1;  width: 100%;}
    .testimonial .post-description{ color:#666666;}
    .testimonial .post-author {
        font-weight: bold;
        margin: 20px 0 15px;
        padding: 0;
        text-align: @text-align;
        text-transform: uppercase;
    }
    .testimonial .post-author a{ color: #000000;}







    .carousel {
        margin-bottom: 0;
        padding: 0 40px 60px 40px;
    }
    /* The controlsy */
    .carousel-control {
        left: -12px;
        height: 40px;
        width: 40px;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        margin-top: 90px;
    }
    .carousel-control.right {
        right: -12px;
    }
    /* The indicators */
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 20px;
        margin-right: -19px;
        left:47% !important;
    }
    /* The colour of the indicators */
    .carousel-indicators li  {
        background: #cecece;
    }
    .carousel-indicators .active {
        background: #000000;
    }

    @media only screen and (max-width: 609px){

        .carousel-indicators{
            left: 46% !important;
        }
    }


    @media only screen and (max-width: 479px){
        .ship_content1, .ship_content2, .ship_content3 {
            text-align: @text-align;
            .img_content{
                margin-left: 60px;
                margin-bottom: 30px;
            } 
        }
        .carousel {
            padding:0;    
        }
        .carousel-indicators{
            left: 36% !important;
            bottom: -12px;
        }
    }

    .slider-item{text-align:@text-align;}
}
.type_b_8{


    .bottom-single-banner {
        clear: both;
        padding: 21px 0 18px;
        position: @position1;

    }
    .bottom-single-banner .item {
        overflow: hidden;
        position: @position1;
    }
    img {
        border: 0;
        vertical-align: top;
    }
    .bottom-single-banner .item img {
        transition: all 0.9s ease 0s;
        max-width: 100%;
    }
    .bottom-single-banner:hover .item img {
        transform: scale(1.05);
        transition: all 0.9s ease 0s;
    }
    @media only screen and (max-width: 1250px) and (min-width: 1024px){
        .container-width {
            width: 980px;
        }
    }
    @media only screen and (max-width: 1023px) and (min-width: 980px){
        .container-width {
            width: 940px;
        }
    }
    @media only screen and (max-width: 979px){
        .container-width {
            width: 724px;
        }
    }
    @media only screen and (max-width: 767px){
        .container-width {
            width: auto;
            margin: 0 15px;
        }
    }
}
.type_b_9{
    .container-width {
        width: 1200px;
        margin: 0 auto;
        padding: 0px;
        background: transparent;
    }
    .blog {
        position: @position1;
        text-align: @text-align;
        margin: 76px 0 0px;
    }
    * {
      margin-top: 2px;

    }
    .blog .blog-left:hover .image-block img {

        -webkit-filter: grayscale(0%);

    }
    h2 {

        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0 0 5px;
        line-height: 1.35;
    }
    .blog_title h2 {
        background: url(../images/divider.png) no-repeat scroll center bottom transparent;
        color: #000000;
        display: @display1;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 30px;
        text-align: @text-align;
        text-transform: uppercase;
    }
    .blog .blog_title h2 {
        margin-bottom: 40px;
    }  
    .blog_inner {
        clear: both;
    }
    ul {
        display: @display1;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        list-style: none;

    }
    li.item {
        list-style: none;
    }
    .products-grid {
        width: 100%;
    }
    element.style {
        width: 1200px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    .products-grid li.item {

        list-style: none;
    }
    .products-grid li.item, .col-main .slider-item {
        float: @float;
        width: 300px;
        padding: 8px;
        list-style: none;
    }
    .blog .blog-left {
        float: @float;
        margin-right: 30px;
        overflow: hidden;
        position: @position1;
    }
    .blog .blog-left .image-block {
        width: 110px;
    }
    a:-webkit-any-link {

        cursor: auto;
    }
    a {
        color: #666666;
        text-decoration: none;
    }
    .blog .post-title a:hover {
        color: #808080;
    }
    .blog .blog-left img {
        border: medium none;
        -webkit-filter: grayscale(100%);
        height: auto;
        padding: 0;
        background-color: #ffffff;
        display: @display2;
        max-width: 100%;
        -webkit-transition: all 0.2s ease-in-out 0s;
        border-radius: 0;

    }
    .blog .blog-right {

        text-align: @text-align1;
    }
    .blog .post-title {
        line-height: 18px;
    }
    .blog .post-title a {
        color: #000000;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .view-blog {

        text-align: @text-align1;
        width: 100%;
    }
    .blog .post-date {
        float: @float;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        margin: 3px 10px 8px 0;
        text-align: @text-align1;
        color: #757575;
    }

    .read-more {
        float: @float;
    }
    .view-blog a {
        color: #757575;
        font-size: 12px;
        font-style: italic;
        text-transform: capitalize;
    }
    div {
        display: @display1;
    }
}
/* carousel */
/* carousel */
.type_b_10{
    .media-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left 
    {
        left: -12px;
        background-image: @background;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        height: 40px;
        width : 40px;
        margin-top: 30px
    }
    /* Next button  */
    .thumbnail {
        display: @display1;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 0px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }
    .media-carousel .carousel-control.right 
    {
        right: -12px !important;
        background-image: @background;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        height: 40px;
        width : 40px;
        margin-top: 30px
    }
    /* Changes the position of the indicators */
    .media-carousel .carousel-indicators 
    {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    /* Changes the colour of the indicators */
    .media-carousel .carousel-indicators li 
    {
        background: #c0c0c0;
    }
    .media-carousel .carousel-indicators .active 
    {
        background: #333333;
    }
    .media-carousel img
    {
        width: 250px;
        height: 100px
    }
    .thumbnail {

    }
    /* End carousel */

    .media-carousel .carousel-control.left {
        left: -12px;
        background-image: @background;
        border: 1px solid #000;
        border-radius: 0px 0px 0px 0px;
        height: 30px;
        width: 30px;
        margin-top: 30px;
        color:black;
        background:white;
        margin-left: 15px;
    }
    .media-carousel .carousel-control.left:hover {
        left: -12px;
        background-image: @background;
        border: 1px solid #000;
        border-radius: 0px 0px 0px 0px;
        height: 30px;
        width: 30px;
        margin-top: 30px;
        color:white;
        background:black;
        margin-left: 15px;

    }

    .media-carousel .carousel-control.right {
        right: -12px !important;
        background-image: @background;
        background:white;
        border: 1px solid #000;
        border-radius: 0px;
        height: 30px;
        width: 30px;
        margin-top: 30px;
        color:black;
        margin-right: 15px;

    }
    .media-carousel .carousel-control.right:hover{
        right: -12px !important;
        background-image: @background;
        background:black;
        border: 1px solid #000;
        border-radius: 0px;
        height: 30px;
        width: 30px;
        margin-top: 30px;
        color:white;
        margin-right: 15px;


    }
}
.type_b_11{
    #footer .footer-border-left-1 {
        border-left: 1px solid #3C3C3C;
        text-align: @text-align;
        margin-top: 28px;
    }
    footer{
        display: @display1;
        margin: 0 auto;
        padding: 0px;
        background: transparent;
    }
    * {
        margin: 0;
        padding: 1px;
    }
    .footer-container {
        background: #262626;
        margin-top: 30px;
    }
    .footer-top-outer {
        background: #3c3c3c;
        padding: 27px 0 26px;
        margin: 0 0 53px;
    }
    .container-width{
        width: 1200px;
        margin: 0 auto;
        padding: 0px;
        background: transparent;
    }
    .footer-container .footer-top-outer .block {
        border: @border;
        margin: 0 30px;
    }
    .block .block-title {

        position: @position1;
    }
    .footer-container .block .block-title {
        background: none;
        -webkit-border-radius: 0px;  
        padding: 6px 0px;
        text-shadow: none;
        text-transform: capitalize;
        display: @display;
    }
    .block .block-title strong {
        display: @display1;
        padding: 0px;
    }
    .footer-container .block .block-title strong {
        font-size: 13px;
        font-weight: bold;
        margin: 12px 0px;
        color: #fff;
        text-shadow: none;
        font-family: "Raleway",sans-serif;
        text-transform: uppercase;
        position: @position1;
    }

    ul {
        display: @display1;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        list-style: none;
        margin-left: -61px;

    }
    .footer-top-outer {
        background: #3c3c3c;
        padding: 27px 0 26px;
        margin: 0 0 53px;
    }
    .footer-container .footer-top-outer .block {
        border: @border;
        margin: 0 30px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    form {
        display: inline;
    }
    .footer-container .footer-top-outer .block-content {
        background: @background;
        border: @border;
        -webkit-border-radius: 0px;

        margin: 0px;
        padding: 0px;
    }
    .footer-container .block-content .form-subscribe-header {
        float: left;
        margin: 0 0px 0 0;
    }
    .fa {
        display: @display2;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .news-text .fa {
        float: @float;
        font-size: 30px;
        line-height: 18px;
        margin-right: 6px;
        margin-top: 6px;
        color: #fff;
        margin-left: 40px;
    }
    .fa-envelope-o:before {
        content: "\f003";
    }
    .news-text .text-content {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #fff;
        float: @float;
        font-size: 18px;
        font-weight: bold;
        margin-top: 6px;
        padding: 0 20px 0 0;
        text-transform: uppercase;
    }
    .footer-container .footer-top-outer .block-content .input-box {
        float: right;
        position: @position1;
    }
    .input_inner {
        float: @float;
    }
    input {
        vertical-align: middle;
    }
    input.input-text, select, textarea {
        background: #fff;
        font-family: "Raleway",sans-serif;
        padding: 6px;
        padding-right: 215px;
    }
    .block-subscribe input.input-text {
        display: @display1;
        width: 461px;
        margin: 0px;
        border: @border;
        padding: 9px 9px 10px;
        color: #b6b6b6;
    }
    .block-subscribe .actions {
        background: @background;
        padding: 0;
        margin: 0 0 0 11px;
        text-align: @text-align1;
        float: @float;
    }
    button {
        vertical-align: middle;
    }
    button.button {
        overflow: visible;
        width: auto;
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        margin-left: 9px;
    }
    .block .actions button.button {
        float: right;
    }
    button.button span{
        display: @display1;
        font-family: "Raleway",sans-serif;
        background: #3C3C3C;
        line-height: 22px;
        text-align: @text-align;
        white-space: nowrap;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px 1px;
        color: #fff;
        border:1px solid #fff;

    }
    button.button span:hover{
        display: @display1;
        font-family: "Raleway",sans-serif;
        background: #262626;
        line-height: 22px;
        text-align: @text-align;
        white-space: nowrap;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px 1px;
        color: #fff;
        border:1px solid #262626;

    }
    .block-subscribe .actions button.button span {
        padding: 5px 32px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    .footer_inner {
        clear: both;
        margin-bottom: 68px;
        overflow: hidden;
        margin-left: 48px;
    }
    #footer .footer-area {
        border-left: 1px solid #3c3c3c;
        box-sizing: border-box;
        float: @float;
        margin-right: 15px;
        padding: 9px 0 0 80px;
        width: 100%;
        min-height: 230px;
    }
    #footer #block_1.footer-area {
        border: medium none;
        margin: -30px 53px 0 0;
        padding: 15px;
        text-align: @text-align;
        width: 100%;
        box-sizing: border-box;
        color: #c5c5c5;
        border-left: 1px solid #3c3c3c;
    }
    #footer #block_2.footer-area {
        border: medium none;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: @text-align;
        width: 100%;
        box-sizing: border-box;
        color: #c5c5c5;
        border-left: 1px solid #3c3c3c;
    }
    #footer #block_3.footer-area {
        border: medium none;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        color: #c5c5c5;
        border-left: 1px solid #3c3c3c;
    }

    #footer #block_4.footer-area {
        border: medium none;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: @text-align;
        width: 100%;
        box-sizing: border-box;
        color: #c5c5c5;
        border-left: 1px solid #3c3c3c;

    }

    h6 {
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        line-height: 1.35;

    }
    #footer h6 {
        font-size: 13px;
        font-weight: bold;
        margin: 12px 0px;
        color: #fff;
        text-shadow: none;
        font-family: "Raleway",sans-serif;
        text-transform: uppercase;
        position: @position1;
    }
    #footer #block_1.footer-area h6 {
        display: @display;
    }
    .footer li {
        padding: 0;
    }
    #footer #block_1.footer-area li {
        line-height: 23px;
    }
    .footer_logo {
        margin-bottom: 24px;
    }
    a:-webkit-any-link {

        cursor: auto;
    }
    .footer a {
        text-decoration: none;
        color: #c5c5c5;
    }
    .footer a:hover{
        text-decoration: none;
        color: #fff;
    }
    img {
        border: 0;
        vertical-align: top;
    }
    li.social_block {
        cursor: pointer;
        display: @display2;
        height: 25px;
        margin: 22px 0 0;
        padding: 0;
        width: 20px;
    }
    #footer #block_1.footer-area li {
        line-height: 23px;
    }
    #footer #block_1.footer-area-1 li {
        line-height: 23px;
        text-align: @text-align1;
        padding: 2px 0;
    }
    #footer #block_1.footer-area-1 ul {
        padding: 0;
        margin: 0;
        margin-left: 20%;
        margin-top: 28px;

    }
    .news-text{
        text-align: @text-align1;
    }
    #footer .footer-border-left .footer-title{
        padding-bottom:  20px ;
        font-weight: bold;
        font-size: 16px;
        color: #FFF;


    }

    .footer_bottom_images {
        text-align: @text-align;
        border-bottom:1px solid #3c3c3c;
        position: @position1;
    } 

    .footer_bottom{
        text-align: @text-align;
    }
    .footer_bottom_images img{
        position: @position;
        top:-3px;
        background: #262626;
        margin-left: -40px;
    } 
    .footer_bottom_images_1{
    }
    #footer .footer-border-left{
        border-left:1px solid #3C3C3C;
        text-align: @text-align;
        margin-top: 28px;

    }

    #footer li.social_block a {
        color: #555;
    }
    #footer li.social_block a .fa {
        font-size: 22px;
        font-weight: normal;
    }

    .fa-facebook-square:before {
        content: "\f082";
    }
    #footer li.social_block a:hover {
        color: #fff;
    }
    #footer .footer-area {
        border-left: 1px solid #3c3c3c;
        box-sizing: border-box;
        float: @float;
        margin-right: 15px;
        padding: 9px 0 0 80px;
        width: 21.3%;
        min-height: 230px;
    }
    #footer .footer-area {
        border-left: 1px solid #3c3c3c;
        box-sizing: border-box;
        float: @float;
        margin-right: 15px;
        padding: 9px 0 0 80px;
        width: 21.3%;
        min-height: 230px;
    }
    address {
        font-style: normal;
        color: #c5c5c5;
    }
    .footer address {
        text-align: @text-align;
        margin: -18px;
        padding: 10px 0 6px;
        line-height: 22px;
        color: #c5c5c5;
    }
    .footer ul.payment_icon {
        margin: 12px 0;
        text-align: @text-align;
        padding:2px;
    }
    .footer_bottom .payment_icon li {
        background: @background;
        display: @display2;
        padding: 0 0px;

    }
    .footer_bottom .payment_icon li a {
        display: @display1;
        height: 26px;
        width: 44px;
    }
    .footer_bottom .payment_icon li.discover a {
        background: url(../images/payment1.png) no-repeat scroll -120px 0 transparent;
    }
    .footer_bottom .payment_icon li.visa a {
        background: url(../images/payment1.png) no-repeat scroll 0 0 transparent;
    }
    .footer_bottom .payment_icon li.mastro a {
        background: url(../images/payment1.png) no-repeat scroll -180px 0 transparent;
    }
    .footer_bottom .payment_icon li.paypal a {
        background: url(../images/payment1.png) no-repeat scroll -240px 0 transparent;
    }
    .footer_bottom .payment_icon li.amex a {
        background: url(../images/payment1.png) no-repeat scroll -300px 0 transparent;
    }
    .footer_bottom .payment_icon li.g-wall a {
        background: url(../images/payment1.png) no-repeat scroll -60px 0 transparent;
    } 
    .footer_bottom .payment_icon li a span {
        font-size: 0px;
    }
}
}

