.type-727{
    @overflow: hidden;
    @positionrelative: relative;
    @width: 100%;
    @text-align: center;
    @list-style: none;
    @color: #000;
    @font-size: 13px;
    @font-weight: normal;
    @fon-weight700: 700;
    @font-family: "Raleway",sans-serif;
    @font-family-awesome: "FontAwesome";
    @displayinline: inline-block;
    @text-decoration: none;
    @font-size20: 20px;
    @margin: 0;
    @text-transform: uppercase;
    @line-height: 1.35;
    @padding0px: 0px;
    @font-weight-bold: bold;
    @cursor: pointer;
    @margin-bottom: 0;
    @border: 0;
    @vertical-align: top;
    @display-block: block;
    @padding: 1px 5px;
    @position: absolute;
    @right: 0px;
    @opacity:1;
    @background:#FFFFFF;
    @clear: both;
    @display:none;
    @height:40px;
    @width40:40px;
    @colorblack: black;
    @margin005px: 0 0 5px;
    @float:left;
    @z-index: 0;
    @max-width: 500px;
    @left:0;
    @color6: #666666;
    @font-size14:14px;
    @font-size16: 16px;
    @color-fff: #fff;
    @text-align-left: left;
    @max-width-180: 180px;
    @margin-15-0: 15px 0;
    @border-solid-d9: 1px solid #d9d9d9;
    @padding-8-8: 8px 8px;
    @padding-5-10: 5px 10px;
    @border-solid-0: 1px solid #000;
    @color-808080: #808080;
    @white-space: nowrap;
    @vertical-align-middle: middle;
    @background-fff: #fff;
    @color-000000: #000000;
    .image {
        width: 100%;
        display: block;
        height: auto;
    }
    .add-to-links-li-a-link-compare-before {
        color: @color;
        content: "\f080";
        font-family: @font-family-awesome;
        font-size: @font-size14;
        padding: 7px;
    }
    .a-strong-hover {
        font-family: @font-family;
        font-size: @font-size;
        font-weight: @font-weight;
    }
    .product-block-hover-new-label{
        opacity:@opacity;
    }


    @media (min-width: 1200px){
        .container {
            width: 927px;
        }
    }
    /*-----Detai_1-----*/
    .parallex.column-left-breadcrumbs 
    {
        background: url(../images/bredcrumb.jpg) repeat scroll 50% 0 transparent;
        /* height: 120px; */
        margin: 0 0 55px;
        overflow: @overflow;
        position: @position;
        width: @width;

        text-align: @text-align;
        ul{
            list-style: @list-style;
            padding: @padding;
            a{
                color: @color;
                font-size: @font-size;
                font-weight: @font-weight;
                letter-spacing: 1.5px;
                display: @displayinline;
            }
            a:hover{
                color: @color;
                .a-strong-hover;


            }
            strong{
                .a-strong-hover;
                letter-spacing: 1.5px;
            }
        }

        .page-title {
            border-bottom: none;
            margin: 0 0 0px;
            overflow: @overflow;
            padding-bottom: 11px;
            width: @width;
            h1 {
                border-bottom: medium none;
                color: @color;
                font-size: @font-size20;
                font-weight: @fon-weight700;
                margin: @margin;
                text-transform: @text-transform;
                z-index: 4;
                line-height: @line-height;

            }

            .breadcrumbs {
                line-height: 1.25;
                margin: 0px;

            }
        }
    }


    /*-----Detail_product-----*/
    .product-view {
        margin: 0px;
        padding: @padding;
        .detail_left{
            text-align: @text-align;
            img{
                width: @width;
            }
            li{
                list-style: @list-style;
            }
            .click{
                cursor: @cursor;
                width: 100px;
            }
            .carousel {
                margin-bottom: @margin-bottom;
                .img {
                    border: @border;
                    vertical-align: @vertical-align;
                } 

                body{padding-top:20px;}

                .product-carousel .product-block-inner{
                    overflow: @overflow;
                    padding:@padding0px;
                    position: @position;
                    text-align: @text-align;
                }
                .product-carousel {
                    .slider-wrapper-outer {
                        .slider-wrapper {
                            .carousel-inner {
                                .item active {
                                    li {
                                        width:100%;
                                    }
                                }
                            }
                        }

                    }
                }
                .product-carousel {
                    .slider-wrapper-outer {
                        .slider-wrapper {
                            .carousel-inner {
                                .item active {
                                    li {
                                        .product-block {
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .product-block .product-image-block .hover-image {
                    left: @left;
                    position: @position;
                    right: 0;
                    text-align: @text-align-left;
                    top: 0;
                    height:auto;
                    visibility: hidden;
                    width: @width;
                }
                .product-block .product-image-block:hover .hover-image {   
                    overflow: @overflow;    
                    visibility: visible;
                }
                .new-label {
                    color:#dc2626;
                    display: @display-block;
                    padding: @padding;
                    position: @position;
                    right: @right;
                    text-align: @text-align;
                    text-transform:capitalize;
                    top: 0px;
                    z-index: 8;
                    opacity:0; -khtml-opacity:0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
                }

                .product-block:hover .new-label{
                    .product-block-hover-new-label;
                }

                .product-block:hover .product_hover-block{ 
                    opacity:@opacity;
                }
                .product_hover-block .actions .availability.out-of-stock { border: 1px solid #d83820; line-height: 22px;  padding:6px 12px; margin:@margin; background:@background;}
                .product_hover-block .actions .add-to-links{ 
                    display:none;
                }
                .product_hover-block .add-to-links li:hover{ 
                    background:#000; 
                    border-color:#000; 
                    transition:all 0.3s ease 0s; 
                }
                .product_hover-block .add-to-links li {
                    background: #fff;  
                    border: @border-solid-0; 
                    box-sizing:border-box; 
                    display:inline-block; 
                    font-size:0; 
                    height: 32px; 
                    line-height: 30px; 
                    margin: 0 1px; 
                    width:36px; 
                    text-align:center;
                    padding:0 3px;
                }
                .add-to-links li a.link-wishlist::before {
                    .add-to-links-li-a-link-compare-before;
                }
                .add-to-links li a.link-compare::before {
                    .add-to-links-li-a-link-compare-before;
                }
                .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before
                    { 
                    color:@color-fff;
                }
                .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { 
                    display: @display-block; 
                    height: 100%; 
                    width: @width;
                }


                .product-carousel .product-block{
                    background:@background;
                    clear: @clear;
                    overflow: @overflow;
                }
                .product-carousel .product-block-inner {
                    overflow: @overflow;
                    padding:@padding0px;
                    position: @positionrelative;
                    text-align: @text-align;
                }
                .product-carousel {
                    display: @display;
                    opacity:@opacity!important;
                    position: @positionrelative;
                    width: @width;
                    opacity: 0;
                    display: block;
                    margin-left: -25px;
                }
                .product-carousel {
                    .slider-wrapper{
                        display: @display;
                        position: @positionrelative;     
                    }
                }
                .product-carousel {
                    .slider-wrapper-outer{
                        position: @positionrelative;
                        width: @width;

                    }
                }
                .slider-wrapper-outer {
                    .slider-wrapper {
                        width: 100%;
                        display: block;
                    }
                }
                /* The controlsy */
                .carousel-control {
                    height: @height;
                    width: @width40;
                    background: none repeat scroll;
                    font-size: 40px;
                    color: @colorblack;
                    margin-left: -20px;
                }  
            }
            .product-img-box{
                .image img {
                    width: @width;
                    transition: 0.3s all ease;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: crosshair;
                }
                .image:hover img {
                    transform: scale(1.1) !important;
                }
            }

        }
    }
    .detail_right{
        text-align: @text-align-left;
        letter-spacing: 0.5px;
        color: @color;       
        .product-name{
            margin: 0 0 15px;
            h1 {
                margin: @margin;
                font-size: @font-size16;
                font-weight: @font-weight-bold;
                text-transform: @text-transform;
                color: @color;
                line-height: @line-height;
            }
            #prev-next-links {
                float: right;
                margin-top: -26px;
                width: 50px;
                .prev-next{
                    font-size: @font-size20;
                    margin: 0 2px;
                }
                a{
                    color: #d9d9d9;
                    text-decoration: @text-decoration;
                }
            }
        }
        .no-rating {
            margin: 0 0 10px;
            a{
                color: @color;
            }
            a:hover{
                color: @color;
                text-decoration: @text-decoration;
            }
        }
        .sku {
            margin: @margin-15-0;

        }
        .short-description {
            margin: 10px 0;
        }
        .availability {
            float: @float;
            margin: 5px 0 15px;
            text-align: @text-align-left;          
        }
        .price-box {
            margin: 15px 0 15px;
            clear: @clear;
            .price {
                font-size: 22px;
                font-weight: @font-weight-bold;
                color: @color;
            }
            .price-old{
                font-size: 22px;
                font-weight: @font-weight-bold;
                color: #eee;
            }
        }
        .in-stock span {
            color: #008000;
        }
        .product-options {
            margin: @margin;
            padding: 0 0 15px;
            position: @positionrelative;
            z-index: 2;
            label{
                font-weight: 100;
                margin-left: 10px;
                span{
                    color: @colorblack;
                    font-weight: @fon-weight700;
                    padding-left: 10px;
                }
            }
            .color-price{
                padding: 5px 10px 10px;
                margin:@margin005px;
            }
            dt {
                padding: 10px 0 0;
                font-weight: @font-weight;
                .required{
                    margin: @margin;
                    em {
                        color: #DD4B39;

                    }
                }
            }
            p.required {
                font-size: 11px;
                text-align: right;
                color: #DD4B39;
                margin: 0 0 10px;
                position: @position;
                right: 0;
            }

        }
        .product-options-bottom {
            padding: 10px 0px;
            margin: 0 0 10px;
            .add-to-cart {
                float: @float;
                margin: @margin;
                padding: @padding;
                label {
                    color: @color-000000;
                    display: @display-block;
                    font-weight: @font-weight-bold;
                    margin: 10px 10px 10px 0;
                }

            }
            .input-content {
                float: @float;
                margin-right: 15px;
                .box-qty {
                    border: @border-solid-d9;
                    float: @float;
                    .qty {
                        float: @float;
                        padding: 11px 0 12px;
                        text-align: @text-align;
                        width: 50px !important;
                        border: none;
                        border-right: 1px solid #d9d9d9;
                        margin: 0px;
                        background: transparent;
                    }
                    .qty-arrows {
                        float: @float;
                        width: 18px;
                    }
                    input.qty-increase {
                        background-position: inherit;
                        margin-top: 1px;
                        background: url(../images/btn-qty.png);
                        border: medium none;
                        cursor: @cursor;
                        display: @display-block;
                        height: 17px;
                        width: 16px;
                    }
                    input.qty-decrease {
                        background-position: inherit;
                        background: url(../images/btn-qty.png) no-repeat scroll 0 97% transparent;
                        border: medium none;
                        cursor: @cursor;
                        display: @display-block;
                        height: 17px;
                        width: 16px;
                    }
                }
            }
            .button.btn-cart {
                width: auto;
            }
            button.button {
                overflow: visible;
                width: auto;
                border: @border;
                padding: @padding;
                margin: @margin;
                background: transparent;
                cursor: @cursor;
                span{
                    display: @display-block;
                    font-family: @font-family;
                    background: #fff;
                    line-height: 22px;
                    text-align: @text-align;
                    white-space: @white-space;
                    color: @color;
                    text-decoration: @text-decoration;
                    border: 1px solid #000000;
                    font-weight: @font-weight-bold;
                    text-transform: @text-transform;
                    padding: 10px 20px;
                }
                span:hover{
                    background: #000;
                    color: @color-fff;
                }
            }

        }
        .email-addto-box {
            margin-bottom: 10px;
            a {
                color: @color;
                text-decoration: @text-decoration;
            }
            a:hover{
                color: @color;
            }
            .email-friend {
                float: @float;
                margin-right: 10px;
                a::before {
                    color: @color6;
                    content: "\f003";
                    font-family: @font-family-awesome;
                    font-size: @font-size16;
                    height: 16px;
                    line-height: 18px;
                    vertical-align: @vertical-align;
                    width: 25px;
                }

            }
            .add-to-links {
                margin: 0px 0;
                font-size: @font-size;
                li {
                    list-style: @list-style;
                    a:before {
                        color: @color6;
                        padding: 7px 7px 0 0;
                    }
                    a.link-wishlist {
                        display: @display-block;
                        height: 100%;
                        width: @width;
                    }
                    a.link-wishlist::before {
                        color: @color;
                        content: "\f004";
                        font-family: @font-family-awesome;
                        font-size: @font-size14;
                        padding: 7px;
                    }
                    .separator {
                        display: @display;
                        margin: 0 3px;
                    }
                    a.link-compare::before {
                        color: @color;
                        content: "\f080";
                        font-family: @font-family-awesome;
                        font-size: @font-size14;
                        padding: 7px;
                    }
                    a.link-compare {
                        display: @display-block;
                        height: 100%;
                        width: @width;
                    }
                }
            }
            ul {
                list-style: @list-style;
            }
        }
        .tabberlive {
            clear: @clear;
            margin-top: 25px;
            text-align: @text-align;
            ul{
                list-style: @list-style;
                margin-bottom: @margin-bottom;
            }
            ul.tabbernav_product {
                padding: @padding;
                width: @width;
                overflow: @overflow;
                clear: @clear;
                li {
                    background: #ffffff;
                    float: @float;
                    margin: 0 -1px -1px 0;
                    padding: @padding;
                    a.selected {
                        background: #262626;
                        color: @color-fff;
                        display: @display-block;
                        border-color: #262626;

                    }
                    a {
                        padding: 4px 16px;
                        background: transparent;
                        border: @border-solid-d9;
                        display: @display-block;
                        font-size: 12px;
                        text-decoration: @text-decoration;
                        color: @color;
                    }
                }
            }
            .tabs-live {
                border: @border-solid-d9;
                display: @display-block;
                line-height: 22px;
                margin: @margin;
                padding: 20px 15px 15px;
                text-align: @text-align-left;
                p {
                    margin: 0 0 10px;
                }
                .data-table {
                    width: @width;
                    border: @border-solid-d9;
                }
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    empty-cells: show;
                    font-size: 100%;
                    thead {
                        display: table-header-group;
                        vertical-align: @vertical-align-middle;
                        border-color: inherit;
                        tr {
                            display: table-row;
                            vertical-align: inherit;
                            border-color: inherit;
                        }
                        th {
                            background: #fff;
                            border-bottom: @border-solid-d9;
                            font-weight: @font-weight-bold;
                            padding: @padding-8-8;
                            color: @color-808080;
                            white-space: @white-space;
                            vertical-align: @vertical-align-middle;
                        }
                    }
                    td {
                        padding: @padding-8-8;
                    }
                }
            }
        }

    }

    .product-collateral {
        p {
            margin: 10px 0;
        }
        margin-top: 50px;
        margin-bottom: 50px;
        ul{
            list-style: @list-style;
            margin-bottom: @margin-bottom;
        }
        ul.tabbernav_product2 {
            padding: @padding;
            width: @width;
            overflow: @overflow;
            clear: @clear;
            li {
                background: #ffffff;
                float: @float;
                margin: 0 -1px -1px 0;
                padding: @padding;
                a.selected {
                    background: #262626;
                    color:@color-fff;
                    display: @display-block;


                }
                a:hover {
                    color: #aaa;
                }
                a {
                    text-transform: @text-transform;
                    background: transparent;
                    font-weight: @font-weight-bold;
                    color: @color;
                    display: @display-block;
                    font-size: @font-size;
                    padding: 12px 20px;

                    text-decoration: @text-decoration;
                }
            }
        }

        .tabs{
            padding: 25px 0px;
            background: #FFF;
            border-bottom: @border-solid-d9;  

            box-tags {
                margin: @margin;
                .note {
                    margin: 3px 0 0;
                    padding: 0 0 0px;
                    font-size: 12px;
                }
            }
            .form-add{
                label {
                    display: @display-block;
                    margin: @margin005px;
                }
                .input-box {
                    float: @float;
                    margin-bottom: 6px;
                    .input-text{
                        width: 300px;
                        margin-right: 5px;
                        padding: 3px;
                    }
                }
                button {
                    overflow: visible;
                    width: auto;
                    border: @border;
                    padding: @padding;
                    margin: @margin;
                    background: transparent;
                    cursor: @cursor;
                    span {
                        display: @display-block;
                        font-family: @font-family;
                        background: #fff;
                        line-height: 22px;
                        padding: 3px 12px;
                        text-align: @text-align;
                        white-space: @white-space;
                        color: @color;
                        text-decoration: @text-decoration;
                        border: 1px solid #000000;
                        font-weight: @font-weight-bold;
                        text-transform: @text-transform;
                    }
                }

            }
            .review{
                h2 {
                    font-weight: @font-weight-bold;
                    font-size: @font-size14;
                    border-bottom: @border-solid-d9;
                    padding: 0 0 10px;
                    margin: 0 0 15px;
                    text-transform: @text-transform;
                    color: @color;
                }
                form {
                    display: inline;
                    fieldset {
                        border: @border;
                        h3 {
                            font-size: @font-size16;
                            font-weight: @font-weight;
                        }
                        h4 {
                            font-size: @font-size14;
                            font-weight: @font-weight;
                        }
                        #product-review-table {
                            max-width: @max-width-180;
                            margin: @margin-15-0;
                        }
                        .data-table {
                            width: @width;
                            border: @border-solid-d9;
                            th {
                                padding: @padding-8-8;
                                font-weight: @font-weight-bold;
                            }
                            td {
                                padding: @padding-8-8;
                            }
                        }
                        thead th {
                            background: #fff;
                            border-bottom: @border-solid-d9;
                            font-weight: @font-weight-bold;                               
                            padding: @padding-8-8;
                            color: @color-808080;
                            white-space: @white-space;
                            vertical-align: @vertical-align-middle;
                        }
                        ul{
                            padding: @padding;
                        }
                        .form-list li {
                            margin: 0 0 8px;
                            label {
                                float: @float;
                                font-weight: @font-weight;
                                position: @positionrelative;
                                z-index: @z-index;
                                padding-bottom: 5px;

                            }
                            .input-box {
                                max-width: @max-width;
                                width: @width;
                                display: @display-block;
                                clear: @clear;
                            }
                            input.input-text {
                                width: 250px;
                            }
                            textarea {
                                width: 95%;
                                height: 10em;
                            }
                        }
                    }
                    .buttons-set {
                        clear: @clear;
                        margin: 20px 0 0;
                        padding: 5px;
                        border: 1px solid #fff;
                        text-align: right;
                    }
                }
            }      
        }   
        .padder {
            display: @display;
            padding: 25px 15px;
            background: #FFF;

            .btn {
                text-align: @text-align-left; 
                width: @width;
                padding: 10px;
                font-weight: @font-weight-bold;
                font-size: 15px;
                text-transform: @text-transform;
                margin: 0 0 2px;
                position: @positionrelative;
                border-radius: 0px;
            }
            .btn:hover, .btn:focus {
                color: #333; 
                text-decoration: @text-decoration; 
            }
            .detail_collap{
                margin: 2px 0;
            }
            h5.mobile_togglemenu {
                background: url("../images/toggle-arrow.png") no-repeat scroll right 0px transparent;
                cursor: @cursor;
                display: @display-block;
                font-size: 15px;
                margin-right: 0;
                margin-top: -20px;
                overflow: @overflow;
                padding: @padding;
                text-decoration: @text-decoration;
                margin-bottom: 0px;
                width: @width;
                position: @position;
                right: 10px;
            }
            .c_review{               
                h2 {
                    font-weight: @font-weight-bold;
                    font-size: @font-size14;
                    border-bottom: @border-solid-d9;
                    padding: 0 0 10px;
                    margin: 0 0 15px;
                    text-transform: @text-transform;
                    color: @color;
                }
                form {
                    display: inline;
                    fieldset {
                        border: @border;
                        h3 {
                            font-size: @font-size16;
                            font-weight: @font-weight;
                        }
                        h4 {
                            font-size: @font-size14;
                            font-weight: @font-weight;
                        }
                        #product-review-table {
                            max-width: @max-width-180;
                            margin: @margin-15-0;
                        }
                        .data-table {
                            width: @width;
                            border: @border-solid-d9;
                            th {
                                padding: @padding-8-8;
                                font-weight: @font-weight-bold;
                            }
                            td {
                                padding: @padding-8-8;
                            }
                        }
                        thead th {
                            background: #fff;
                            border-bottom: @border-solid-d9;
                            font-weight: @font-weight-bold;                               
                            padding:@padding-8-8;
                            color: @color-808080;
                            white-space: @white-space;
                            vertical-align: @vertical-align-middle;
                        }
                        ul{
                            padding: @padding;
                        }
                        .form-list li {
                            margin: 0 0 8px;
                            label {
                                float: @float;
                                font-weight: @font-weight;
                                position: @positionrelative;
                                z-index: @z-index;
                                padding-bottom: 5px;

                            }
                            .input-box {
                                max-width: @max-width;
                                width: @width;
                                display: @display-block;
                                clear: @clear;
                            }
                            input.input-text {
                                width: 250px;
                            }
                            textarea {
                                width: 95%;
                                height: 10em;
                            }
                        }
                    }
                    .buttons-set {
                        clear: @clear;
                        margin: 20px 0 0;
                        padding: 5px;
                        border: 1px solid #fff;
                        text-align: right;
                    }
                }
            }
            .c_tags{                
                box-tags {
                    margin: @margin;
                    .note {
                        margin: 3px 0 0;
                        padding: 0 0 0px;
                        font-size: 12px;
                    }
                }
            }
            .c_tab, .c_decription, .c_review, .c_tags{
                margin: 0 0 10px;
                padding: 15px;
                border-bottom: @border-solid-d9;
            }
        }
    }

    .clear{
        clear: @clear;
    }

    /*-----Magento_1-----*/
    .demo1{
        text-align: @text-align;
        margin-top:20px;

        a{
            border: 1px solid #c7c7c7;
            padding: @padding-5-10;
            color: @color;
            font-size: @font-size20;

        }
        a:hover{
            border: @border-solid-0;
            padding: @padding-5-10;
            color: @color-fff;
            background-color: @color;
            font-size: @font-size20;
            text-decoration: @text-decoration;
        }
    }

    .img {
        border: @border;
        vertical-align: @vertical-align;
    } 
    .tabberlive_outer_sub { 
        margin:72px 0 87px;
    }
    .tab-main-title{ display:@display;
    }
    .tabberlive_outer_sub .customNavigation a{ 
        display:@display;
    }
    .tabberlive_outer_sub:hover .customNavigation a{ 
        display:@display-block;
    }

    .blog_title h2, .testimonial_title h2,.manufacture .category-title h1, .category-title h2, .category-title h2 a{
        background:url(../images/divider.jpg) no-repeat scroll center bottom transparent;
        color: @color-000000;
        display: @display-block;
        font-size: 18px;
        font-weight: @font-weight-bold;
        margin-bottom: 30px;
        padding-bottom: 29px;
        text-align: @text-align;
        text-transform: @text-transform;
    }
    .tabbernav_product_sub .category-title { 
        display: @display;
    }

    .tabbernav_product_sub .htabs {
        line-height: 16px;
        position: @positionrelative;
        text-align: @text-align;
    }

    .tabbernav_product_sub .htabs:before {
        background: #cccccc none repeat scroll 0 0;
        content: "";
        display: @display-block;
        height: 1px;
        left: @left;
        padding: @padding;
        position: @position;
        top: 45%;
        width: @width;
    }

    .tabbernav_product_sub ul.tabbernav_product { 
        clear: @clear; 
        position: @positionrelative;  
        text-align: @text-align; 
        padding:0px 22px; 
        margin:@margin; 
        z-index:9; 
        background:@background-fff; 
        display:@displayinline;
    }
    .tabbernav_product_sub .tabbernav_product li {
        display: @displayinline;
        list-style: outside none none;
        padding:0 5px;
        position: @positionrelative;
        text-align: @text-align;
        line-height:17px;
        margin-left: @left;
        border-right: 1px solid rgb(221, 221, 221);
    }

    .nav-pills>li.active>a ,.nav-pills li a:focus{
        color: #fff !important;
        font-weight:@font-weight-bold;
        background-color: #000 !important;
    }
    .nav-pills>li>a {
        border-radius: 0px !important; 
    }
}







