
.type_b_chitiet_1{
    @media (min-width: 1200px){
        .container {
            width: 927px;
        }
    }
    /*-----Detai_1-----*/
    .parallex.column-left-breadcrumbs 
    {
        background: url(../images/bredcrumb.jpg) repeat scroll 50% 0 transparent;
        /* height: 120px; */
        margin: 0 0 55px;
        overflow: hidden;
        position: relative;
        width: 100%;

        text-align: center;
        ul{
            list-style: none;
            padding: 0;
            a{
                color: #666;
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 1.5px;
                display: inline-block;
            }
            a:hover{
                color: #000;
                text-decoration: none;
                font-family: "Raleway",sans-serif;
                font-size: 13px;
                font-weight: normal;


            }
            strong{
                color: #666;
                font-family: "Raleway",sans-serif;
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 1.5px;
            }
        }

        .page-title {
            border-bottom: none;
            margin: 0 0 0px;
            overflow: hidden;
            padding-bottom: 11px;
            width: 100%;
            h1 {
                border-bottom: medium none;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                margin: 0;
                text-transform: uppercase;
                z-index: 4;
                line-height: 1.35;

            }

            .breadcrumbs {
                line-height: 1.25;
                margin: 0px;

            }
        }
    }


    /*-----Detail_product-----*/
    .product-view {
        margin: 0px;
        padding: 0px;
        .detail_left{
            text-align: center;
            img{
                width: 100%;
            }
            li{
                list-style: none;
            }
            .click{
                cursor: pointer;
                width: 100px;
                height: 105;
            }
            .carousel {
                margin-bottom: 0;
                .img {
                    border: 0;
                    vertical-align: top;
                } 

                body{padding-top:20px;}

                .product-carousel .product-block-inner{
                    overflow: hidden;
                    padding:0px;
                    position: relative;
                    text-align: center;
                }

                .product-block .product-image-block .hover-image {
                    left: 0;
                    position: absolute;
                    right: 0;
                    text-align: left;
                    top: 0;
                    height:auto;
                    visibility: hidden;
                    width: 100%;
                }
                .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}
                .new-label {
                    color:#dc2626;
                    display: block;
                    padding: 1px 5px;
                    position: absolute;
                    right: 0px;
                    text-align: center;
                    text-transform:capitalize;
                    top: 0px;
                    z-index: 8;
                    opacity:0; -khtml-opacity:0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
                }

                .product-block:hover .new-label{opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
                .product-block:hover .new-label2{opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}

                .product-image-block-inner .product-image-block {
                    position: relative;
                }
                a.product-image { display:block; }
                .product-block .product-image-block img {height: auto;   }
                .product-block .product-image-block .hover-image {
                    left: 0;
                    position: absolute;
                    right: 0;
                    text-align: left;
                    top: 0;
                    height:auto;
                    visibility: hidden;
                    width: 100%;
                }
                .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}
                .product_hover-block  {
                    bottom: 0;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                }

                .product-block:hover .product_hover-block{ opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
                .product_hover-block .actions .availability.out-of-stock { border: 1px solid #d83820; line-height: 22px;  padding:6px 12px; margin:0px; background:#fff;}
                .product_hover-block .actions .add-to-links{ display:none;}
                .product_hover-block .add-to-links li:hover{ background:#000; border-color:#000; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s;}
                .product_hover-block .add-to-links li {
                    background: #fff;  
                    border: 1px solid #000; 
                    box-sizing:border-box; 
                    display:inline-block; 
                    font-size:0; 
                    height: 32px; 
                    line-height: 30px; 
                    margin: 0 1px; 
                    width:36px; 
                    text-align:center;
                    padding:0 3px;
                }
                .add-to-links li a.link-wishlist::before {
                    color: #000;
                    content: "\f004";
                    font-family: "FontAwesome";
                    font-size: 14px;
                    padding: 7px;
                }
                .add-to-links li a.link-compare::before {
                    color: #000;
                    content: "\f080";
                    font-family: "FontAwesome";
                    font-size: 14px;
                    padding: 7px;
                }
                .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before{ color:#fff;}
                .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { display: block; height: 100%; width: 100%;}

                .product-carousel .product-block{
                    background:#FFFFFF;
                    clear: both;
                    overflow: hidden;
                }
                .product-carousel .product-block-inner{
                    overflow: hidden;
                    padding:0px;
                    position: relative;
                    text-align: center;
                }

                .product-carousel{
                    display: none;
                    opacity:1!important; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;
                    position: relative;
                    width: 100%;
                    -ms-touch-action: pan-y;
                }

                .product-carousel .slider-wrapper{
                    display: none;
                    position: relative;
                    -webkit-transform: translate3d(0px, 0px, 0px);
                    -webkit-perspective: 1000;
                }

                .product-carousel .slider-wrapper-outer{

                    position: relative;
                    width: 100%;
                }

                .product-carousel .slider-wrapper-outer.autoHeight{
                    -webkit-transition: height 500ms ease-in-out;
                    -moz-transition: height 500ms ease-in-out;
                    -ms-transition: height 500ms ease-in-out;
                    -o-transition: height 500ms ease-in-out;
                    transition: height 500ms ease-in-out;
                } 

                /* The controlsy */
                .carousel-control {
                    height: 40px;
                    width: 40px;
                    background: none repeat scroll;

                    font-size: 40px;
                    color: black;
                    margin-left: -20px;
                }
                .carousel-control.right {
                    right: -12px;
                }
            }
            .product-img-box{
                .image img {
                    width: 100%;
                    transition: 0.3s all ease;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: crosshair;
                }
                .image:hover img {
                    transform: scale(1.1) !important;
                }
            }

        }
    }
    .detail_right{
        text-align: left;
        letter-spacing: 0.5px;
        color: #666;       
        .product-name{
            margin: 0 0 15px;
            h1 {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: #000;
                line-height: 1.35;
            }
            #prev-next-links {
                float: right;
                margin-top: -26px;
                width: 50px;
                .prev-next{
                    font-size: 20px;
                    margin: 0 2px;
                }
                a{
                    color: #d9d9d9;
                    text-decoration: none;
                }
            }
        }
        .no-rating {
            margin: 0 0 10px;
            a{
                color: #666;
            }
            a:hover{
                color: #000;
                text-decoration: none;
            }
        }
        .sku {
            margin: 15px 0;

        }
        .short-description {
            margin: 10px 0;
        }
        .availability {
            float: left;
            margin: 5px 0 15px;
            text-align: left;          
        }
        .price-box {
            margin: 15px 0 15px;
            clear: both;
            .price {
                font-size: 22px;
                font-weight: bold;
                color: #000;
            }
            .price-old{
                font-size: 22px;
                font-weight: bold;
                color: #eee;
            }
        }
        .in-stock span {
            color: #008000;
        }
        .product-options {
            margin: 0;
            padding: 0 0 15px;
            position: relative;
            z-index: 2;
            label{
                font-weight: 100;
                margin-left: 10px;
                span{
                    color: black;
                    font-weight: 700;
                    padding-left: 10px;
                }
            }
            .color-price{
                padding: 5px 10px 10px;
                margin: 0 0 5px;
            }
            dt {
                padding: 10px 0 0;
                font-weight: normal;
                .required{
                    margin: 0;
                    em {
                        color: #DD4B39;

                    }
                }
            }
            p.required {
                font-size: 11px;
                text-align: right;
                color: #DD4B39;
                margin: 0 0 10px;
                position: absolute;
                right: 0;
            }

        }
        .product-options-bottom {
            padding: 10px 0px;
            margin: 0 0 10px;
            .add-to-cart {
                float: left;
                margin: 0;
                padding: 0;
                label {
                    color: #000000;
                    display: block;
                    font-weight: bold;
                    margin: 10px 10px 10px 0;
                }

            }
            .input-content {
                float: left;
                margin-right: 15px;
                .box-qty {
                    border: 1px solid #d9d9d9;
                    float: left;
                    .qty {
                        float: left;
                        padding: 11px 0 12px;
                        text-align: center;
                        width: 50px !important;
                        border: none;
                        border-right: 1px solid #d9d9d9;
                        margin: 0px;
                        background: transparent;
                    }
                    .qty-arrows {
                        float: left;
                        width: 18px;
                    }
                    input.qty-increase {
                        background-position: inherit;
                        margin-top: 1px;
                        background: url(../images/btn-qty.png) no-repeat scroll 0 97% transparent;
                        border: medium none;
                        cursor: pointer;
                        display: block;
                        height: 17px;
                        width: 16px;
                    }
                    input.qty-decrease {
                        background: url(../images/btn-qty.png) no-repeat scroll 0 97% transparent;
                        border: medium none;
                        cursor: pointer;
                        display: block;
                        height: 17px;
                        width: 16px;
                    }
                }
            }
            .button.btn-cart {
                width: auto;
            }
            button.button {
                overflow: visible;
                width: auto;
                border: 0;
                padding: 0;
                margin: 0;
                background: transparent;
                cursor: pointer;
                span{
                    display: block;
                    font-family: "Raleway",sans-serif;
                    background: #fff;
                    line-height: 22px;
                    text-align: center;
                    white-space: nowrap;
                    color: #000;
                    text-decoration: none;
                    border: 1px solid #000000;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 10px 20px;
                }
                span:hover{
                    background: #000;
                    color: #fff;
                }
            }

        }
        .email-addto-box {
            margin-bottom: 10px;
            a {
                color: #666;
                text-decoration: none;
            }
            a:hover{
                color: #000;
            }
            .email-friend {
                float: left;
                margin-right: 10px;
                a::before {
                    color: #666666;
                    content: "\f003";
                    display: inline-block;
                    font-family: "FontAwesome";
                    font-size: 16px;
                    height: 16px;
                    line-height: 18px;
                    vertical-align: top;
                    width: 25px;
                }

            }
            .add-to-links {
                margin: 0px 0;
                font-size: 13px;
                li {
                    display: inline-block;
                    list-style: none;
                    a:before {
                        color: #666666;
                        padding: 7px 7px 0 0;
                    }
                    a.link-wishlist {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                    a.link-wishlist::before {
                        color: #000;
                        content: "\f004";
                        font-family: "FontAwesome";
                        font-size: 14px;
                        padding: 7px;
                    }
                    .separator {
                        display: none;
                        margin: 0 3px;
                    }
                    a.link-compare::before {
                        color: #000;
                        content: "\f080";
                        font-family: "FontAwesome";
                        font-size: 14px;
                        padding: 7px;
                    }
                    a.link-compare {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            ul {
                list-style: none;
            }
        }
        .tabberlive {
            clear: both;
            margin-top: 25px;
            text-align: center;
            ul{
                list-style: none;
                margin-bottom: 0;
            }
            ul.tabbernav_product {
                padding: 0;
                width: 100%;
                overflow: hidden;
                clear: both;
                li {
                    background: #ffffff;
                    float: left;
                    margin: 0 -1px -1px 0;
                    padding: 0;
                    a.selected {
                        background: #262626;
                        color: #fff;
                        display: block;
                        border-color: #262626;

                    }
                    a {
                        padding: 4px 16px;
                        background: transparent;
                        border: 1px solid #d9d9d9;
                        display: block;
                        font-size: 12px;
                        text-decoration: none;
                        color: #666;
                    }
                }
            }
            .tabs-live {
                border: 1px solid #d9d9d9;
                display: block;
                line-height: 22px;
                margin: 0;
                padding: 20px 15px 15px;
                text-align: left;
                p {
                    margin: 0 0 10px;
                }
                .data-table {
                    width: 100%;
                    border: 1px solid #d9d9d9;
                }
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    empty-cells: show;
                    font-size: 100%;
                    thead {
                        display: table-header-group;
                        vertical-align: middle;
                        border-color: inherit;
                        tr {
                            display: table-row;
                            vertical-align: inherit;
                            border-color: inherit;
                        }
                        th {
                            background: #fff;
                            border-bottom: 1px solid #d9d9d9;
                            font-weight: bold;
                            padding: 8px 8px;
                            color: #808080;
                            white-space: nowrap;
                            vertical-align: middle;
                        }
                    }
                    td {
                        padding: 8px 8px;
                    }
                }
            }
        }

    }

    .product-collateral {
        p {
            margin: 10px 0;
        }
        margin-top: 50px;
        margin-bottom: 50px;
        ul{
            list-style: none;
            margin-bottom: 0;
        }
        ul.tabbernav_product2 {
            padding: 0;
            width: 100%;
            overflow: hidden;
            clear: both;
            li {
                background: #ffffff;
                float: left;
                margin: 0 -1px -1px 0;
                padding: 0;
                a.selected {
                    background: #262626;
                    color: #fff;
                    display: block;


                }
                a:hover {
                    color: #aaa;
                }
                a {
                    text-transform: uppercase;
                    background: transparent;
                    font-weight: bold;
                    color: #000;
                    display: block;
                    font-size: 13px;
                    padding: 12px 20px;

                    text-decoration: none;
                }
            }
        }

        .tabs{
            padding: 25px 0px;
            background: #FFF;
            border-bottom: 1px solid #d9d9d9;  

            box-tags {
                margin: 0;
                .note {
                    margin: 3px 0 0;
                    padding: 0 0 0px;
                    font-size: 12px;
                }
            }
            .form-add{
                label {
                    display: block;
                    margin: 0 0 5px;
                }
                .input-box {
                    float: left;
                    margin-bottom: 6px;
                    .input-text{
                        width: 300px;
                        margin-right: 5px;
                        padding: 3px;
                    }
                }
                button {
                    overflow: visible;
                    width: auto;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    background: transparent;
                    cursor: pointer;
                    span {
                        display: block;
                        font-family: "Raleway",sans-serif;
                        background: #fff;
                        line-height: 22px;
                        padding: 3px 12px;
                        text-align: center;
                        white-space: nowrap;
                        color: #000;
                        text-decoration: none;
                        border: 1px solid #000000;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

            }
            .review{
                h2 {
                    font-weight: bold;
                    font-size: 14px;
                    border-bottom: 1px solid #d9d9d9;
                    padding: 0 0 10px;
                    margin: 0 0 15px;
                    text-transform: uppercase;
                    color: #000;
                }
                form {
                    display: inline;
                    fieldset {
                        border: 0;
                        h3 {
                            font-size: 16px;
                            font-weight: normal;
                        }
                        h4 {
                            font-size: 14px;
                            font-weight: normal;
                        }
                        #product-review-table {
                            max-width: 180px;
                            margin: 15px 0;
                        }
                        .data-table {
                            width: 100%;
                            border: 1px solid #d9d9d9;
                            th {
                                padding: 8px 8px;
                                font-weight: bold;
                            }
                            td {
                                padding: 8px 8px;
                            }
                        }
                        thead th {
                            background: #fff;
                            border-bottom: 1px solid #d9d9d9;
                            font-weight: bold;                               
                            padding: 8px 8px;
                            color: #808080;
                            white-space: nowrap;
                            vertical-align: middle;
                        }
                        ul{
                            padding: 0;
                        }
                        .form-list li {
                            margin: 0 0 8px;
                            label {
                                float: left;
                                font-weight: normal;
                                position: relative;
                                z-index: 0;
                                padding-bottom: 5px;

                            }
                            .input-box {
                                max-width: 500px;
                                width: 100%;
                                display: block;
                                clear: both;
                            }
                            input.input-text {
                                width: 250px;
                            }
                            textarea {
                                width: 95%;
                                height: 10em;
                            }
                        }
                    }
                    .buttons-set {
                        clear: both;
                        margin: 20px 0 0;
                        padding: 5px;
                        border: 1px solid #fff;
                        text-align: right;
                    }
                }
            }      
        }   
        .padder {
            display: none;
            padding: 25px 15px;
            background: #FFF;

            .btn {text-align: left; width: 100%;
                  padding: 10px;
                  font-weight: bold;
                  font-size: 15px;
                  text-transform: uppercase;
                  margin: 0 0 2px;
                  position: relative;
                  border-radius: 0px;
            }
            .btn:hover, .btn:focus {
                color: #333; 
                text-decoration: none; 
            }
            .detail_collap{
                margin: 2px 0;
            }
            h5.mobile_togglemenu {
                background: url("../images/toggle-arrow.png") no-repeat scroll right 0px transparent;
                cursor: pointer;
                display: block;
                font-size: 15px;
                margin-right: 0;
                margin-top: -20px;
                overflow: hidden;
                padding: 0px;
                text-decoration: none;
                margin-bottom: 0px;
                width: 100%;
                position: absolute;
                right: 10px;
            }
            .c_decription{                
                strong {
                    font-weight: bold;
                }
                p{margin: 0 0 6px;padding: 0; color: #666;}
            }
            .c_review{               
                h2 {
                    font-weight: bold;
                    font-size: 14px;
                    border-bottom: 1px solid #d9d9d9;
                    padding: 0 0 10px;
                    margin: 0 0 15px;
                    text-transform: uppercase;
                    color: #000;
                }
                form {
                    display: inline;
                    fieldset {
                        border: 0;
                        h3 {
                            font-size: 16px;
                            font-weight: normal;
                        }
                        h4 {
                            font-size: 14px;
                            font-weight: normal;
                        }
                        #product-review-table {
                            max-width: 180px;
                            margin: 15px 0;
                        }
                        .data-table {
                            width: 100%;
                            border: 1px solid #d9d9d9;
                            th {
                                padding: 8px 8px;
                                font-weight: bold;
                            }
                            td {
                                padding: 8px 8px;
                            }
                        }
                        thead th {
                            background: #fff;
                            border-bottom: 1px solid #d9d9d9;
                            font-weight: bold;                               
                            padding: 8px 8px;
                            color: #808080;
                            white-space: nowrap;
                            vertical-align: middle;
                        }
                        ul{
                            padding: 0;
                        }
                        .form-list li {
                            margin: 0 0 8px;
                            label {
                                float: left;
                                font-weight: normal;
                                position: relative;
                                z-index: 0;
                                padding-bottom: 5px;

                            }
                            .input-box {
                                max-width: 500px;
                                width: 100%;
                                display: block;
                                clear: both;
                            }
                            input.input-text {
                                width: 250px;
                            }
                            textarea {
                                width: 95%;
                                height: 10em;
                            }
                        }
                    }
                    .buttons-set {
                        clear: both;
                        margin: 20px 0 0;
                        padding: 5px;
                        border: 1px solid #fff;
                        text-align: right;
                    }
                }
            }
            .c_tags{                
                box-tags {
                    margin: 0;
                    .note {
                        margin: 3px 0 0;
                        padding: 0 0 0px;
                        font-size: 12px;
                    }
                }
            }
            .c_tab, .c_decription, .c_review, .c_tags{
                margin: 0 0 10px;
                padding: 15px;
                border-bottom: 1px solid #d9d9d9;
            }
        }
    }

    .clear{
        clear: both;
    }

    /*-----Magento_1-----*/
    .demo1{
        text-align: center;
        margin-top:20px;

        a{
            border: 1px solid #c7c7c7;
            padding: 5px 10px;
            color: #000;
            font-size: 20px;

        }
        a:hover{
            border: 1px solid #000;
            padding: 5px 10px;
            color: #fff;
            background-color: #000;
            font-size: 20px;
            text-decoration: none;
        }
    }

    .img {
        border: 0;
        vertical-align: top;
    } 

    body{padding-top:20px;}

    .tabberlive_outer_sub { margin:72px 0 87px;}
    .tab-main-title{ display:none;}
    .tabberlive_outer_sub .customNavigation a{ display:none;}
    .tabberlive_outer_sub:hover .customNavigation a{ display:block;}

    .blog_title h2, .testimonial_title h2,.manufacture .category-title h1, .category-title h2, .category-title h2 a{
        background:url(../images/divider.jpg) no-repeat scroll center bottom transparent;
        color: #000000;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
        padding-bottom: 29px;
        text-align: center;
        text-transform: uppercase;
    }
    .tabbernav_product_sub .category-title { display: none;}

    .tabbernav_product_sub .htabs {
        line-height: 16px;
        position: relative;
        text-align: center;
    }

    .tabbernav_product_sub .htabs:before {
        background: #cccccc none repeat scroll 0 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        padding: 0;
        position: absolute;
        top: 45%;
        width: 100%;
    }

    .tabbernav_product_sub ul.tabbernav_product { clear: both; position: relative;  text-align: center; padding:0px 22px; margin:0px; z-index:9; background:#fff; display:inline-block;}
    .tabbernav_product_sub .tabbernav_product li {
        display: inline-block;
        list-style: outside none none;
        padding:0 5px;
        position: relative;
        text-align: center;
        line-height:17px;
        margin-left: 0;
        border-right: 1px solid rgb(221, 221, 221);
    }

    .nav-pills>li.active>a ,.nav-pills li a:focus{
        color: #fff !important;
        font-weight:bold !important;
        background-color: #000 !important;
    }
    .nav-pills>li>a {
        border-radius: 0px !important; 
    }


    /*.tabbernav_product_sub ul.tabbernav_product li a:hover{border: 1px solid #000000;}*/
    .tabbernav_product_sub ul.tabbernav_product li a {

        color: #aaa;
        font-size: 13px;
        font-weight:normal;
        margin: 0;
        padding:8px 22px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display:block;
        position:relative;
    }
    .tabbernav_product_sub .tabbernav_product .tab-text:before {
        content: attr(data-text);
        font-weight: bold;
        height: 100%;
        left: 20px;
        position: absolute;
        top: 0;
        transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0px, 0px);  -ms-transform:translate3d(-100%, 0px, 0px); -o-transform:translate3d(-100%, 0px, 0px); -moz-transform:translate3d(-100%, 0px, 0px); 
        width: 100%;
    }
    .tabbernav_product_sub .tabbernav_product .tab-text { overflow: hidden;  padding: 1px;}
    .tabbernav_product_sub .tabbernav_product .tab-text:before, .tabbernav_product_sub .tabbernav_product .tab-text > span {
        padding: 8px 22px;
        transition: transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -moz-transition:-moz-transform 0.3s; -ms-transition:-ms-transform 0.3s; -o-transition:-0-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -moz-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -ms-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -o-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1);

    }
    .tabbernav_product_sub .tabbernav_product .tab-text:hover:before{transform:translate3d(-20px, 0px, 0px);-webkit-transform:translate3d(-20px, 0px, 0px);-ms-transform:translate3d(-20px, 0px, 0px);-o-transform:translate3d(-20px, 0px, 0px);-moz-transform:translate3d(-20px, 0px, 0px);}
    .tabbernav_product_sub .tabbernav_product .tab-text:hover > span{transform:translate3d(0px, 100%, 0px);-webkit-transform:translate3d(0px, 100%, 0px); -ms-transform:translate3d(0px, 100%, 0px); -o-transform:translate3d(0px, 100%, 0px); -moz-transform:translate3d(0px, 100%, 0px); }
    .tabbernav_product_sub .tabbernav_product .tab-text > span { display: block;}



    .new-products-inner, .special-products-inner, .bestseller-products-inner, .featured-products-inner{ position:relative;}
    .category-title { border:0; margin:0 0 0px; }
    .category-title h2 a{ padding:0  !important; }
    .tabberlive_outer_sub .customNavigation a{ display:none;}
    .tabberlive_outer_sub:hover .customNavigation a{ display:block;}


    .product-carousel .product-block-inner{
        overflow: hidden;
        padding:0px;
        position: relative;
        text-align: center;
    }

    .product-block .product-image-block .hover-image {
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        height:auto;
        visibility: hidden;
        width: 100%;
    }
    .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}
    .new-label {
        color:#dc2626;
        display: block;
        padding: 1px 5px;
        position: absolute;
        right: 0px;
        text-align: center;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;
        opacity:0; -khtml-opacity:0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
    }
    .new-label2  {
        color:#dc2626;
        display: block;
        padding: 1px 5px;
        position: absolute;
        text-align: center;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;
        opacity:0; -khtml-opacity:0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
    }
    .product-block:hover .new-label{opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
    .product-block:hover .new-label2{opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}

    .product-image-block-inner .product-image-block {
        position: relative;
    }
    a.product-image { display:block; }
    .product-block .product-image-block img {height: auto; width: 100%;   }
    .product-block .product-image-block .hover-image {
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        height:auto;
        visibility: hidden;
        width: 100%;
    }
    .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}
    .product_hover-block  {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 100%;
        text-align: center;
        opacity: 0;
    }

    .product-block:hover .product_hover-block{ opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
    .product_hover-block .actions .availability.out-of-stock { border: 1px solid #d83820; line-height: 22px;  padding:6px 12px; margin:0px; background:#fff;}
    .product_hover-block .actions .add-to-links{ display:none;}
    .product_hover-block .add-to-links li:hover{ background:#000; border-color:#000; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s;}
    .product_hover-block .add-to-links li {
        background: #fff;  
        border: 1px solid #000; 
        box-sizing:border-box; 
        display:inline-block; 
        font-size:0; 
        height: 32px; 
        line-height: 30px; 
        margin: 0 1px; 
        width:36px; 
        text-align:center;
        padding:0 3px;
    }
    .add-to-links li a.link-wishlist::before {
        color: #000;
        content: "\f004";
        font-family: "FontAwesome";
        font-size: 14px;
        padding: 7px;
    }
    .add-to-links li a.link-compare::before {
        color: #000;
        content: "\f080";
        font-family: "FontAwesome";
        font-size: 14px;
        padding: 7px;
    }
    .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before{ color:#fff;}
    .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { display: block; height: 100%; width: 100%;}
    .product_desc { padding: 0 10px; text-align: center}
    .product-name { margin:0; font-size:1em; font-weight:normal; text-transform:capitalize; }
    .product-name a , .product-review .product-name { color:#000; font-size:13px; text-decoration:none; margin-top:0px; }
    .product-name a:hover{  color:#000;}
    h2.product-name{ background:none; padding:0px 0 0 !important; border-bottom: none !important;  margin:9px 0 0px;}
    .product-carousel .product-block{
        background:#FFFFFF;
        clear: both;
        /*margin:11px 10px;*/
        overflow: hidden;
    }
    .product-carousel .product-block-inner{
        overflow: hidden;
        padding:0px;
        position: relative;
        text-align: center;
    }
    .price-box { margin:2px 0 2px; }
    .price-box .price { font-weight:bold; color:#000; font-size:18px; font-family:"Source Sans Pro",sans-serif; }




    .product-carousel{
        display: none;
        opacity:1!important; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;
        position: relative;
        width: 100%;
        -ms-touch-action: pan-y;
    }


    .product-carousel .slider-wrapper{
        display: none;
        position: relative;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-perspective: 1000;
    }
    .product-carousel .slider-wrapper-outer{

        position: relative;
        width: 100%;
    }
    .product-carousel .slider-wrapper-outer.autoHeight{
        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }

    button.button {overflow:visible;width:auto;border:0;padding:0;margin:0;background:transparent;cursor:pointer;}
    .product_hover-block .button.btn-cart {width: 100%;}
    .button.btn-cart > span{ padding:6px 20px;}
    button.button span  {
        display:block;
        font-family:"Raleway",sans-serif;
        background:#fff;
        line-height: 22px;
        padding: 3px 12px;
        text-align:center;
        white-space:nowrap;
        color:#000;
        text-decoration:none;
        border:1px solid #000000;
        font-weight:bold;
        text-transform:uppercase;
    }

    button.button:hover span  {
        background: #000000;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease 0s; 
    }

    /* Regular price */
    .regular-price { color:#c76200; }
    .regular-price .price {   font-size: 18px;    font-weight:bold; color:#000; }
    .block .regular-price,
    .block .regular-price .price {  }

    .no-rating { margin:0 0 10px; }

    .ratings {   line-height:1.25; margin:3px 0; }
    .ratings strong { float:left; margin:1px 3px 0 0; }
    .ratings .rating-links { margin:0; display:none; }
    .ratings .rating-links .separator { margin:0 2px; }
    .ratings dt {}
    .ratings dd {}
    .rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.png) 0 0 repeat-x; text-indent:-999em; overflow:hidden; margin:4px 10px 0 0; }
    .rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.png) 0 100% repeat-x; }
    .ratings .rating-box {margin-right:5px; display:inline-block; }
    .ratings .amount { display:none;}
    .ratings-table th,
    .ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
    .ratings-table th { font-weight:bold; padding-right:8px; }

    .carousel {
        margin-bottom: 0;

    }
    /* The controlsy */
    .carousel-control {

        height: 40px;
        width: 40px;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;

    }
    .carousel-control.right {
        right: -12px;
    }


    @media (max-width: 1900px)
        {
        .parallex.column-left-breadcrumbs {
            padding: 59px 0 57px;
        }
    }
    @media (max-width: 996px ) and (min-width: 980px){
        col-sm-12{
            width: 50%;
        }
    }
    @media (min-width: 960px){
        .carousel-control{
            margin-top: 20px;
        } 
    }

    @media (max-width: 979px)
        {
        .col-sm-12{
            width: 100%;
        }
        .hidden1{
            display: none;
        } 
        .carousel-control{
            margin-top: 70px;
        }
        .product-img-box {
            float: none;
            margin: 0 auto;
            width: 547px;
        }
        .carousel-control{
            margin-top: 20px;
        }
        .padder{display: block !important; padding: 25px 15px;}
        .tabs, .tabbernav_product2  {display: none;}


    }
    @media (max-width: 768px)
        {

        .carousel{
            margin: 0px;
        }
        .carousel-control{
            margin-top: 10px;
        }
        .product-img-box {
            width: 422px;
        }
        .parallex.column-left-breadcrumbs {
            padding: 30px 0 27px;
        } 
        .container-width {
            width: auto;
            margin: 0 25px;
        }
    }

    @media (max-width: 496px)
        {

        .hidden2{
            display: none;
        } 
    }
    @media (max-width: 479px){
        .tabbernav_product_sub ul.tabbernav_product {
            padding: 10px;
        }
        .product-img-box {
            width: 282px;
        }
        .col-xs-4 {
            width: 100%;
        }
        .detail_right .tabberlive ul.tabbernav_product li {
            width: 100%;
        }
    }
    @media (max-width: 319px) {
        .product-img-box{
            width: 100%;
        }   
    }




}







