.type-763 .navbar-default {
  background: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  width: 100%;
}
.type-763 .navbar-default ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.type-763 .navbar-default ul li {
  padding-right: 0;
}
.type-763 .navbar-default ul li a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
.type-763 .navbar-default ul li a i {
  color: #19caaf;
  margin-right: 5px;
}
.type-763 .navbar-default ul li a span {
  font-size: 14px;
}
.type-763 .navbar-default ul li a:hover {
  background: none;
  color: #19caaf;
}
.type-763 .navbar-default .navbar-nav>.open>a {
  background: none;
  color: #fff;
}
.type-763 .item {
  background: #fff;
  top: 35px;
}
.type-763 .subitem {
  padding: 2px 0 !important;
  margin-top: 5px;
  width: 100%;
}
.type-763 .subitem a {
  color: #000000 !important;
}
.type-763 .subitem:last-child {
  margin-top: 0;
  margin-bottom: 5px;
}
.type-763 .subitem:hover {
  background: #19caaf;
}
.type-763 .subitem a:hover {
  background: #19caaf;
  color: #ffffff !important;
}
.type-763 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  background: #fff;
}
.type-763 .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background: #19caaf;
}
.type-763 .cart {
  background: #19caaf;
  border-top-right-radius: 5px;
  color: #ffffff;
  padding: 5px 0;
  padding-right: 20px !important;
}
.type-763 .cart:hover {
  background: #24ffdb;
}
.type-763 .cart:hover i,
.type-763 .cart:hover a:hover {
  color: #fff !important;
}
.type-763 .cart i {
  color: #fff !important;
  margin-right: 10px;
}
.type-763 .cart i span {
  margin-left: 15px;
}
.type-763 .cart-item {
  color: #000;
}
.type-763 .bg {
  background: #2f2f2f;
  padding: 4px 0;
}
.type-763 .last {
  padding-right: 151px !important;
}
.type-763 .navbar {
  border: none;
}
.type-763 #navbar {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
}
.type-763 .navbar-toggle {
  float: left;
  margin-left: 25px;
}
.type-763 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.type-763 .collapse {
  color: #ffffff;
}
@media all and (max-width: 768px) {
  .type-763 .bg a span {
    display: inline-block !important;
  }
}
@media all and (max-width: 980px) {
  .type-763 .navbar-default ul li {
    padding-right: 49px;
  }
  .type-763 .navbar-default ul li a i {
    font-size: 16px;
  }
  .type-763 .bg a span {
    display: none;
  }
}
@media all and (max-width: 1190px) {
  .type-763 .last {
    padding-right: 0 !important;
  }
}
