.M12-Url{
    .breadcrumb{
        background-color:  transparent;

    }
    .breadcrumb_wrap ul li a:hover {
        text-decoration: none;
        color: #4BAE4F;
    }
}
.M13-Type-Product{
    .type-product {
        margin-bottom: 20px;

    }
    .col-md-12{
        padding-left: 0;
    }
    .type-product ul li {
        float: left;

        padding-right: 5px;
        margin: 10px;
    }
    .type-product ul li a{
        padding: 10px;
        background: #DDD;
    }
    .type-product ul li a:hover{
        background: #4BAE4F;
        color: white;
        text-decoration: none;
    }
    .type-product .active{
        background: #4BAE4F;
        color: white;
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding: 0; 
        margin: 0;
    }
    .page_heading{
        background: #DDD;
        padding: 10px;
    }
}

.M14-Detail-Type{
    font: 300 13px Ubuntu;
    line-height: 1.53;
    color: #6c7b84;
    .collection_info .collection_img {
        margin-top: 15px;
        text-align: center;
    }
    img {
        max-width: 100%;
    }

}