.type-735 {
    @font-size: 14px;
    @line-height: 1.42857143;
    @width: 100%;
    @content: "";
    @color: #ff9933;
    @transition: all 0.5s;
    @display: inline-block;
    @text-align: center;
    @cursor: pointer;
    @float: left;
    @position: relative;
    @position-ab: absolute;
    @left: 50%;
    
    
    font-family: 'Open Sans', sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    color: #5b5b5b;

    a{
        color: #000;
        text-decoration: none;
    }

    img{
        width: @width;
    }

    .hentry {
        margin: 0 0 1.5em;
    }

    .vc_row{
        margin-left: -15px;
        margin-right: -15px;
    }

    .entry-content {
        margin: 0px;
    }


    .entry-content:before, .entry-content:after{
        content: @content;
        display: table;
    }

    p {
        display: block;
    }
    h2,h3,h4{
        font-family: 'Vollkorn', serif;
        line-height: 1.1;
        color: #3a3a3a;
    }
    h1, h2, h3, h4, h5, h6 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.24s ease-in-out;
    }

    .btn-default {
        color: @color;
        background-color: transparent;
        border-color: #9ea6b0;
        transition: @transition;
    }
    .lms_pc_btn {
        margin-top: 10px;
    }
    .btn {
        display: @display;
        padding: 6px 12px;
        margin-bottom: 15px;
        font-size: @font-size;
        font-weight: normal;
        line-height: @line-height;
        text-align: @text-align;
        white-space: nowrap;
        vertical-align: middle;
        cursor: @cursor;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: @transition;
    }

    .vc_column_container {
        padding-left: 0;
        padding-right: 0;
        .vc_column-inner {
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            width: @width;
        }
    }

    .lms_title_center {
        width: @width;
        float: @float;
        text-align: @text-align;
        .lms_heading_1 {
            text-align: @text-align;
            display: @display;
            .lms_heading_title {
                margin-top: 80px;
                font-weight: 400;
                padding: 0px 32px 28px 32px;
                border-bottom: 1px solid #9ea6b0;
                position: @position;
                font-weight: 500;
            }
            .lms_heading_title:after{
                content: @content;
                position: @position-ab;
                top: 100%;
                margin: -10px 0 0 -5px;
                left: @left;
                width: 10px;
                height: 20px;
                background: #fff;
                border-left: 1px solid #9ea6b0;
                border-right: 1px solid #9ea6b0;
                -webkit-transform: rotate(20deg);
            }
        }
        p {
            margin-top: 8px;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 70px;
        }
    }

    /*-------------------our best Services-----------------------------*/
    .swiper-container {
        width: @width;
        height: auto;
    }
    .swiper-slide {
        color:#000;
        text-align:center;
    }

    .lms_popular_courses_item{
        h3:hover {
            color: @color;
            transition: 0.5s all;
        }
        a:hover{
            border-color: #ff9933 !important;
        }
    }

    .customNavigation {
        text-align: @text-align;
        display: @display;
        margin-bottom: 20px;
        width: @width;
        float: @float;
    }
    .lms_prev_next {
        width: 28px;
        height: 28px;
        line-height: 24px;
        display: @display;
        text-align: @text-align;
        font-size: 24px;
        margin: 5px;
        color: @color;
        cursor: @cursor;
        border: 1px solid #9ea6b0;
    }
    .lms_prev_next:hover {
        border-color: @color;
    }

    .lms_popular_courses {
        width: @width;
        float: @float;
    }
    .lms_hover_section {
        overflow: hidden;
        position: @position;
        img {
            width: @width;
            margin-bottom: 0px;
        }
        .lms_hover_overlay {
            position: @position-ab;
            top: 0;
            left: 0;
            width: @width;
            height: 100%;
        }
    }
    .lms_hover_section:hover .lms_hover_overlay {
        background-image: url(../images/bg.png);
        background-repeat: repeat;
        text-align: @text-align;
        transform: scale(1);
        .lms_image_link {
            position: @position-ab;
            top: 50%;
            left: @left;
            margin: -25px 0 0 -25px;
            width: 50px;
            height: 50px;
            display: @display;
            cursor: @cursor;
            background: url(../images/image_overlay_plus.png);
        }
    }
}
