.type-738{
    @width: 100%;
    @color: #ff9933;
    @color2: #9CA0A0;
    @color5: #ff9933;
    @color7: #555555;
    @i-display: inline-block;
    @text-decoration: none;
    @text-align: center;
    @font-family: 'Vollkorn', serif;
    @float: left;
    @f-size: 10px;
    @list-style: none;
    @margin-bottom: 0px;

    .float-width{
        width: @width;
        float: @float;
    }
    a{
        text-decoration: @text-decoration;
        color: @color;
        font-family: @font-family;
        transition: all 0.5s;
    }
    p{
        color: @color2;
    }
    h3 {
        color: #fff;
        font-size: @f-size + 12;
        margin-top: 15px;
        text-transform: capitalize;
        font-family: @font-family;
        margin-bottom: @margin-bottom + 30;
        .float-width;
    }

    .scrollToTop{
        width: 35px;
        height: 35px;
        line-height: 31px;
        position: fixed;
        top: 64%;
        left: 40px;
        overflow: hidden;
        text-align: @text-align;
        font-size: @f-size + 10;
        color: @color;
        text-decoration: @text-decoration;
        border: 1px solid @color5;
        &:hover{
            color: #fff;
            background: @color5;
            text-decoration: @text-decoration;
            i{
                display: none;
                transform: translateY(-15px);
                transition: all 0.5s ease-in;
            }
            .down{display: block;}
        }
        .down{
            width: @width;
            height: 100%;
            position: relative;
            top: 21px;
        }
    }
    .lms_theme_color{color: @color;}

    .lms_footer_center {
        background: #1a1a1a;
        padding: 50px 0px 20px 0px;
        .float-width;
        .lms_footer_logo{
            img{
                vertical-align: middle;
                margin-bottom: @margin-bottom + 15;
            }
        }
        p{
            margin: 0 10px 10px 0;
        }
        .lms_social {
            margin-top:30px;
            .float-width;
            ul{
                list-style: @list-style;
                padding:0;
                li{
                    .colortooltip + .tooltip > .tooltip-inner {background-color: @color;}
                    .colortooltip + .tooltip > .tooltip-arrow { border-top-color: @color;}
                    display: @i-display;
                    a {
                        width: 34px;
                        height: 34px;
                        line-height: 34px;
                        text-align: @text-align;
                        display: @i-display;
                        border: 1px solid #9ea6b0;
                        color: @color;
                        font-size: @f-size + 8;
                        margin-right: 11px;
                        margin-bottom: @margin-bottom + 11;
                        background: transparent;
                        text-decoration: @text-decoration;
                    }
                    :hover{
                        border-color: @color;
                    }
                }
            }
        }
        .lms_footer_popular_course {
            .float-width;
            .lms_footer_course {
                border: 1px solid @color7;
                padding-left: 7px;
                padding-bottom: 6px;
                margin-bottom: @margin-bottom + 30;
                .float-width;
                img {
                    width: 75px;
                    height: 79px;
                    border: 1px solid #565656;
                    margin-bottom: @margin-bottom;
                    float: @float;
                    display: @i-display;
                    margin-right: 12px;
                    margin-top: 7px;
                }
                a{
                    h4{
                        font-family: @font-family;
                        margin-top: 6px;
                        margin-bottom: @margin-bottom;
                    }
                }
            }
        }
        .lms_footer_course_category{
            :last-child{
                border-bottom: none;
            }
            li{
                list-style: @list-style;
                border-bottom: 1px solid @color7;

                a{
                    font-family: 'Open Sans', sans-serif;
                    transition: all .5s;
                    color: @color2;
                    line-height: 52px;
                }
                :hover{
                    color: @color;
                }
            }
        }
        .lms_footer_contact{
            .float-width;
            .pad{padding-bottom: 20px;}
            p{
                margin-bottom: @margin-bottom + 10;
                .color_hover{
                    color: @color2;
                }
                :hover{color: @color;}
            }
        }
    }
    .lms_footer_bottom{
        background: #171717;
        font-size: @f-size + 3;
        text-align: @text-align;
        .float-width;
        p {
            margin-bottom: @margin-bottom;
            padding: 20px 0px;
        }
    }
    @media(max-width: 1200px){
        .scrollToTop{
            margin-left: -34px;
            top: 566px;
        }
    }
    /* Dành cho điện thoại */
    @media all and (min-width: 767px) {}
    /* Dành cho máy tính bảng chiều dọc */
    @media all and (min-width: 600px) {}
    /* Dành cho máy tính bảng chiều ngang */
    @media all and (min-width: 1024px) {}
    /* Dành cho màn hình desktop */
    @media all and (min-width: 1280px) {}
}

