.type-740{
    .column_item{
        width: 25%;
        float: left;
        padding: 0 20px 0 30px;

    }
    .column_item:first-child+.column_item:before, .column_item:first-child:before,.column_item:first-child:after{
        position: absolute;
        content: "";
        left: 25%;
        top: 0;
        bottom: 0;
        border-left: 1px solid #fff;
    }
    .column_item:first-child:after {
        left: 50%;
    }
    .column_item:first-child+.column_item:before {
        left: 75%;
    }
    .level_2_products .column_item {
        padding: 0 20px;
        text-align: center;
    }
    .product_img{
        padding-bottom: 30px;
    }
    .product_img a {
        display: block;
        padding: 0 20px 0px;
        opacity: 1;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    img{
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none !important;
        vertical-align: top;
        background: transparent;
    }
    .money {
        font-size: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #374046;
    }
    a, span {
        vertical-align: baseline;
    }
    .product_name {
        padding-top: 6px;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
    }
    .product_name a {
        color: #6c7b84;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #4bae4f;
        }
    }

    .product_desc {
        padding: 7px 0 24px;
        font-size: 13px;
        color: #6c7b84;
    }
    .product_links .btn {
        font-size: 12px; 
    }
    .fa{
        font-size: 22px;
        margin-right: 5px;
    }
    .btn{
        height: 40px;
        line-height: 40px;
        padding: 0px 18px;
        font-weight: 400;
        background: #4bae4f;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        border: 0;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
        -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
        transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
        &:hover{
            background: #374046;
            color: #fff;
        }
    }
    h2 {
        display: none;
    }
    .compare-at-price {
        font-weight: 300;
        text-decoration: line-through;
    }
    .chu{
        color: #374046;
    }
    .navbar-brand{
        padding: 15px 50px;
    }
    .navbar .container .navbar-brand{
        margin: 0;
    }
    margin-top: 30px;
    .container{
        padding-left: 0;
        padding-right: 0;
    }


    /* MEGAMENU STYLE
    -------------------------------------------------- */
    .megamenu {
        box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.17);
    }
    .megamenu .nav,
    .megamenu .collapse,
    .megamenu .dropdown {
        position: static;
    }
    .megamenu .container {
        position: relative;
    }
    .megamenu .dropdown-menu {
        left: auto;

    }

    .megamenu .megamenu-content {
        padding: 15px;
    }
    .megamenu .megamenu-content h3{
        margin-top: 0;
        color: #428bca;
        font-size: 18px;
    }
    .megamenu .dropdown.megamenu-fw .dropdown-menu {
        left: 25%;
        right: 14px;
    }

    .navbar-default .navbar-nav > li >a:hover {
        color:  white;
    }
    .navbar-default .navbar-nav > li >a:focus {
        background: transparent; color:  white;
    }
    .navbar-default .navbar-nav > li >a{
        color: #e5e5e5;
        font-weight: bold;
    }


    .navbar-default {
        background: #374046;
    }

    .navbar-header span {
        color: #ffffff;
        background: #4BAE4F;
    }
    .navbar-header span:hover {
        color: #ffffff;
        background: #4BAE4F;
    }
    .container > .navbar-header {
        margin-right: 30px;
        margin-left: 30px;    

    }


    .navbar-right{
        background: #5F666B;
        margin-right: 0;
    }
    .navbar-right  li a {
        color: white;
    }
    .navbar-right  span{
        color: #4BAE4F;

        font-size: 17px;
    }
    .dropdown-menu{

        background: #F5F4F4;

    }
    .dropdown-menu li{
        padding: 5px;
    } 
    .dropdown-menu li a:hover{
        color: #4BAE4F;
    } 
    .megamenu .megamenu-content h3{
        color: #374046;
    }
    .dropdown-menu ul{
        margin-top: 20px;
        font-size: 14px;
        text-align: left;
        list-style: none; 
        margin-left: -45px;
    }   
    .dropdown-menu ul li a {
        color: #6c7b84;
        text-decoration: none;
    }
    .dropdown-menu ul li a:hover {
        color: #4BAE4F;
    }

    .dropdown-menu-mega li {
        padding: 5px;
        text-align: center;

    }
    .dropdown-menu-mega ul li a{
        color: #4BAE4F;
        font-size: 16px;

    }
    .dropdown-menu-mega ul li a:hover{
        color: #374046;
    }

    .navbar{
        .collapse{
            .a1{
                color: rgba(255,255,255,0.6);
            }
        }
    }
    @media (max-width: 991px){
        .navbar-brand{
            display: none;
        }
        .a1{
            display: none;
        }
        h2{
            display: block;
            color: #fff;
            position: absolute;
            top: -12px;

        }
        .fa-chevron-down{
            margin-left: 12px;
        }
    }
    @media (max-width: 640px){
        .navbar-brand{
            display: none;
        }
        h2{
            display: block;
            color: #fff;
        }
        .fa-chevron-down {
            margin-left: 292px;
        }
    }
}