.type-751 .breadcrumb_wrap .breadcrumb {
  background-color: transparent;
}
.type-751 .breadcrumb_wrap .breadcrumb li a {
  color: #6c7b84;
}
.type-751 .breadcrumb_wrap .breadcrumb li a:hover {
  text-decoration: none;
  color: #4BAE4F;
}
.type-751 .breadcrumb_wrap .breadcrumb li span {
  color: #6c7b84;
}
.type-751 .title {
  margin: 0;
  font-size: 16px;
  background: #f5f4f4;
  border: 1px solid #ececec;
  min-height: 50px;
  padding: 14px 30px;
}
.type-751 .content {
  margin-top: 15px;
  margin-bottom: 15px;
  color: inherit;
}
.type-751 .content .chu {
  text-align: center;
  font-weight: bold;
  margin: 30px 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}
.type-751 .content p {
  margin: 15px 0;
  padding: 0;
}
.type-751 .content table {
  width: 100%;
}
.type-751 .content table tr {
  vertical-align: top;
}
.type-751 .content table td {
  text-align: center;
  padding-left: 0px;
  padding-right: 10px;
}
.type-751 .content table td p {
  margin: 15px 0;
  padding: 0;
}
.type-751 .content table td p img {
  width: auto;
  max-width: 100% !important;
}
.type-751 .content table td h4 {
  text-align: center;
  font-size: 18px;
}
.type-751 .content table td .font-p {
  text-align: center;
}
.type-751 .content blockquote {
  padding: 5px 35px;
  font-weight: normal;
  border-left: none;
}
.type-751 .content blockquote .blog {
  margin: 10px 0 !important;
  font-size: 15px;
}
.type-751 .content blockquote:before {
  content: '\f10d';
  font: 16px 'FontAwesome';
}
.type-751 .content blockquote:after {
  content: '\f10e';
  float: right;
  font: 12px 'FontAwesome';
}
.type-751 .content .font-p2 {
  text-align: right;
}
.type-751 .content .font-p2 strong {
  vertical-align: baseline;
  font-weight: bold;
}
@media (max-width: 767px) {
  .type-751 .breadcrumb_wrap {
    margin: 25px 0;
  }
}
@media (max-width: 991px) {
  .type-751 .breadcrumb_wrap {
    margin: 30px 0;
  }
}
