footer {
  background-color: #6f6d69;
  margin-top: 120px;
  color: white;
  padding-top: 50px;
}
footer h4 {
  font: normal 15px Georgia;
  line-height: 18px;
  padding: 0 0 30px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
footer h4 span {
  float: right;
  opacity: 0;
}
footer ul {
  padding: 0;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  list-style: none;
  margin: 0;
}
footer ul li {
  transition: all .2s ease-in-out;
  font: normal 13px Verdana;
  line-height: 18px;
  padding: 11px 0 11px 10px;
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
footer ul li:first-child {
  border-top: 1px solid rgba(0,0,0,0.1);
}
footer ul li a {
  color: #efefef;
}
footer ul li a:hover {
  text-decoration: none;
  color: #ccc !important;
}
footer ul li:hover {
  background: rgba(255,255,255,0.05);
  padding-left: 13px;
}
footer ul#tweet {
  border: none;
  color: #efefef;
}
footer ul#tweet a {
  color: #c5988b;
}
footer ul#tweet li {
  border: none;
  padding: 0 0 25px 28px;
  position: relative;
}
footer ul#tweet .tweet-time a {
  color: #e6e6e6 !important;
  font-family: Georgia !important;
  font-style: italic !important;
}
footer ul#tweet .icon {
  width: 17px;
  height: 17px;
  color: #a3a19d;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 1.3em;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}
footer .fb-followers .item {
  margin-bottom: 35px;
  float: left;
}
footer .footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.05);
  padding: 25px 0;
}
footer .footer-bottom > div > div {
  width: 50%;
}
footer .footer-bottom .footer-text {
  color: #e1e1e1;
  float: left;
}
footer .footer-bottom #payment-icons {
  margin-bottom: 15px;
  overflow: hidden;
}
footer .footer-bottom #payment-icons ul {
  float: right;
}
footer .footer-bottom #payment-icons ul li {
  padding: 0;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 727px) {
  footer h4 {
    font-size: 1.5em;
  }
  footer h4 span {
    opacity: 1;
  }
  footer .content.active .dropdown-content {
    display: block;
  }
  footer .content .dropdown-content {
    display: none;
    margin-bottom: 30px;
  }
  footer .content .dropdown-content li {
    font-size: 1.2em;
    padding: 20px;
  }
}
