.type-777 a:hover {
  text-decoration: none;
}
.type-777 #top-bar {
  background: #252525;
  color: #999999;
}
.type-777 #top-bar a {
  color: #ffffff;
}
.type-777 #top-bar {
  font-size: 12px;
  z-index: 6;
  position: relative;
}
.type-777 #top-bar a:hover {
  color: #07c1b6;
}
.type-777 .tb-text {
  padding: 3px 0;
  line-height: 24px;
}
.type-777 #top-bar ul.social-icons {
  margin-bottom: 0;
}
.type-777 i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.type-777 .tb-right ul.social-icons.small {
  float: right;
  margin-bottom: 0;
  margin-right: -10px;
}
.type-777 ul.social-icons.small {
  height: auto;
  overflow: hidden;
  margin-right: -5px;
  list-style: none !important;
}
.type-777 ul {
  padding: 0;
  margin: 0 0 20px;
}
.type-777 ul.social-icons.light.small li a {
  background-image: url(../images/social-icons-mono-light-small.png);
}
.type-777 ul.social-icons.small li a {
  background: transparent url(../images/social-icons-small.png);
  display: block;
  width: 24px;
  height: 24px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}
.type-777 ul.social-icons li a:hover {
  color: #1bbeb4;
  color: transparent;
}
.type-777 ul.social-icons.small {
  height: auto;
  overflow: hidden;
  margin-right: -5px;
  list-style: none !important;
}
.type-777 ul.social-icons.small li {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
  float: left;
  display: inline-block;
  background: none;
  padding: 0 !important;
  line-height: 24px !important;
  border: 0 !important;
  transition: opacity 0.3s ease;
  transition-delay: 0.1s;
}
.type-777 ul.social-icons li a:hover {
  color: transparent;
}
.type-777 ul.social-icons.small li.dribbble a {
  background-position: -48px 0;
}
.type-777 ul.social-icons.small li.facebook a {
  background-position: -24px 0;
}
.type-777 ul.social-icons.small li.twitter a {
  background-position: 0 0;
}
.type-777 ul.social-icons.small li.vimeo a {
  background-position: -72px 0;
}
.type-777 ul.social-icons.small li.youtube a {
  background-position: -240px 0;
}
.type-777 ul.social-icons.small li.tumblr a {
  background-position: -96px 0;
}
.type-777 ul.social-icons:hover li,
.type-777 ul.social-icons.small:hover li {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
}
.type-777 ul.social-icons li:hover,
.type-777 ul.social-icons.small li:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.type-777 #header {
  padding: 35px 0;
}
.type-777 #header-section {
  position: relative;
  z-index: 5;
  width: 100%;
  display: inline-block;
  margin-bottom: -7px;
}
.type-777 .container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.type-777 .header-row {
  position: relative;
}
.type-777 ul {
  list-style: none;
}
.type-777 #header-section .header-menu .menu > li:first-child {
  border-left: 0;
}
.type-777 #header-section .header-menu .menu > li {
  font-size: 12px;
}
.type-777 #header-section .header-menu .menu > li {
  font-size: 12px;
  border-left: 1px solid #e4e4e4;
  float: left;
}
.type-777 nav .menu {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.type-777 .swift-search-link span {
  margin-left: 5px;
}
.type-777 .swift-search-link i {
  font-size: 12px;
  line-height: 16px;
  padding-left: 5px;
}
.type-777 nav .menu>li a {
  color: #252525;
}
.type-777 nav .menu>li a:hover {
  color: #07c1b6;
}
.type-777 [class*="span"] {
  max-width: 100%;
}
.type-777 .header-left > nav .tb-welcome {
  padding-right: 10px;
  line-height: 22px;
}
.type-777 .header-left .menu-search {
  border-left: 0;
}
.type-777 .header-1 #logo a.logo-link {
  text-align: center;
}
.type-777 #logo a.logo-link {
  display: block;
  max-height: 100%;
  font: 0/0 a;
}
.type-777 #logo>a.logo-link {
  height: 40px;
}
.type-777 #logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
.type-777 #logo.logo-center img {
  padding-top: 10px;
  margin: 0 auto;
}
.type-777 #logo a.show-main-nav {
  float: right;
}
.type-777 #logo a.show-main-nav i {
  vertical-align: 2px;
}
.type-777 #logo a.mobile-cart-link {
  float: right;
  margin-right: 10px;
  margin-top: -3px;
}
.type-777 .mobile-cart-link i.sf-cart {
  background: transparent url(../images/shopping_bag_icon.png) no-repeat top left;
  margin-right: 6px;
  width: 14px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
}
.type-777 #logo a.mobile-search-link {
  float: right;
  margin-right: 15px;
}
.type-777 #logo a.mobile-search-link i {
  vertical-align: 3px;
}
.type-777 .header-1 .header-right > nav {
  padding-top: 5px;
  margin-right: -15px;
}
.type-777 .header-right > nav {
  float: right;
  margin-left: 20px;
}
.type-777 nav .menu {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.type-777 ul {
  list-style: none;
  margin: 0 0 20px;
}
.type-777 #main-nav .header-right ul.menu > li:first-child {
  border-left: 0;
}
.type-777 #main-nav .header-right ul.menu > li {
  margin: 0;
  border-left: 1px solid #e4e4e4;
  line-height: 44px;
}
.type-777 nav .menu > li:first-child > a {
  padding-left: 0;
}
.type-777 #header-section .header-menu .menu > li:first-child {
  border-left: 0;
}
.type-777 #header-section .header-menu .menu > li {
  font-size: 12px;
  border-left: 1px solid #e4e4e4;
}
.type-777 .header-menu .menu > li.parent {
  padding-right: 15px;
}
.type-777 nav .menu li > a {
  text-decoration: none;
  padding: 0 12px;
  display: block;
  white-space: nowrap;
  background: transparent;
  position: relative;
}
.type-777 nav .menu li {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 8px 0;
}
.type-777 .header-right nav .menu ul.sub-menu {
  left: auto;
  right: 0;
}
.type-777 nav .menu ul.sub-menu {
  position: absolute;
  z-index: 9995;
  margin: 0;
  top: 100%;
  min-width: 100px;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  background-color: #ffffff;
}
.type-777 .header-menu .menu > li.parent:after,
.type-777 .top-menu .menu > li.parent:after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: block;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 9px;
}
.type-777 #header-languages > li > a {
  padding: 8px 12px;
  display: block;
  white-space: nowrap;
}
.type-777 nav .menu ul li > a {
  margin: 0;
  max-width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-777 nav .menu ul.sub-menu li {
  width: 100%;
  position: relative;
  display: block;
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid transparent;
  float: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  height: auto;
  z-index: 42;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}
.type-777 nav .menu ul.sub-menu li:hover > a {
  color: #1bbeb4 !important;
  background: #252525;
}
.type-777 #header-languages .current-language {
  background: #252525;
  color: #ffffff;
}
.type-777 #header-languages > li > div {
  padding: 8px 12px;
  display: block;
  white-space: nowrap;
}
.type-777 #header-section>#main-nav {
  border-top-color: #e4e4e4;
}
.type-777 #header-section > #main-nav {
  border-top: 1px solid #e4e4e4;
}
.type-777 .row {
  margin-left: -30px;
}
.type-777 .header-row {
  position: relative;
}
.type-777 #main-navigation {
  position: static;
  float: none;
}
.type-777 #main-navigation ul.menu {
  text-align: left;
  position: static;
}
.type-777 .header-4 #main-navigation ul.menu {
  text-align: right;
}
.type-777 #main-navigation ul.menu > li {
  float: none;
  display: inline-block;
  line-height: 44px;
}
.type-777 #main-navigation ul.menu > li .menu-item-desc {
  display: none;
}
.type-777 nav.std-menu ul.menu > li.menu-item.sf-mega-menu {
  position: inherit;
}
.type-777 li.menu-item.sf-mega-menu {
  position: static;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 30px;
  width: 1170px;
  margin: 0;
  max-width: 100%;
  letter-spacing: normal;
}
.type-777 .header-1 li.menu-item.sf-mega-menu > ul.sub-menu,
.type-777 .header-2 li.menu-item.sf-mega-menu > ul.sub-menu,
.type-777 .header-3 li.menu-item.sf-mega-menu > ul.sub-menu {
  left: 0;
}
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-fw > ul.sub-menu {
  max-width: 100%;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > li {
  position: relative;
  width: 100%;
  float: left;
  border-top: 0;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e3e3e3;
  border-bottom: 0;
  border-right: 0;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > li:first-child {
  border-left: 0;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > div {
  padding: 40px 0;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="2"].sf-mega-menu-natural-width > ul.sub-menu {
  width: 40%;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="3"].sf-mega-menu-natural-width > ul.sub-menu {
  width: 50%;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="4"].sf-mega-menu-natural-width > ul.sub-menu {
  width: 50%;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="5"].sf-mega-menu-natural-width > ul.sub-menu {
  width: 60%;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="6"].sf-mega-menu-natural-width > ul.sub-menu {
  width: 60%;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="2"] > ul.sub-menu > li,
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="2"] > ul.sub-menu > div > li {
  width: 50%;
  float: left;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="3"] > ul.sub-menu > li,
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="3"] > ul.sub-menu > div > li {
  width: 33.33333%;
  float: left;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="4"] > ul.sub-menu > li,
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="4"] > ul.sub-menu > div > li {
  width: 25%;
  float: left;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="5"] > ul.sub-menu > li,
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="5"] > ul.sub-menu > div > li {
  width: 20%;
  float: left;
}
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="6"] > ul.sub-menu > li,
.type-777 li.menu-item.sf-mega-menu[data-megamenucols="6"] > ul.sub-menu > div > li {
  width: 16.66666%;
  float: left;
}
.type-777 nav#main-navigation li.menu-item.sf-mega-menu > ul.sub-menu > li ul,
.type-777 nav#main-navigation li.menu-item.sf-mega-menu > ul.sub-menu > div > li ul,
.type-777 nav#mini-navigation li.menu-item.sf-mega-menu > ul.sub-menu > li ul {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  opacity: 1 !important;
  width: 100%;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  max-width: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: all;
}
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-alt.no-headings ul.sub-menu > li ul > li:first-child,
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu li,
.type-777 li.menu-item.sf-mega-menu ul.sub-menu > li ul > li:first-child {
  border-top-width: 0;
}
.type-777 li.menu-item.sf-mega-menu ul.sub-menu > li ul > li.menu-item {
  width: 100%;
  float: none;
}
.type-777 li.menu-item.sf-mega-menu ul.sub-menu li.menu-item > a {
  float: none;
  display: block;
  text-align: left;
}
.type-777 li.menu-item.sf-mega-menu ul.sub-menu > div > li.menu-item > a {
  padding: 0 35px;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > li.menu-item > a,
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > li.menu-item > span.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 20px 0;
  display: block;
  padding: 10px 15px;
}
.type-777 li.menu-item.sf-mega-menu.no-headings > ul.sub-menu > li.menu-item > a,
.type-777 li.menu-item.sf-mega-menu.no-headings > ul.sub-menu > li.menu-item > span.title {
  display: none;
}
.type-777 li.menu-item.sf-mega-menu > ul.sub-menu > li ul {
  padding: 0 20px 20px;
}
.type-777 li.menu-item.sf-mega-menu.no-headings > ul.sub-menu > li ul {
  padding: 20px;
}
.type-777 li.menu-item.sf-mega-menu.no-column-spacing  > ul.sub-menu > li ul {
  padding: 0 !important;
}
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-alt ul.sub-menu > li ul > li:first-child,
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-alt ul.sub-menu > li ul > li:first-child,
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-alt > ul.sub-menu li {
  border-top-width: 1px;
}
.type-777 li.menu-item.sf-mega-menu.sf-mega-menu-natural-width > ul.sub-menu {
  left: auto;
  margin: 0;
  min-width: 0;
}
.type-777 .menu-search ul li form input {
  margin: 10px;
  width: 230px;
  box-sizing: border-box;
  height: 36px;
  background: transparent;
  border: 0;
}
.type-777 .shopping-bag {
  width: 300px;
}
.type-777 .wishlist-bag {
  width: 260px;
}
.type-777 .bag-header {
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #e4e4e4;
}
.type-777 .bag-empty {
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 16px;
  line-height: 24px;
}
.type-777 .wishlist-empty {
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 16px;
  line-height: 24px;
}
.type-777 .bag-buttons {
  padding: 15px;
}
.type-777 .bag-buttons a {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 13px;
  text-align: left;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #252525;
}
.type-777 .bag-buttons a:hover {
  background: #1bbeb4;
  color: #fff !important;
  text-decoration: none;
}
.type-777 .sf-roll-button {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  padding: 0 14px;
  transition: all 0.35s;
}
.type-777 .sf-roll-button:hover span {
  top: -100%;
}
.type-777 .sf-roll-button span {
  display: block;
  height: 100%;
  position: relative;
  transition: top 0.35s;
  width: 100%;
}
.type-777 .menu .parent ul > li {
  list-style: none;
  margin-left: 0;
  position: relative;
}
.type-777 ul > li .sub-menu {
  display: none;
}
.type-777 ul > li:hover .sub-menu {
  display: block;
}
.type-777 #header-section .mobile-search-form {
  display: none;
}
.type-777 #header-section .mobile-search-form input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: 0;
  font-size: 18px;
}
.asset-bg.alt-one {
  background-image: url(../images/ff_rp_bkg2.png);
  background-repeat: repeat;
}
.asset-bg {
  border-color: #e4e4e4;
}
.page-heading {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0 !important;
  position: relative;
  text-align: left;
}
.page-heading .heading-text {
  float: left;
}
.page-heading h1 {
  margin-top: 0;
}
h1,
h1 a {
  color: #252525;
}
#breadcrumbs {
  background: #ffffff;
  color: #999999;
  font-size: 11px;
  line-height: 22px;
  padding: 8px 10px 6px;
  float: right;
}
#breadcrumbs a {
  text-decoration: none;
}
#breadcrumbs a,
#breadcrumb i {
  color: #999999;
}
i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
#breadcrumbs i,
.widget_breadcrumb_navxt i {
  padding: 0 8px;
  font-size: 11px;
  width: 5px;
}
.inner-page-wrap {
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-content {
  border-bottom-color: #e4e4e4;
}
.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
}
.woocommerce div.product .entry-title {
  display: none;
}
a,
.ui-widget-content a {
  color: #666666;
}
div.product .entry-title {
  display: none;
}
.flexslider {
  background: transparent;
  border: 0;
  width: 100%;
  display: block;
}
.flexslider ul.slides {
  margin: 0;
  height: auto;
  overflow: hidden;
  list-style: none !important;
}
.flexslider .slides > li {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
  display: none;
}
.slides {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0 0 20px;
}
lSSlideOuter .lSPager {
  padding-left: 0;
}
.lSSlideOuter {
  overflow: hidden;
}
#product-img-slider li a.zoom {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  color: #252525;
  background: #fff;
  padding: 4px 6px 5px;
  border-radius: 2px;
}
#product-img-slider li a.zoom i {
  vertical-align: -1px;
}
#product-img-slider .lSSlideWrapper {
  box-shadow: 0 8px 6px -7px #999;
  margin-bottom: 30px;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
#product-img-slider .slides.slider-loaded > li {
  opacity: 1;
}
#product-img-slider .slides > li {
  display: block;
  opacity: 0;
}
.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {
  float: left;
}
div.product div.images {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 0;
  float: left;
  width: 48%;
}
div.product div.images img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
}
#content div.product div.images,
div.product div.images,
#content div.product div.images,
div.product div.images {
  float: left;
  width: 48%;
}
#content div.product div.summary,
div.product div.summary,
#content div.product div.summary,
div.product div.summary {
  float: right;
  width: 48%;
}
div.product div.summary {
  margin-bottom: 50px;
  float: right;
  width: 48%;
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  opacity: 1;
}
.lSSlideOuter .lSPager.lSGallery li {
  opacity: 0.5;
  overflow: hidden;
  transition: opacity 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
li {
  line-height: 20px;
}
.lSSlideOuter .lSGallery li {
  float: left;
}
.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}
.lSAction > a.disabled {
  pointer-events: none;
  opacity: 0 !important;
}
.lSSlideWrapper:hover .lSAction>.lSNext {
  opacity: 1;
  right: 20px;
}
.flex-direction-nav a,
.wooslider-direction-nav a,
.lSAction > .lSNext,
.lSAction > .lSPrev {
  width: 36px;
  height: 36px;
  margin: -18px 0 0;
  display: block;
  background: transparent url(../images/showcase-nav.png) no-repeat center left;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.lSAction>.lSNext {
  background-position: -36px 0;
  right: -36px;
}
.lSSlideWrapper:hover .lSAction > .lSPrev {
  opacity: 1;
  left: 20px;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: -36px;
}
.summary-top {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
div.product .summary p.price,
.woocommerce-page div.product .summary p.price {
  float: left;
  margin-right: 20px;
  font-size: 24px;
  margin-bottom: 0;
}
ul.products li.product .price,
.woocommerce div.product p.price {
  color: #252525;
}
body,
p,
.masonry-items .blog-item .quote-excerpt,
#commentform label,
.contact-form label {
  font-size: 13px;
  line-height: 22px;
}
.summary-top .product-navigation .nav-next {
  display: inline-block;
  float: right;
}
.summary-top .product-navigation .nav-previous {
  display: inline-block;
  margin-left: 12px;
  float: right;
}
div.product .product-short {
  margin-bottom: 30px;
}
div.product form.cart,
div.product p.cart {
  margin-bottom: 2em;
}
div.product form.cart div.quantity {
  float: left;
  margin: 0 4px 0 0;
}
.quantity .minus,
.quantity input.qty,
.quantity .plus {
  position: relative;
  float: left;
  height: 32px;
  width: 28px;
  margin: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-color: rgba(0,0,0,0.1);
  text-shadow: none;
  padding-right: 0;
}
.quantity .qty {
  width: 3.631em;
  text-align: center;
}
.quantity .qty-adjust {
  float: left;
}
.quantity .qty-plus {
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
}
a,
.ui-widget-content a {
  color: #666666;
}
.quantity .qty-minus {
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
}
.quantity {
  background: #f7f7f7;
  color: #252525;
}
form.cart button.single_add_to_cart_button {
  background: #252525 !important;
  color: #f7f7f7;
}
form.cart button.single_add_to_cart_button {
  background: #222;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  padding: 0 15px;
  float: left;
  font-weight: bold !important;
  outline: 0 !important;
}
form.cart button.single_add_to_cart_button:hover {
  color: #1bbeb4;
}
form.cart button.single_add_to_cart_button i {
  margin-right: 10px;
  font-size: 10px;
  vertical-align: 1px;
}
form.cart .yith-wcwl-add-to-wishlist {
  display: block;
  padding: 0;
  float: left;
  line-height: 22px;
  min-height: 40px;
}
.yith-wcwl-add-to-wishlist {
  background: #252525;
  color: #f7f7f7;
  border-left: 1px solid #444;
  margin-top: 0;
}
.yith-wcwl-add-button a.add_to_wishlist {
  margin: 0px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
}
.yith-wcwl-add-button > a i {
  margin-right: 0;
  vertical-align: -1px;
}
form.cart .yith-wcwl-add-to-wishlist a {
  display: block;
  padding: 9px 13px;
  background: transparent;
}
.yith-wcwl-add-to-wishlist span.feedback {
  display: none !important;
}
.yith-wcwl-add-to-wishlist add_to_wishlist {
  display: none !important;
}
.yith-wcwl-add-button a {
  background: #252525;
  color: #f7f7f7;
}
#product-accordion .accordion-group:first-child {
  border-top-width: 1px;
}
#product-accordion .accordion-group {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top-width: 0;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
}
#product-accordion .accordion-toggle {
  position: relative;
  padding-left: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.collapse.in {
  height: auto;
}
#product-accordion .accordion-inner {
  border-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.accordion-inner {
  padding: 9px 15px;
}
div.product form.cart:after,
div.product form.cart:before,
div.product p.cart:after,
div.product p.cart:before {
  display: table;
  content: " ";
}
form {
  margin: 0 0 20px;
}
#reviews #comments .add_review:after,
.products ul:after,
div.product form.cart:after,
div.product p.cart:after,
nav.woocommerce-pagination ul,
ul.products:after {
  clear: both;
}
a:hover {
  text-decoration: none;
}
a:hover {
  color: #1bbeb4;
}
a:hover,
a:active {
  outline: 0;
}
.share-links {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding: 12px 0;
  margin-top: 20px;
}
.share-links ul li a {
  padding: 10px;
}
#product-accordion .accordion-toggle:after {
  content: "\f107";
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  position: absolute;
  right: 0;
  margin-top: -10px;
  top: 50%;
}
.product_meta p .leave-feedback {
  float: right;
}
.product_meta a.inline {
  border-bottom: 1px dotted #e4e4e4;
}
.share-links span {
  float: left;
}
.share-links ul {
  float: right;
  margin-bottom: 0;
  margin-right: -10px;
  list-style: none;
}
.share-links ul li {
  float: left;
  margin-left: 5px;
}
.share-links > ul > li {
  margin-right: 12px;
  line-height: 18px;
}
.share-links a:hover {
  text-decoration: none;
}
.share-links ul li a {
  padding: 10px;
}
#product-display-area {
  clear: both;
  margin-bottom: 50px;
}
p {
  margin: 0 0 10px;
}
h4.spb_heading,
h4.lined-heading {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
h4.spb_heading:before,
h4.lined-heading:before {
  content: "";
  display: block;
  border-top: 2px solid #444;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
h4.lined-heading span {
  background: #ffffff;
}
h4.lined-heading span {
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.carousel-wrap {
  position: relative;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
ul.products li.product figure {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
ul.products li.product figure > .product-img-wrap {
  display: block;
  float: left;
  width: 100%;
  z-index: 1;
}
img {
  height: auto;
  max-width: 100%;
}
@media only screen and (max-width: 979px) {
  div.product form.cart div.quantity {
    float: none;
    margin-bottom: 20px;
    display: block;
    height: auto;
    overflow: hidden;
    max-width: 70px;
  }
  .page-heading .heading-text {
    float: none;
  }
  #breadcrumbs {
    float: none;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #breadcrumbs {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  div.product div.images {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  div.product div.summary {
    width: 100%;
    float: none;
  }
}
ul.products li.product figure figcaption {
  background: #252525;
  bottom: -80px;
  position: absolute;
  width: 100%;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
ul.products li.product figure figcaption .yith-wcwl-add-to-wishlist {
  float: right;
  display: block;
  padding: 0;
  position: relative;
  border-left-color: rgba(255,255,255,0.2);
}
ul.products li.product figure figcaption .yith-wcwl-add-to-wishlist a {
  padding: 10px 14px;
}
figure a {
  display: block;
}
li.product figcaption .shop-actions>a {
  padding: 10px 14px;
  text-transform: uppercase;
  position: absolute;
  color: #e4e4e4;
}
.page-content .related.products {
  margin-top: 30px;
  padding-top: 0;
}
.owl-carousel .owl-item {
  float: left;
}
ul.products li.product figure,
ul.products li.product figure.product-transition {
  padding-bottom: 0 !important;
}
.carousel-wrap ul.products li.product {
  width: 100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
ul.products li.product figure.product-transition:hover > .product-img-wrap {
  transform: translate3d(0,-100%,0);
  transition: transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
}
ul.products li.product figure.product-transition .product-image.second-image {
  position: absolute;
}
ul.products li.product figure:hover {
  bottom: 0;
}
ul.products li.product figure:hover figcaption {
  bottom: 0;
}
ul.products li.product .product-details {
  float: left;
}
ul.products li.product h3 {
  margin: 0 0 4px;
  padding: 0;
  line-height: 18px;
  font-size: 1em;
}
#product-accordion .accordion-inner {
  border-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.accordion-inner > h2 {
  display: none;
}
table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0,0,0,0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes {
  border-top: 0;
  margin-bottom: 10px;
}
table.shop_attributes tr:first-child th {
  border-top: 0;
}
table.shop_attributes th {
  padding: 11px 0;
}
table.shop_attributes td {
  text-align: right;
  font-style: normal;
  border-bottom: 0;
  border-top: 1px dotted rgba(0,0,0,0.1);
}
table.shop_attributes th {
  text-align: left;
  font-weight: normal;
  border-bottom: 0;
  border-top: 1px dotted rgba(0,0,0,0.1);
}
table.shop_attributes tr:first-child td {
  border-top: 0;
}
.accordion-inner {
  border-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
#reviews #comments h2 {
  clear: none;
}
#comments > h2 {
  display: none;
}
#review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0;
  background: 0 0;
  border: 0;
}
#reviews h3 {
  margin: 0;
}
#respond h3 {
  margin-top: 0;
}
#reply-title small {
  margin-top: 5px;
  font-size: 14px;
  display: block;
}
#commentform {
  margin-top: 10px;
  margin-bottom: 0;
}
#review_form #respond p {
  margin: 0 0 10px;
}
#commentform label {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}
p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
}
p.stars a:before,
p.stars a:hover~a:before {
  content: "\e021";
}
p.stars a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: WooCommerce;
  text-indent: 0;
}
#reviews #comment {
  height: 75px;
}
#review_form #respond textarea {
  box-sizing: border-box;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border-color: #e4e4e4;
  background: #f7f7f7;
}
#commentform p span.required {
  float: right;
}
.required {
  color: #ee3c59;
}
input,
input[type="text"] {
  outline: 0;
  border-radius: 0;
  box-shadow: none;
}
.comment-form-author {
  width: 235px;
  margin-bottom: 0;
}
#commentform input {
  margin-bottom: 12px;
}
input[type="text"] {
  border: 1px solid #ccc;
}
.comment-form-email {
  width: 235px;
  margin-bottom: 0;
}
p.form-submit {
  height: auto;
  overflow: hidden;
  margin-bottom: 0;
}
#review_form #respond .form-submit input {
  background: #f7f7f7;
  color: #252525;
}
#review_form #respond .form-submit input {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  padding: 12px 15px;
  border: 0;
  border-radius: 0;
  text-shadow: none;
  margin-bottom: 2px;
}
#review_form #respond .form-submit input {
  left: auto;
}
#review_form #respond .form-submit input:hover {
  background: #1bbeb4;
  color: #ffffff;
}
h3,
h3 a {
  color: #252525;
}
h3 {
  font-size: 17px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}
