.type-777 header-empty {
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #e4e4e4;
}
.type-777 i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.type-777 div.product .entry-title {
  display: none;
}
.type-777 .flexslider {
  background: transparent;
  border: 0;
  width: 100%;
  display: block;
}
.type-777 .flexslider ul.slides {
  margin: 0;
  height: auto;
  overflow: hidden;
  list-style: none !important;
}
.type-777 .flexslider .slides > li {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
  display: none;
}
.type-777 .slides {
  margin: 0;
  padding: 0;
}
.type-777 ul {
  list-style: none !important;
  margin: 0 0 20px;
}
.type-777 lSSlideOuter .lSPager {
  padding-left: 0;
}
.type-777 .lSSlideOuter {
  overflow: hidden;
}
.type-777 .lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.type-777 .lSSlideOuter .lightSlider > *,
.type-777 .lSSlideOuter .lSGallery li {
  float: left;
}
.type-777 div.product div.images {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 0;
  float: left;
  width: 48%;
}
.type-777 div.product div.images img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
}
.type-777 #content div.product div.images,
.type-777 div.product div.images,
.type-777 #content div.product div.images,
.type-777 div.product div.images {
  float: left;
  width: 48%;
}
.type-777 #content div.product div.summary,
.type-777 div.product div.summary,
.type-777 #content div.product div.summary,
.type-777 div.product div.summary {
  float: right;
  width: 48%;
}
.type-777 div.product div.summary {
  margin-bottom: 50px;
  float: right;
  width: 48%;
}
.type-777 .lSSlideOuter .lSPager.lSGallery li.active,
.type-777 .lSSlideOuter .lSPager.lSGallery li:hover {
  opacity: 1;
}
.type-777 .lSSlideOuter .lSPager.lSGallery li {
  opacity: 0.5;
  overflow: hidden;
  transition: opacity 0.35s linear 0s;
}
.type-777 .lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
.type-777 li {
  line-height: 20px;
}
.type-777 .lSSlideOuter .lSGallery li {
  float: left;
}
.type-777 .hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}
.type-777 .lSSlideWrapper:hover .lSAction>.lSNext {
  opacity: 1;
  right: 20px;
}
.type-777 .lSAction > .lSNext,
.type-777 .lSAction > .lSPrev {
  width: 36px;
  height: 36px;
  margin: -18px 0 0;
  display: block;
  background: transparent url(../images/showcase-nav.png) no-repeat center left;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.type-777 .lSAction>.lSNext {
  background-position: -36px 0;
  right: -36px;
}
.type-777 .lSSlideWrapper:hover .lSAction > .lSPrev {
  opacity: 1;
  left: 20px;
}
.type-777 .lSAction > .lSPrev {
  background-position: 0 0;
  left: -36px;
}
.type-777 .summary-top {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.type-777 div.product .summary p.price,
.type-777 .woocommerce-page div.product .summary p.price {
  float: left;
  margin-right: 20px;
  font-size: 24px;
  margin-bottom: 0;
}
.type-777 ul.products li.product .price,
.type-777 .woocommerce div.product p.price {
  color: #252525;
}
.type-777 body,
.type-777 p,
.type-777 .masonry-items .blog-item .quote-excerpt,
.type-777 #commentform label,
.type-777 .contact-form label {
  font-size: 13px;
  line-height: 22px;
}
.type-777 .summary-top .product-navigation .nav-next {
  display: inline-block;
  float: right;
}
.type-777 .summary-top .product-navigation .nav-previous {
  display: inline-block;
  margin-left: 12px;
  float: right;
}
.type-777 div.product .product-short {
  margin-bottom: 30px;
}
.type-777 div.product form.cart,
.type-777 div.product p.cart {
  margin-bottom: 2em;
}
.type-777 div.product form.cart div.quantity {
  float: left;
  margin: 0 4px 0 0;
}
.type-777 .quantity .minus,
.type-777 .quantity input.qty,
.type-777 .quantity .plus {
  position: relative;
  float: left;
  height: 32px;
  width: 28px;
  margin: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-color: rgba(0,0,0,0.1);
  text-shadow: none;
  padding-right: 0;
}
.type-777 .quantity .qty {
  width: 3.631em;
  text-align: center;
}
.type-777 .quantity .qty-adjust {
  float: left;
}
.type-777 .quantity .qty-plus {
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
}
.type-777 a,
.type-777 .ui-widget-content a {
  color: #666666;
}
.type-777 .quantity .qty-minus {
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.type-777 input:focus,
.type-777 textarea:focus {
  box-shadow: none !important;
}
.type-777 .quantity {
  background: #f7f7f7;
  color: #252525;
}
.type-777 form.cart button.single_add_to_cart_button {
  background: #252525 !important;
  color: #07c1b6;
}
.type-777 form.cart button.single_add_to_cart_button {
  background: #222;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  padding: 0 15px;
  float: left;
  font-weight: bold !important;
  outline: 0 !important;
}
.type-777 form.cart button.single_add_to_cart_button:hover {
  color: #1bbeb4;
}
.type-777 form.cart button.single_add_to_cart_button i {
  margin-right: 10px;
  font-size: 10px;
  vertical-align: 1px;
}
.type-777 form.cart .yith-wcwl-add-to-wishlist {
  display: block;
  padding: 0;
  float: left;
  line-height: 22px;
  min-height: 40px;
}
.type-777 .yith-wcwl-add-to-wishlist {
  background: #252525;
  color: #f7f7f7;
  border-left: 1px solid #444;
  margin-top: 0;
}
.type-777 .yith-wcwl-add-button a.add_to_wishlist {
  margin: 0px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
}
.type-777 .yith-wcwl-add-button > a i {
  margin-right: 0;
  vertical-align: -1px;
}
.type-777 form.cart .yith-wcwl-add-to-wishlist a {
  display: block;
  padding: 9px 13px;
  background: transparent;
}
.type-777 .yith-wcwl-add-to-wishlist span.feedback {
  display: none !important;
}
.type-777 .yith-wcwl-add-to-wishlist add_to_wishlist {
  display: none !important;
}
.type-777 .yith-wcwl-add-button a {
  background: #252525;
  color: #f7f7f7;
}
.type-777 #product-accordion .accordion-group:first-child {
  border-top-width: 1px;
}
.type-777 #product-accordion .accordion-group {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top-width: 0;
}
.type-777 .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
}
.type-777 #product-accordion .accordion-toggle {
  position: relative;
  padding-left: 0;
}
.type-777 .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.type-777 .collapse.in {
  height: auto;
}
.type-777 #product-accordion .accordion-inner {
  border-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.type-777 .accordion-inner {
  padding: 9px 15px;
}
.type-777 div.product form.cart:after,
.type-777 div.product form.cart:before,
.type-777 div.product p.cart:after,
.type-777 div.product p.cart:before {
  display: table;
  content: "";
}
.type-777 form {
  margin: 0 0 20px;
}
.type-777 #reviews #comments .add_review:after,
.type-777 .products ul:after,
.type-777 div.product form.cart:after,
.type-777 div.product p.cart:after,
.type-777 nav.woocommerce-pagination ul,
.type-777 ul.products:after {
  clear: both;
}
.type-777 a:hover {
  text-decoration: none;
  color: #1bbeb4;
}
.type-777 a:hover,
.type-777 a:active {
  outline: 0;
}
.type-777 .share-links {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding: 12px 0;
  margin-top: 20px;
}
.type-777 .share-links ul li a {
  padding: 10px;
}
.type-777 #product-accordion .accordion-toggle:after {
  content: "\f107";
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  position: absolute;
  right: 0;
  margin-top: -10px;
  top: 50%;
}
.type-777 .product_meta p .leave-feedback {
  float: right;
}
.type-777 .product_meta a.inline {
  border-bottom: 1px dotted #e4e4e4;
}
.type-777 .share-links span {
  float: left;
}
.type-777 .share-links ul {
  float: right;
  margin-bottom: 0;
  margin-right: -10px;
  list-style: none !important;
}
.type-777 .share-links ul li {
  float: left;
  margin-left: 5px;
}
.type-777 .share-links > ul > li {
  margin-right: 12px;
  line-height: 18px;
}
.type-777 .share-links a:hover {
  text-decoration: none;
}
.type-777 .share-links ul li a {
  padding: 10px;
}
@media only screen and (max-width: 979px) {
  .type-777 div.product form.cart div.quantity {
    float: none;
    margin-bottom: 20px;
    display: block;
    height: auto;
    overflow: hidden;
    max-width: 70px;
  }
  .type-777 .page-heading .heading-text {
    float: none;
  }
  .type-777 #breadcrumbs {
    float: none;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .type-777 #breadcrumbs {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .type-777 div.product div.images {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .type-777 div.product div.summary {
    width: 100%;
    float: none;
  }
}
