.M15-Menu-List{
    margin-top : 20px;
    .widget_content{
        background: #F5F4F4;


    }
    .widget_content ul{
        list-style: none;

    }
    .list_links{
        padding: 0px;
        margin: 0px;

    }
    .list_links li a{
        padding-left:  20px;

    }
    .widget_content ul li{
        padding: 10px; 
        border-bottom:  1px solid white;

        text-transform: uppercase;
    }
    .widget_content ul li a{
        text-decoration: none;
    }
    .widget_content ul li a:hover{
        color: #4BAE4F;

    }
}
.M3-Panel{
    background: #F5F3F4 ;
    .content-right{
        padding: 0;
        margin: 0;

    }
    .holder {
        padding: 0;
    }
    .holder img{

        text-align: center;
    }
    .carousel-caption {
        position: relative;
        left: 0%;
        right: 0%;
        bottom: 0px;
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #000;
        text-shadow: none;
        & .btn {
            text-shadow: none; // No shadow for button elements in carousel-caption
        }
    }
    .carousel-control .glyphicon-chevron-right{
        margin-right: -315px;
    }
    .carousel-caption .btn {
        text-shadow: none;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
        border-radius: 0;
        background: #4BAE4F;
        color: white;

    }
    .carousel-caption .btn:hover {
        background: #374046;
    }
    .carousel {
        position: relative;
    }
    .carousel h2{
        color: #4BAE4F;
        text-transform: uppercase;
    }

    .controllers {
        position: absolute;
        top: 0px;
        display: none;
    }

    .carousel-control.left, 
    .carousel-control.right {
        background-image: none;
    }

}