.type-721 {
  background: #fff;
  color: #666;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: normal;
}
.type-721 .left-position {
  left: 0;
  position: absolute;
}
.type-721 .margin-right {
  right: 0;
  margin: 0 auto;
}
.type-721 .margin-padding {
  margin: 0;
  padding: 0;
}
.type-721 .color-fami-size {
  color: #000;
  font-family: "FontAwesome";
  font-size: 13px;
}
.type-721 .width-height {
  height: auto;
  width: 100%;
}
.type-721 .width-height2 {
  width: 100%;
  height: 100%;
}
.type-721 .position-text {
  position: relative;
  text-align: center;
}
.type-721 .padding-transition-function {
  padding: 8px 25px;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75,0,0.125,1);
}
.type-721 .font-text {
  text-align: left;
  font-weight: normal;
}
.type-721 * {
  margin: 0;
  padding: 0;
}
.type-721 img {
  border: 0;
  vertical-align: top;
}
.type-721 a {
  color: #666;
  text-decoration: none;
}
.type-721 a:hover {
  text-decoration: none;
  color: #262626;
}
.type-721 a:focus {
  outline: 0;
  color: #262626;
}
.type-721 h1,
.type-721 h2,
.type-721 h3,
.type-721 h4,
.type-721 h5,
.type-721 h6 {
  margin: 0 0 5px;
  line-height: 1.35;
  color: #999999;
}
.type-721 h1 {
  font-size: 20px;
  font-weight: normal;
}
.type-721 h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
.type-721 h3 {
  font-size: 16px;
  font-weight: normal;
}
.type-721 h4 {
  font-size: 14px;
  font-weight: normal;
}
.type-721 h5 {
  font-size: 12px;
  font-weight: bold;
}
.type-721 h6 {
  font-size: 11px;
  font-weight: bold;
}
.type-721 form {
  display: inline;
}
.type-721 fieldset {
  border: 0;
}
.type-721 legend {
  display: none;
}
.type-721 table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}
.type-721 caption,
.type-721 th,
.type-721 td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}
.type-721 p {
  margin: 0 0 10px;
}
.type-721 strong {
  font-weight: bold;
}
.type-721 address {
  font-style: normal;
  line-height: 1.35;
}
.type-721 cite {
  font-style: normal;
}
.type-721 q,
.type-721 blockquote {
  quotes: none;
}
.type-721 q:before,
.type-721 q:after {
  content: '';
}
.type-721 small,
.type-721 big {
  font-size: 1em;
}
.type-721 ul,
.type-721 ol {
  list-style: none;
}
.type-721 .container-width {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}
.type-721 input,
.type-721 select,
.type-721 textarea,
.type-721 button {
  vertical-align: middle;
}
.type-721 select {
  padding: 3px;
}
.type-721 select option {
  padding-right: 10px;
}
.type-721 textarea {
  overflow: auto;
}
.type-721 button.button {
  overflow: visible;
  width: auto;
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.type-721 button.button span {
  display: block;
  font-family: "Raleway", sans-serif;
  background: #fff;
  line-height: 22px;
  padding: 3px 12px;
  text-align: center;
  white-space: nowrap;
  color: #262626;
  text-decoration: none;
  border: 1px solid #262626;
  font-weight: bold;
  text-transform: uppercase;
}
.type-721 button.button span span {
  border: 0;
  padding: 0;
}
.type-721 button.button:hover span {
  background: #262626;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.type-721 .product_hover-block .button.btn-cart {
  width: 100%;
}
.type-721 .button.btn-cart > span {
  padding: 6px 20px;
}
.type-721 #nav ul {
  display: none;
  padding: 10px;
  top: 52px;
  width: 15em;
  left: 0;
  position: absolute;
}
.type-721 #nav ul div {
  top: 5px;
}
.type-721 #nav ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
.type-721 #nav div ul {
  position: static;
  width: auto;
  border: none;
}
.type-721 .product_desc {
  padding: 0 10px;
}
.type-721 .product_hover-block {
  bottom: 0;
  width: 100%;
  opacity: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.type-721 .product_hover-block .ratings {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.type-721 .product-block:hover .product_hover-block {
  opacity: 1;
}
.type-721 h2.product-name {
  background: none;
  padding: 0px 0 0 !important;
  border-bottom: none !important;
  margin: 6px 0 5px;
}
.type-721 .products-grid {
  width: 100%;
}
.type-721 .products-grid li.item {
  float: left;
  width: 300px;
  padding: 0;
  list-style: none;
}
.type-721 .products-grid li .product-block {
  background: none repeat scroll 0 0 #fff;
  clear: both;
  margin: 5px 14px;
  overflow: hidden;
}
.type-721 .products-grid li .product-block-inner {
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}
.type-721 .products-grid .product-name {
  margin: 8px 0 0px;
  font-weight: normal;
  font-size: 14px;
}
.type-721 .products-grid .price-box {
  margin: 2px 0 7px;
}
.type-721 .tabberlive_outer_sub .products-grid li .product-block {
  margin: 5px 10px;
}
.type-721 .product-image-block-inner .product-image-block {
  position: relative;
}
.type-721 a.product-image {
  display: block;
}
.type-721 .product-block .product-image-block img {
  height: auto;
  width: 100%;
}
.type-721 .product-block .product-image-block .hover-image {
  right: 0;
  text-align: left;
  top: 0;
  visibility: hidden;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}
.type-721 .product-block .product-image-block:hover .hover-image {
  overflow: hidden;
  visibility: visible;
}
.type-721 .sale-new-label {
  color: #dc2626;
  display: block;
  padding: 1px 7px;
  text-align: center;
  text-transform: capitalize;
  top: 0px;
  z-index: 8;
  opacity: 0;
}
.type-721 .sale-label {
  color: #dc2626;
  display: block;
  padding: 1px 7px;
  text-align: center;
  text-transform: capitalize;
  top: 0px;
  z-index: 8;
  opacity: 0;
  left: 0;
  position: absolute;
}
.type-721 .new-label {
  position: absolute;
  right: 0px;
  color: #dc2626;
  display: block;
  padding: 1px 7px;
  text-align: center;
  text-transform: capitalize;
  top: 0px;
  z-index: 8;
  opacity: 0;
}
.type-721 .product-block:hover .sale-label,
.type-721 .product-block:hover .new-label {
  opacity: 1;
}
.type-721 .add-to-links li a.link-wishlist:before {
  content: "\f004";
  padding: 7px 7px;
  color: #000;
  font-family: "FontAwesome";
  font-size: 13px;
}
.type-721 .add-to-links li a.link-compare:before {
  content: "\f080";
  padding: 7px;
  color: #000;
  font-family: "FontAwesome";
  font-size: 13px;
}
.type-721 .add-to-links li:hover a.link-wishlist::before,
.type-721 .add-to-links li:hover a.link-compare::before {
  color: #fff;
}
.type-721 .add-to-links li a.link-wishlist,
.type-721 .add-to-links li a.link-compare {
  display: block;
  width: 100%;
  height: 100%;
}
.type-721 .rating-box {
  width: 69px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
  text-indent: -999em;
  overflow: hidden;
  margin: 4px 10px 0 0;
}
.type-721 .rating-box .rating {
  float: left;
  height: 13px;
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.type-721 .ratings .rating-box {
  margin-right: 5px;
  display: inline-block;
}
.type-721 .ratings .amount {
  display: none;
}
.type-721 .product_desc .ratings .rating-box,
.type-721 .product_desc .ratings {
  margin: 0;
}
.type-721 .price {
  white-space: nowrap !important;
  color: #000;
}
.type-721 .box-regular {
  font-weight: bold;
  color: #000;
}
.type-721 .price-box {
  margin: 5px 0;
}
.type-721 .price-box .price {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #000;
}
.type-721 .price-box .old-price {
  margin: 0;
  text-decoration: line-through;
  color: #c5c5c5;
  font-size: 16px;
}
.type-721 .price-box .old-price .price {
  font-weight: normal;
  color: #c76200;
  font-size: 11px;
  text-decoration: line-through;
}
.type-721 .regular-price {
  color: #c76200;
}
.type-721 .regular-price .price {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.type-721 .product_hover-block .actions .add-to-links {
  display: none;
}
.type-721 .add-to-links {
  margin: 5px 0 0;
  font-size: 12px;
}
.type-721 .add-to-links li {
  list-style: none;
}
.type-721 .tabberlive_outer_sub nav {
  height: 35px;
  line-height: 16px;
  position: relative;
  text-align: center;
}
.type-721 .tabberlive_outer_sub nav:before {
  background: #cccccc none repeat scroll 0 0;
  content: "";
  display: block;
  height: 1px;
  padding: 0;
  top: 45%;
  width: 100%;
  left: 0;
  position: absolute;
}
.type-721 .tabberlive_outer_sub ul.tabbernav_product {
  clear: both;
  padding: 0 14px 0 0;
  margin: 0;
  float: left;
  background: #fff;
  position: relative;
  text-align: center;
}
.type-721 .tabberlive_outer_sub ul.tabbernav_product li a {
  border: 1px solid #d9d9d9;
  color: #000;
  text-transform: uppercase;
  display: block;
  position: relative;
}
.type-721 .tabberlive_outer_sub ul.tabbernav_product li a:hover {
  border: 1px solid #000 !important;
}
.type-721 .tabberlive_outer_sub ul.tabbernav_product li a.selected {
  border: 1px solid #000 !important;
  color: #000 !important;
  font-weight: bold !important;
}
.type-721 .tabberlive_outer_sub .tabbernav_product li {
  display: inline-block;
  list-style: outside none none;
  padding: 0 12px 0 0;
  line-height: 17px;
  position: relative;
  text-align: center;
}
.type-721 .tabberlive_outer_sub .tabbernav_product .tab-text {
  overflow: hidden;
  padding: 1px;
}
.type-721 .tabberlive_outer_sub .tabbernav_product .tab-text:before {
  content: attr(data-text);
  font-weight: bold;
  top: 0;
  transform: translate3d(-100%,0px,0px);
  padding: 8px 25px;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75,0,0.125,1);
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.type-721 .tabberlive_outer_sub .tabbernav_product .tab-text span {
  display: block;
  padding: 8px 25px;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75,0,0.125,1);
}
.type-721 .tabberlive_outer_sub .tabbernav_product .tab-text:hover span {
  transform: translate3d(0px,100%,0px);
}
.type-721 .tabberlive_outer_sub .tabbernav_product .tab-text:hover:before {
  transform: translate3d(-25px,0px,0px);
}
.type-721 .tabs {
  margin: 30px -10px 25px;
}
.type-721 .tabberlive_outer_sub .tabs .view_actions {
  margin: 60px 0;
  text-align: center;
}
.type-721 .tabberlive_outer_sub .tabs .view_actions a {
  padding: 5px 40px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin: 60px;
}
.type-721 .tabberlive_outer_sub .tabs .view_actions a:hover {
  background: #000;
  color: #fff;
}
@media only screen and (max-width: 1023px) and (min-width: 980px) {
  .type-721 .container-width {
    width: 940px;
  }
}
@media only screen and (max-width: 979px) {
  .type-721 .container-width {
    width: 724px;
  }
}
@media only screen and (max-width: 767px) {
  .type-721 .container-width {
    width: auto;
    margin: 0 15px;
  }
}
@media only screen and (max-width: 479px) {
  .type-721 .tabberlive_outer_sub ul.tabbernav_product li {
    width: 100%;
  }
}
