.type_b_7 ul,
.type_b_7 li {
  list-style: none;
}
.type_b_7 .carousel-inner > .item > img,
.type_b_7 .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
.type_b_7 .testimonial_shipping_cms {
  overflow: hidden;
}
.type_b_7 .tm_shipping_cms {
  display: block;
  position: relative;
  width: 100%;
}
.type_b_7 .shipping_inner {
  margin-right: 30px;
  position: relative;
}
.type_b_7 .tm_shipping_cms .shipping-heading::after {
  background: url(../images/title_line.png) no-repeat scroll 0 0 transparent;
  content: "";
  height: 11px;
  margin-left: 30px;
  padding: 1px;
  position: absolute;
  top: 5px;
  width: 100%;
}
.type_b_7 .tm_shipping_cms .shipping-heading {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-bottom: 21px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}
.type_b_7 .ship_content1,
.type_b_7 .ship_content2,
.type_b_7 .ship_content3 {
  clear: both;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.type_b_7 .ship_content1 .img_content {
  background: url(../images/icons.png) no-repeat scroll 20px 26px transparent;
  padding: 20px;
}
.type_b_7 .ship_content1:hover .img_content {
  background-position: 20px -28px;
  border-color: #262626;
}
.type_b_7 .ship_content2 .img_content {
  background: url(../images/icons.png) no-repeat scroll 20px -84px transparent;
  padding: 20px;
}
.type_b_7 .ship_content2:hover .img_content {
  background-position: 20px -138px;
  border-color: #262626;
}
.type_b_7 .ship_content3 .img_content {
  background: url(../images/icons.png) no-repeat scroll 20px -192px transparent;
  padding: 20px;
}
.type_b_7 .ship_content3:hover .img_content {
  background-position: 20px -246px;
  border-color: #262626;
}
.type_b_7 .img_content {
  border: 1px solid #d9d9d9;
  float: left;
  height: 80px;
  margin-right: 40px;
  position: relative;
  width: 80px;
  box-sizing: border-box;
}
.type_b_7 .des_content .heading {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.type_b_7 .des_content > div {
  font-weight: 300;
}
.type_b_7 .testimonial {
  text-align: center;
  width: 100%;
}
.type_b_7 .testimonial_title {
  display: none;
}
.type_b_7 .testimonial_cms_inner {
  overflow: hidden;
  position: relative;
}
.type_b_7 .testimonial_outer {
  background: #f2f2f2 none repeat scroll 0 0;
  float: left;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.type_b_7 .testimonial_inner {
  border: 2px solid #fcfbf6;
}
.type_b_7 .testimonial_sub_inner {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.type_b_7 .testimonial-block {
  margin: 51px 0 0;
}
.type_b_7 .testimonial .image-block {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  margin-bottom: 38px;
  overflow: hidden;
  position: relative;
}
.type_b_7 .testimonial .image-block img {
  display: block;
  width: 100%;
}
.type_b_7 .testimonial .post-description {
  color: #666666;
}
.type_b_7 .testimonial .post-author {
  font-weight: bold;
  margin: 20px 0 15px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.type_b_7 .testimonial .post-author a {
  color: #000000;
}
.type_b_7 .carousel {
  margin-bottom: 0;
  padding: 0 40px 60px 40px;
}
.type_b_7 .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.type_b_7 .carousel-control.right {
  right: -12px;
}
.type_b_7 .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 20px;
  margin-right: -19px;
  left: 47% !important;
}
.type_b_7 .carousel-indicators li {
  background: #cecece;
}
.type_b_7 .carousel-indicators .active {
  background: #000000;
}
@media only screen and (max-width: 609px) {
  .type_b_7 .carousel-indicators {
    left: 46% !important;
  }
}
@media only screen and (max-width: 479px) {
  .type_b_7 .ship_content1,
  .type_b_7 .ship_content2,
  .type_b_7 .ship_content3 {
    text-align: center;
  }
  .type_b_7 .ship_content1 .img_content,
  .type_b_7 .ship_content2 .img_content,
  .type_b_7 .ship_content3 .img_content {
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .type_b_7 .carousel {
    padding: 0;
  }
  .type_b_7 .carousel-indicators {
    left: 36% !important;
    bottom: -12px;
  }
}
.type_b_7 .slider-item {
  text-align: center;
}
