.type-764 .sub-footer {
  background: #f2f2f2;
}
.type-764 .about h1,
.type-764 .event h1 {
  color: #2f2f2f;
  font-size: 15px;
}
.type-764 .about p,
.type-764 .event p {
  color: #888888;
  font-size: 12px;
}
.type-764 .event p a {
  color: #19caaf;
  text-decoration: none;
}
.type-764 .event p a:hover {
  color: #2f2f2f;
}
.type-764 .service ul {
  list-style: none;
  padding: 0;
}
.type-764 .service ul li {
  padding: 4px 0;
}
.type-764 .service ul li h1 {
  color: #414141;
  font-size: 15px;
}
.type-764 .service ul li a {
  color: #4bd3be;
  font-size: 14px;
  text-decoration: none;
}
.type-764 .service ul li a:hover {
  color: #414141;
}
.type-764 .service ul li .follow a i:hover {
  color: #19caaf;
}
.type-764 .follow a span {
  color: #888888;
}
.type-764 .border {
  border-bottom: 1px #e5e5e5 solid;
  margin: 10px 0;
  padding: 20px 0;
}
.type-764 .service {
  border-bottom: 1px #e5e5e5 solid;
  margin: 10px 0;
  padding: 20px 0;
}
.type-764 .line {
  border-right: 1px #e5e5e5 solid;
}
.type-764 .footer {
  background: #f2f2f2;
  padding: 20px;
}
.type-764 .footer-bottom a {
  color: #a4a4a4;
  text-decoration: none;
}
.type-764 .footer-bottom a:hover {
  color: #2f2f2f;
}
.type-764 .footer-bottom {
  font-size: 13px;
  color: #a4a4a4;
  margin-top: 20px;
}
.type-764 .a {
  float: left;
}
@media all and (max-width: 480px) {
  .type-764 .footer-bottom {
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .type-764 .service {
    display: none;
  }
}
