.type-36{
    .header{
        background: #e5e5e5;
    }
    a{
        text-decoration: none;
    }
    h2{
        font-size: 18px;
    }
    .header_contai{
        a{
            color: #ff7f00;

        }
    }
    .header_contai2{
        margin-top: -30px;
        float: right;
        .fa{
            font-size: 22px;
            margin-right: 5px;
            color: #ff7f00;
        }
        a{
            padding: 0 10px;
            color: black;
        }
    }
    .title{
        padding-top: 20px;
        display: flex;
        padding-bottom: 20px;
    }
    .title1{
        .fa-bars{
            float: left;
            border: 1px solid #ccc;
            padding: 12px;
            margin-top: 20px;
        }
        h2{
            float: left;
            border: 1px solid #ccc;
            padding: 10px 30px;
        }
        .trai{
            margin-left: 12px;
        }
    }
    .title2{
        padding-left: 45%;
        a{
            color: #ff7f00;
        }
    }
    .title3{
        margin-top: -47px;
        padding-top: 0;
        padding-left: 88%;
        .fa{
            border: 1px solid #ccc;
            padding: 12px;
        }
    }
    .menu{
        padding: 12px;
        background: #e5e5e5;
        .home{
            color: #ff7f00;
        }
        ul{
            list-style: none;
            li{
                margin-left: 6%;
                float: left;
                a{
                    font-weight: bold;
                    color: black;
                    font-size: 18px;
                }
            }
        }

    }
    .w3-display-left {
        position: absolute;
        top: 65%;
        padding: 12px;
        left: 0%;
        transform: translate(0%,-50%);
        -ms-transform: translate(-0%,-50%);
    }
    .w3-display-right {
        position: absolute;
        top: 65%;
        padding: 12px;
        right: 0%;
        transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
    }
    .w3-tag {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
    }
    .w3-black{
        color: #fff!important;
        background-color: #7f7f7f!important;
    }
    .w3-badge {
        cursor: pointer;
    }
    .content {
        padding-bottom: 15px;
        text-align: center;
        .d1{
            text-align: center;
            .fa{
                padding-top: 14px;
                font-size: 40px;
            }
            p{
                font-size: 15px;
                color: #ffaa56;
            }
        }
    }
    .contact{
        padding-top: 12px;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    .left{
        border: 1px solid #ffaa56;
        width: 3%;
        position: relative;
        margin-left: 37%;
        top: 49px;
    }
    .right{
        border: 1px solid #ffaa56;
        width: 3%;
        position: relative;
        margin-left: 60%;
        top: -41px;
    }
    .fa-square-o{
        position: relative;
        margin-left: -19%;
        top: 37px;
        color: #ffaa56;
    }
    .o2{
        position: relative;
        margin-left: 19%;
        top: -32px;
        color: #ffaa56;
    }
    .s1{
        color: #ffaa56;
    }
    
}