.type-721{

    background:#FFFFFF;
    color:#666666;
    font-family:"Raleway",sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 1px;
    text-align:left;

    * { margin:0; padding:0; }

    img           { border:0; vertical-align:top; }

    a             { color:#666666; text-decoration:none; }
    a:hover       { text-decoration:none; color:#262626; }
    a:focus        { outline:0;  color:#262626; }

    /* Headings */
    h1,h2,h3,
    h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#999999; }
    h1            { font-size:20px; font-weight:normal; }
    h2            { font-size:18px; font-weight:normal; margin-bottom:15px; }
    h3            { font-size:16px; font-weight:normal; }
    h4            { font-size:14px; font-weight:normal; }
    h5            { font-size:12px; font-weight:bold; }
    h6            { font-size:11px; font-weight:bold; }

    /* Forms */
    form          { display:inline; }
    fieldset      { border:0; }
    legend        { display:none; }

    /* Table */
    table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
    caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

    /* Content */
    p             { margin:0 0 10px; }
    strong        { font-weight:bold; }
    address       { font-style:normal; line-height:1.35; }
    cite          { font-style:normal; }
    q,
    blockquote    { quotes:none; }
    q:before,
        q:after       { content:''; }
    small,big     { font-size:1em; }
    /*sup           { font-size:1em; vertical-align:top; }*/

    /* Lists */
    ul,ol         { list-style:none; }

    .container-width {
        width:1200px; 
        margin:0 auto; 
        padding:0px; 
        background:transparent;
    }

    @media only screen and (max-width: 1023px) and (min-width: 980px) {
        .container-width {
            width:940px; 
        }
    }
    @media only screen and (max-width: 979px) {
        .container-width {
            width:724px; 
        }
    }
    @media only screen and (max-width: 767px) {
        .container-width {
            width: auto;
            margin: 0 15px;
        } 


    }
    @media only screen and (max-width: 479px){
        .tabberlive_outer_sub ul.tabbernav_product li{
            width: 100%; 
        }

    }
    input,select,textarea,button { vertical-align:middle;  }
    select { padding:3px; }
    select option { padding-right:10px; }
    textarea { overflow:auto; }
    button.button{ 
        padding:0; 
        border:0;
        overflow:visible;
        width:auto; 
        border:0;
        padding:0; 
        margin:0; 
        background:transparent;
        cursor:pointer; 
    }
    .product_hover-block .button.btn-cart { width: 100%;}
    .button.btn-cart > span{ padding:6px 20px;}
    button.button span { 
        display:block;  
        font-family:"Raleway",sans-serif;
        background:#fff; 
        line-height: 22px;
        padding: 3px 12px;
        text-align:center; 
        white-space:nowrap; 
        color:#262626; 
        text-decoration:none;
        border:1px solid #262626;
        font-weight:bold;
        text-transform:uppercase;
    }
    button.button span span { border:0; padding:0;   }
    button.button:hover span {
        background: #262626;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease 0s; 
    }
    #nav ul { display: none;  left: 0; padding: 10px;  position: absolute; top: 52px;  width: 15em;}
    #nav div ul { position:static; width:auto; border:none; }

    /* 3rd+ Level */
    #nav ul ul,
    #nav ul div { top:5px; }

    #nav ul li a {  }
    #nav ul li a { color:#000; text-decoration:none; display:block; font-size:13px;font-family:"Raleway",sans-serif; text-transform:capitalize; }
    #nav ul span,

    /* Category Page ========================================================================= */
    .product_desc { padding: 0 10px;}
    .product_hover-block {
        bottom: 0; 
        left: 0; 
        margin: 0 auto; 
        position: absolute; 
        right: 0; width: 100%; 
        opacity:0;
    }
    .product-block:hover .product_hover-block{
        opacity:1;
        }
    .product_hover-block  .ratings { 
        bottom: 40px; 
              left: 0; 
              margin: 0 auto; 
              position: absolute;
              right: 0;
    }
    h2.product-name{ 
        background:none;
        padding:0px 0 0 !important;
        border-bottom: none !important; 
        margin:6px 0 5px;
    }
    /* View Type: Grid */
    .products-grid{ width:100%; }
    .products-grid li.item { 
        float:left; 
        width:300px;
        padding:0;
        list-style:none;
    }
    .products-grid li .product-block{
        background: none repeat scroll 0 0 #FFFFFF;
        clear: both;
        margin: 5px 14px;
        overflow: hidden;
    }
    .tabberlive_outer_sub .products-grid li .product-block{ margin: 5px 10px;}
    .products-grid li .product-block-inner{
        overflow: hidden;
        padding:0px;
        position: relative;
        text-align: center;
    }
    .product-image-block-inner .product-image-block {
        position: relative;
    }
    a.product-image { display:block; }
    .product-block .product-image-block img {
        height: auto;
        width: 100%;
    }
    .product-block .product-image-block .hover-image {
        left: 0;
        /*opacity: 0; transition: all 0.8s ease 0s;*/
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        height:auto;
        visibility: hidden;
        width: 100%;
    }
    .product-block .product-image-block:hover .hover-image { /*  opacity: 1; transition: all 0.8s ease 0s;*/   overflow: hidden;    visibility: visible;}
    .products-grid .product-name { margin:8px 0 0px; font-weight:normal; font-size:14px; }
    .products-grid .product-name a { }
    .products-grid .price-box { margin:2px 0 7px; }

    .sale-label {
        color: #dc2626;
        display: block;
        left: 0px;
        padding: 1px 7px;
        position: absolute;
        text-align: center;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;	
        opacity:0; -khtml-opacity: 0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
    }
    .new-label {
        color: #dc2626;
        display: block;
        padding: 1px 7px;
        position: absolute;
        right: 0px;
        text-align: center;
        text-transform:capitalize;
        top: 0px;
        z-index: 8;
        opacity:0; -khtml-opacity:0; -webkit-opacity:0; -moz-opacity:0; -ms-opacity:0;
    }
    .product-block:hover .sale-label, .product-block:hover .new-label{opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
    /* View Type: List */

    .add-to-links li a.link-wishlist:before {
        color: #000;
        content: "\f004";
        font-family: "FontAwesome";
        font-size: 14px;
        padding:7px 7px;
    }
    .add-to-links li a.link-compare:before {
        color: #000;
        content: "\f080";
        font-family: "FontAwesome";
        font-size: 14px;
        padding: 7px;
    }
    .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before{ color:#fff;}
    .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { display: block; height: 100%; width: 100%;}

    /* Rating */
    .rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.png) 0 0 repeat-x; text-indent:-999em; overflow:hidden; margin:4px 10px 0 0; }
    .rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.png) 0 100% repeat-x; }
    .ratings .rating-box {margin-right:5px; display:inline-block; }
    .ratings .amount { display:none;}
    .product_desc .ratings .rating-box, .product_desc .ratings{ margin:0px;}


    /*  Product Prices */
    .price { white-space:nowrap !important;   color: #000; }
    .price-box { margin:5px 0; }
    .price-box .price { font-weight:bold; color:#000; font-size:18px; font-family:"Source Sans Pro",sans-serif; }

    /* Regular price */
    .regular-price { color:#c76200; }
    .regular-price .price {   font-size: 18px;    font-weight:bold; color:#000; }

    /* Old price */
    .price-box .old-price { margin:0; text-decoration: line-through; color:#c5c5c5; font-size:16px; }
    .old-price .price { font-weight:normal; color:#c76200;font-size:14px; text-decoration:line-through; }

    /* Add to Links */
    .product_hover-block .actions .add-to-links{ display:none;}
    .add-to-links { margin:5px 0 0; font-size:12px;  }
    .add-to-links li{ list-style:none; }

    /* Start Product Tab CMS */

    .tabberlive_outer_sub .htabs:before {
        background: #cccccc none repeat scroll 0 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        padding: 0;
        position: absolute;
        top: 45%;
        width: 100%;
    }
    .tabberlive_outer_sub .htabs {
        height: 35px;
        line-height: 16px;
        position: relative;
        text-align: center;
    }

    .tabberlive_outer_sub ul.tabbernav_product { clear: both; position: relative;  text-align: center; padding:0 14px 0 0; margin:0px; float:left; background:#fff;}
    .tabberlive_outer_sub .tabbernav_product li {
        display: inline-block;
        list-style: outside none none;
        padding:0 12px 0 0;
        position: relative;
        text-align: center;
        line-height:17px;
    }
    .tabberlive_outer_sub ul.tabbernav_product li a:hover { 
        border: 1px solid #000000 !important;

    }
    .tabberlive_outer_sub ul.tabbernav_product li a.selected {
        border: 1px solid #000000 !important;
        color: #000000 !important;
        font-weight: bold !important;
    }
    .tabberlive_outer_sub ul.tabbernav_product li a {
        border:1px solid #d9d9d9;
        color: #000;
        font-size: 13px;
        font-weight:normal;
        margin: 0;
        padding:8px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display:block;
        position:relative;
    }
    .tabberlive_outer_sub .tabbernav_product .tab-text:before {
        content: attr(data-text);
        font-weight: bold;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0px, 0px);  -ms-transform:translate3d(-100%, 0px, 0px); -o-transform:translate3d(-100%, 0px, 0px); -moz-transform:translate3d(-100%, 0px, 0px); 
        width: 100%;
    }
    .tabberlive_outer_sub .tabbernav_product .tab-text { overflow: hidden;  padding: 1px;}
    .tabberlive_outer_sub .tabbernav_product .tab-text:before, .tabberlive_outer_sub .tabbernav_product .tab-text > span {
        padding: 8px 25px;
        transition: transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -moz-transition:-moz-transform 0.3s; -ms-transition:-ms-transform 0.3s; -o-transition:-0-transform 0.3s;

        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        -moz-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -ms-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1); 
        -o-transition-timing-function:cubic-bezier(0.75, 0, 0.125, 1);

    }
    .tabberlive_outer_sub .tabbernav_product .tab-text:hover:before{transform:translate3d(-25px, 0px, 0px);-webkit-transform:translate3d(-25px, 0px, 0px);-ms-transform:translate3d(-25px, 0px, 0px);-o-transform:translate3d(-25px, 0px, 0px);-moz-transform:translate3d(-25px, 0px, 0px);}
    .tabberlive_outer_sub .tabbernav_product .tab-text:hover > span{transform:translate3d(0px, 100%, 0px);-webkit-transform:translate3d(0px, 100%, 0px); -ms-transform:translate3d(0px, 100%, 0px); -o-transform:translate3d(0px, 100%, 0px); -moz-transform:translate3d(0px, 100%, 0px); }
    .tabberlive_outer_sub .tabbernav_product .tab-text > span { display: block;}
    .tabs {  margin: 30px -10px 25px;}

    .tabberlive_outer_sub .tabs .view_actions { margin: 60px 0; text-align: center;}
    .tabberlive_outer_sub .tabs .view_actions a {
        padding: 5px 40px;
        background: #ffffff;
        border: 1px solid #000000;
        color: #000000;
        display:inline-block; 
        font-weight:bold; 
        text-align:center;
        margin: 60px;
        &:hover{
            background:#000;
            color:#fff;
        }
    }
    
    /* End Product Tab CMS */
}