.type-714 {
    @float: left;
    @float1: none;
    @float2: right;
    @background: none;
    @border: none;
    @position: absolute;
    @position1: relative;
    @display: none;
    @display1: block;
    @display2: inline-block;
    @text-align: center;
    @text-align1: left;
    @text-decoration: none;
    .type_b_chitiet_menu {
        .navbar-default {
            background: @background;
            border: @border;
            border-radius: 0;
        }
        .nav navbar-nav {
            float: @float1;
        }
        .navbar-default .navbar-brand {
            color: #000;
            font-weight: bold;
            display: @display;
            font-size: 1em;
        }
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover {
            background: @background;
            color: #000;
            font-weight: bold;
        }
        .navbar-default .navbar-nav>li>a {
            padding: 10px 0 0 0;
        }
        .navbar-nav>li {
            float: @float1;
        }
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
            padding: 0;
        }
        .navbar-nav {
            margin: 0;
        }
        .catogeri ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .catogeri ul li a {
            color: #777;
            text-decoration: @text-decoration;
        }
        .catogeri ul li {
            padding: 5px 0;
        }
        .catogeri ul li a:hover {
            color: #000;
        }
        .catogeri ul li .active {
            color: #000;
            font-weight: bold;
        }
        .distance {
            padding: 0;
        }
        .shopbybrand ul {
            padding: 0;
            list-style: none;
        }
        .shopbybrand ul li .active {
            color: #000;
            font-weight: bold;
            font-size: 15px;
        }
        .shopbybrand ul li {
            padding: 5px 0;
        }
        .shopbybrand ul li a {
            color: #777;
        }
        .shopbybrand ul li a:hover {
            text-decoration: @text-decoration;
            color: #000;
        }
        .thumb-image img {
            width: 100%;
        }
        .money1 {
            text-decoration: line-through;
            color: #777;
            font-size: 14px;
            font-weight: bold;
        }
        .money2 {
            color: #000;
            font-weight: bolder;
            font-size: 16px;
        }
        .text {
            padding: 5px 0;
        }
        .addtocart {
            padding: 5px 0;
        }
        hr {
            color: #e5e5e5;
        }
    }
}