.type-725 .media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.type-725 .media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 1px solid #000;
  border-radius: 0px 0px 0px 0px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}
.type-725 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}
.type-725 .media-carousel .carousel-control.right {
  right: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 1px solid #000;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}
.type-725 .media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.type-725 .media-carousel .carousel-indicators li {
  background: #c0c0c0;
}
.type-725 .media-carousel .carousel-indicators .active {
  background: #333333;
}
.type-725 .media-carousel img {
  width: 250px;
  height: 100px;
}
.type-725 .media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0px 0px 0px 0px;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  color: black;
  background: white;
}
.type-725 .media-carousel .carousel-control.left:hover {
  left: -12px;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0px 0px 0px 0px;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  color: white;
  background: black;
}
.type-725 .media-carousel .carousel-control.right {
  right: -12px;
  background-image: none;
  background: white;
  border: 1px solid #000;
  border-radius: 0px;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  color: black;
}
.type-725 .media-carousel .carousel-control.right:hover {
  right: -12px;
  background-image: none;
  background: black;
  border: 1px solid #000;
  border-radius: 0px;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  color: white;
}
