.type-739{
    @width: 100%;
    @color: #ff9933;
    @color2: #5b5b5b;
    @color3: #9ea6b0;
    @display: inline-block;
    @font-size: 14px;
    @text-align: center;
    @cursor: pointer;
    @margin: 0px;
    @float: left;
    .float-width{
        float: @float;
        width: @width;
    }
    .dis-text{
        text-align: @text-align;
        display: @display;
    }
    font-family: 'Open Sans', sans-serif;
    font-size: @font-size;
    line-height: 1.42857143;
    color: @color2;
    a{
        color: #000;
        text-decoration: none;
    }
    img{width: @width;}
    .hentry {margin: 0 0 1.5em;}
    .vc_row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .entry-content {
        margin: @margin;
        &:before, &:after{content: ""; display: table;}
    }
    p {
        display: block;
        -webkit-margin-before: 1em;
    }
    h2,h3,h4{
        font-family: 'Vollkorn', serif;
        line-height: 1.1;
        color: #3a3a3a;
    }
    h1, h2, h3, h4, h5, h6 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.24s ease-in-out;
    }
    .btn-default {
        color: @color;
        background-color: transparent;
        border-color: @color3 !important;
        transition: all 0.5s;
    }
    .lms_pc_btn {
        margin-top: @margin + 10;
    }
    .btn {
        padding: 6px 12px;
        margin-bottom: @margin + 15;
        font-size: @font-size;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        cursor: @cursor;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.5s;
        .dis-text;
    }
    .vc_column_container {
        padding-left: 0;
        padding-right: 0;
        .vc_column-inner {
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            width: @width;
        }
    }
    .lms_title_center {
        text-align: @text-align;
        .float-width;
        .lms_heading_1 {
            .dis-text;
            .lms_heading_title {
                margin-top: @margin + 80;
                font-weight: 400;
                padding: 0px 32px 28px 32px;
                border-bottom: 1px solid @color3;
                position: relative;
                font-weight: 500;
                &:after{
                    content: "";
                position: absolute;
                top: 100%;
                margin: -10px 0 0 -5px;
                left: 50%;
                width: 10px;
                height: 20px;
                background: #fff;
                border-left: 1px solid @color3;
                border-right: 1px solid @color3;
                -webkit-transform: rotate(20deg);
                }
            }
        }
        p {
            margin-top: @margin + 8;
            font-size: @font-size + 6;
            line-height: 24px;
            margin-bottom: @margin + 70;
        }
    }
    /*---------partner slider------------------*/
    .swiper-container {
        width: @width;
        height: auto;
    }
    .swiper-slide {
        color:#000;
        text-align:center;
    }
    .customNavigation {
        margin-bottom: @margin + 20;
        .dis-text;
        .float-width;
    }
    .lms_prev_next {
        width: 28px;
        height: 28px;
        line-height: 24px;
        font-size: @font-size + 11;
        margin: @margin + 5;
        color: @color;
        cursor: @cursor;
        border: 1px solid @color3;
        .dis-text;
        &:hover{ border-color: @color;}
    }
    .lms_our_partner_slider_item{
        border: 1px solid @color3;
        margin: @margin + 10;
        .lms_our_partner_item {
            text-align: @text-align;
            padding: 20px;
            img {
                width: 220px;
                height: 50px;
            }
            hr{
                border-bottom: 50px;
                border-top: 1px solid @color3;
            }
            .quote {
                font-size: @font-size + 27;
                color: @color2;
                font-weight: 100;
                line-height: 14px;
                display: @display;
                margin-bottom: @margin;
            }
            p{
                font-style: italic;
            }
        }
        &:hover{border-color: @color;}
    }
    .box4{
        width: 380px;
        float: @float;
    }
    @media (max-width: 1016px){
        .lms_our_partner_slider_item{
            margin: @margin + 5;
        }
    }
}
