.type-767 .credit-card-div span {
  padding-top: 10px;
}
.type-767 .credit-card-div img {
  padding-top: 30px;
}
.type-767 .credit-card-div .small-font {
  font-size: 9px;
}
.type-767 .credit-card-div .pad-adjust {
  padding-top: 10px;
}
