.type-716{
    @background:none;
    @border:none;
    @color:#000;
    @display:none;
    @text-align:center;
    .dropdown, .dropup{
        float: left;
    }
    .btn-primary {
        background: @background;
        border: @border;
        color: @color;
    }
    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
        background: @background;
        border-radius: 0;
        color: @color;
        border: @border;
    }
    .defaut{
        position: absolute;
        top: 6px;
        left: 150px;
    }
    .icon{
        float: right;
        padding: 2px 0;
    }
    .icon i{
        padding: 7px 0 0 10px;
    }
    .icon .fa{
        opacity: 0.5;
    }
    .icon .fa:hover{
        opacity: 1;
    }
    @media only screen and(max-width:425px){
        .dropdown, .dropup{
          text-align: @text-align;
          position: relative;
          left: calc(50% - 15px);
        }
        .defaut{
            display: @display;
        }
        .icon span{
            display: @display;
        }        
        .icon{
            float: none;
            text-align: @text-align;
        }
        .icon i{
            padding: 5px 10px;
        }
    }
}