.type-707{
    @color: #ccc;
    @color2: #fff;
    @color3: #e0e0e0;
    @color4: #c5988b;
    @boder: 1px soid @color;
    @boder2: 1px soid @color3;
    @background: #e17365;
    @background2: #7a7975;
    @margin: 10px;
    @font: LMRoman10Regular;
    @transition: 0.5s;
    @display: inline-block;
    @transition: all .2s ease-in-out;
    @font-weight:  normal;
    @border-bottom: none;
    @float: left;
    @text-align: center;
    @margin-bottom: 15px;
    @display2: none;

    .padding-margin{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .a-wishlist{
        text-decoration: none;
    }
    .color-backColor-textTr-transition{
        text-transform: uppercase;
        background-color: @background2;
        color: @color2;
        transition: @transition;
    }


    .col-md-6 {
        margin-left: -5px;
    }
    .product {
        .title {
            h4 {
                color: @color;
                font-family: @font;
                font-size: 25px;
            }
            .color-star {
                color: @color;
            }
        }
        .state {
            color: @color;
            .name {
                color: @color;
            }
        }
        .tab-title {
            margin-top: 20px;
            cursor: pointer;
            .active-tab {
                background: @color2;
            }
            h4 {
                padding: 0 8px 0 10px;
                line-height: 26px;
                color: #666;
                background: @color3;
                display: @display;
                font-size: 14px;
                border: @boder2;
                border-bottom: @border-bottom;
                margin: 0 2px 0 0;
            }
        }
        .active-section {
            display: block;
        }
        .attributes {
            margin-top: 30px;
            .attribute-list {
                display: @display;
                margin-right: @margin;
            }
            p {
                margin-top: @margin;
                padding-bottom: 20px;
            }
            .price {
                h5 {   
                    font-size: 24px;
                    line-height: 1px;
                    float: @float;
                    color: @color4;
                    font-weight: @font-weight;
                    margin-right: 20px;
                    font-family: Georgia;
                }
                .btn-add {
                    .color-backColor-textTr-transition;
                    padding: 12px 25px;

                }
                .btn-add:hover {
                    background-color: #e1423c;
                    transition: @transition;
                }
            }
        }
        label {
            margin-right: 5px;
            color: @color;
            font-weight: @font-weight;
        }
        a {
            .a-wishlist;
        }
    }
    .box-cart {
        margin-top: 25px;
        border-top: @boder2;
        padding-top: 10px;    
        figure{
            margin-left: @margin;
            float: @float;
            margin-right: 35px;
        }
        .wishlist {
            .a-wishlist;
            color: @color;
        }
    }
    .tab-title {
        font-family: LMRomanCaps10-Regular;   
    }
    ul.tab {
        .padding-margin;
        overflow: hidden;
        border: @boder;
        border-bottom: @border-bottom;
        background-color: #f1f1f1;
        li {
            float: @float;
            a {
                display: @display;
                color: black;
                text-align: @text-align;
                padding: 10px 11px;
                .a-wishlist;            
                font-size: 1.1em;
            }
        }
    }
    .active {background-color: @color2;}

    /* Style the tab content */
    .tabcontent {
        display: @display2;
        padding: 6px 12px;
        border: @boder;
        border-top: none;
        background: @color2;
    }
    #data-sheet {
        td {
            padding: 9px 10px;
        }
    }
    #accessories {
        text-align: @text-align;
        img {
            max-width: 100%;
            border: @boder2;
        }
        h3 {
            white-space: nowrap;
            font-size: 19px;
        }
        h5 {
            font-size: 18px;
            color: @color4;
            margin-bottom: @margin-bottom;
        }
        .btn-add-to-cart {
            background: @background2;
            color: @color2;
            padding: 7px 15px;
            margin-top: 15px;
            transition: @transition;
        }
        .btn-add-to-cart:hover {
            background: @background;
            transition: @transition;
        }
        ul {
            display: @display;
            .padding-margin;
            margin-bottom: @margin-bottom;
        }
    }

    #player {
        text-align: @text-align;
    }

    #comment {
        .thumb-comment {
            a {
                margin-left: 170px;
                padding: 7px 15px;
                line-height: 16px;
                .color-backColor-textTr-transition;    
            }
            a:hover {
                background: @background;
            }
            .star-color {
                color: @color;
            }
            p {
                padding-bottom: 10px;
            }
            margin-top: @margin;
            border-bottom: 1px dotted @color;
        }
    }
}
@media (max-width:981px) {
    .star {
        float: none;
    }
}
@media (min-width:980px) {
    .star {
        float: right;
    }

    select {
        width: 120px;
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
    #video {
        #player {
            max-width: 100%;
        }
    }

}
@media (max-width:361px) {
    .attribute-list {
        width: 100%;
    }
    .wishlist {
        float: left;
        margin-left: 15px;
        margin-top: 5px;
    }
    select {
        width: 100%;
    }
    #quantity {
        width: 100%;
        height: 40px;
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
    #video {
        #player {
            max-width: 100%;
        }
    }
    #btn-up {
        display: @display2;
    }

    #btn-down {
        display: @display2;
    }
}
@media (max-width: 769px) {
    ul.tab li a {
        padding: 10px 135px;
    }
    #btn-up {
        display: none;
    }

    #btn-down {
        display: none;
    }
    #accessories {
        h3 {
            font-size: 13px;
        }
        .btn-add-to-cart {
            font-size: 8px;
        }
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
}