.type-707{
    @color: #ccc;
    @color2: #fff;
    @color3: #e0e0e0;
    @color4: #c5988b;
    @boder: 1px soid @color;
    @boder2: 1px soid @color3;
    @background: #e17365;
    @background2: #7a7975;
    
    .col-md-6 {
        margin-left: -5px;
    }
    .product {
        .title {
            h4 {
                color: @color;
                font-family: LMRoman10Regular;
                font-size: 25px;
            }
            .color-star {
                color: @color;
            }
        }
        .state {
            color: @color;
            .name {
                color: @color;
            }
        }
        .tab-title {
            margin-top: 20px;
            cursor: pointer;
            .active-tab {
                background: @color2;
            }
            h4 {
                padding: 0 8px 0 10px;
                line-height: 26px;
                color: #666;
                background: @color3;
                display: inline-block;
                font-size: 14px;
                border: @boder2;
                border-bottom: none;
                margin: 0 2px 0 0;
            }
        }
        .active-section {
            display: block;
        }
        .attributes {
            margin-top: 30px;
            .attribute-list {
                display: inline-block;
                margin-right: 10px;
            }
            p {
                margin-top: 10px;
                padding-bottom: 20px;
            }
            .price {
                h5 {   
                    font-size: 24px;
                    line-height: 1px;
                    float: left;
                    color: @color4;
                    font-weight: normal;
                    margin-right: 20px;
                    font-family: Georgia;
                }
                .btn-add {
                    text-transform: uppercase;
                    padding: 12px 25px;
                    background-color: @background2;
                    color: @color2;
                    transition: all .2s ease-in-out;
                }
                .btn-add:hover {
                    background-color: #e1423c;
                    transition: all .2s ease-in-out;
                }
            }
        }
        label {
            margin-right: 5px;
            color: @color;
            font-weight: normal;
        }
        a {
            text-decoration: none;
        }
    }
    .box-cart {
        margin-top: 25px;
        border-top: @boder2;
        padding-top: 10px;    
        .social {
            margin-left: 10px;
            float: left;
            margin-right: 35px;
        }
        .wishlist {
            text-decoration: none;
            color: @color;
        }
    }
    .tab-title {
        font-family: LMRomanCaps10-Regular;   
    }
    ul.tab {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: @boder;
        border-bottom: none;
        background-color: #f1f1f1;
        li {
            float: left;
            a {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 10px 11px;
                text-decoration: none;            
                font-size: 1.1em;
            }
        }
    }
    .active {background-color: @color2;}

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: @boder;
        border-top: none;
        background: @color2;
    }
    #data-sheet {
        td {
            padding: 9px 10px;
        }
    }
    #accessories {
        text-align: center;
        img {
            max-width: 100%;
            border: @boder2;
        }
        h3 {
            white-space: nowrap;
            font-size: 19px;
        }
        h5 {
            font-size: 18px;
            color: @color4;
            margin-bottom: 15px;
        }
        .btn-add-to-cart {
            background: @background2;
            color: @color2;
            padding: 7px 15px;
            margin-top: 15px;
            transition: 0.5s;
        }
        .btn-add-to-cart:hover {
            background: @background;
            transition: 0.5s;
        }
        ul {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
        }
    }

    #player {
        text-align: center;
    }

    #comment {
        .thumb-comment {
            a {
                margin-left: 170px;
                padding: 7px 15px;
                line-height: 16px;
                background-color: @background2;
                color: @color2;
                text-transform: uppercase;
                transition: 0.5s;    
            }
            a:hover {
                background: @background;
            }
            .star-color {
                color: @color;
            }
            p {
                padding-bottom: 10px;
            }
            margin-top: 10px;
            border-bottom: 1px dotted @color;
        }
    }
}
@media (max-width:981px) {
    .star {
        float: none;
    }
}
@media (min-width:980px) {
    .star {
        float: right;
    }

    select {
        width: 120px;
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
    #video {
        #player {
            max-width: 100%;
        }
    }

}
@media (max-width:361px) {
    .attribute-list {
        width: 100%;
    }
    .wishlist {
        float: left;
        margin-left: 15px;
        margin-top: 5px;
    }
    select {
        width: 100%;
    }
    #quantity {
        width: 100%;
        height: 40px;
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
    #video {
        #player {
            max-width: 100%;
        }
    }
    #btn-up {
        display: none;
    }

    #btn-down {
        display: none;
    }
}
@media (max-width: 769px) {
    ul.tab li a {
        padding: 10px 135px;
    }
    #btn-up {
        display: none;
    }

    #btn-down {
        display: none;
    }
    #accessories {
        h3 {
            font-size: 13px;
        }
        .btn-add-to-cart {
            font-size: 8px;
        }
    }
    #custom-tab {
        img {
            max-width: 100%;    
        }
    }
}