.type-759{
    @display:inline-block;
    @display1:block;
    @position:relative;
    .breadcrumb {
        margin: 15px 0;
        padding: 8px 0;
        border-radius: 0;
        border: 1px solid #e1e0e0;
        background: #f2f2f2;
        color: #2f2f2f;
    }
    .breadcrumb {
        list-style: none;
    }
    .breadcrumb > li {
        padding: 0 20px;
        position: @position;
        white-space: nowrap;
    }
    .breadcrumb>li {
        display: @display;
    }
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: #f5f5f5;
        border-radius: 4px;
    }
    .breadcrumb > li:after {
        content:'';
        display: @display1;
        position: absolute;
        top: -3px;
        right: -5px;
        width: 26px;
        height: 26px;
        border-right: 1px solid #e1e0e0;
        border-bottom: 1px solid #e1e0e0;
        transform: rotate(-45deg);
    }
    .breadcrumb > li + li:before {
        content: '';
        padding: 0;
    }
    .breadcrumb i {
        font-size: 15px;
        color: #2f2f2f;
    }
    .breadcrumb i:hover {
        color: #19caaf;
    }
    a{
        color: #000; 
    }
    .breadcrumb a:hover {
        color: #19caaf;
    }
    a:hover {
        text-decoration: none;
        outline: none;
        list-style: none;
        color: #19caaf;
    }
    h2 {
        font-size: 27px;  
    }
    h3 {
        font-size: 21px;
    }
    .banner{
        font: 300 12px/18px "Ubuntu", sans-serif;
        color: #888;
        background: #fff;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #2f2f2f;
        margin: 10px 0 20px;
        line-height: 1.1;
    }
    .img-thumbnail {
        border: 0;
        background-color: #f7f7f7;
        padding: 0;
        border-radius: 0;
     
        line-height: 1.428571429;
        transition: all .2s ease-in-out;
        display: @display;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .box-subcat li a:hover {
        color: #19caaf;
    }
    .box-subcat li a {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 15px;
    }
    .box-subcat li .image:hover {
        border-color: #19caaf;
    }
    .box-subcat li .image {
        margin-bottom: 10px;
        border: 2px solid #dbdbdb;
        padding: 9px;
        transition: 0.3s all ease;
    }
    .box-subcat li {
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
    }


    @media (max-width: 767px){
        .box-subcat li .image {
            display: @display;
            float: left;
            margin-right: 15px;
            width: 25%;
        }
        .box-subcat li {
            overflow: hidden;
            clear: both;
            text-align: left;
        }
    }
    .product-filter {
        border-top: 1px #dadada solid;
        border-bottom: 1px #dadada solid;
        padding-top: 12px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .product-label {
        margin-top: 8px;
        margin-bottom: 0;
        font-weight: normal;
    }
    .sort {
        padding: 8px 0;
        width: 100%;
    }
    .show {
        padding: 8px 0;
        width: 100%;
    }
    .button-view {
        text-align: right;
    }
    .button-view button {
        background: none;
        border: none;
        font-size: 25px;
    }
    .button-view #list {
        color: #777;
    }
    .button-view #grid {
        color: #19caaf;
    }
    .pull-left {
        float: left!important;
    }
    .nav-cat .nam-page {
        margin: 5px 0 5px 0px;
        font: 300 12px/18px "Ubuntu", sans-serif;
        color: #888;
        background: #fff;

    }
    .pull-right {
        float: right!important;
    }
    #compare-total {
        display: @display;
        font-size: 17px;
        color: #fff;
        font-weight: 600;
        padding: 15px 20px;
        background: #42B856;
        margin-left: 10px;
    }
    #compare-total:hover {
        background: #19caaf;
    }
    .product-thumb {
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .product-thumb .image {
        position: @position;
        text-align: center;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 10px;

    }
    .product-thumb .image a:hover img {
        transform: scale(1.1)!important;
    }
    .product-thumb .image a img {
        transition: 0.3s all ease;
        margin-left: auto;
        margin-right: auto;
    }
    .img-responsive {
        display: @display1;
        max-width: 100%;
        height: auto;
    }
    .product-thumb .price {
        font-size: 19px;
        line-height: 22px;
        font-weight: 400;
        color: #19caaf;
    }
    .product-thumb h4 a, .product-thumb a {
        font-size: 13px;
        font-weight: 300;
        color: #2f2f2f;
    }
    .product-thumb h4 a:hover, .product-thumb a:hover {
        color: #19caaf;
    }
    .group-btn {
        float: left;
        margin-left: -40px;
    }
    .group-btn ul li{
        display: @display;
        float: left;
        margin:10px;

    }
    .group-btn ul li a {
        color: #888;
        background: #f2f2f2;
        padding: 10px;
        border-radius: 50%;
    }
    .group-btn ul li a:hover{
        text-decoration: none;
        background: #000000;
        color:#ffffff;
    }
    .group-btn #active a {
        background: rgb(25, 202, 175);
        color: #ffffff;
    }
    .group-btn #active a:hover{
        text-decoration: none;
        background: #000000;
    }
}