.type-752{
    .breadcrumb_wrap{
        .breadcrumb{
            background-color:  transparent;
            li{
                a{

                    color: #6c7b84;
                    &:hover {
                        text-decoration: none;
                        color: #4BAE4F;
                    }
                }
                span{
                    color: #6c7b84;
                }
            }
        }
    }
    .page_heading{
        margin: 0;
        font-size: 16px;
        background: #f5f4f4;
        border: 1px solid #ececec;
        min-height: 50px;
        padding: 14px 30px;
        a{
            font-weight: inherit;
            color: #4bae4f;
            text-decoration: none;
            transition: background 0.3s;
            &:hover{
                color: #374046;
            }
        }
    }
    .blog_article{
        margin: 30px 0 0 0;

        .article_title{
            margin: 0;
            font-size: 20px;
            font-weight: normal;
            color: #374046;
            text-transform: none;
        }
        .article_info{
            margin: 15px 0 0 0;
            .article_date{
                &:before{
                    content: '\f073';
                    margin: 0 5px 0 0;
                    font: 14px 'FontAwesome';
                }
            }
            span {
                margin: 0 0 0 12px;
                padding: 0 0 0 12px;
                border-left: 1px solid #ececec;
            }
        }
        .article_content{
            margin: 30px 0 0 0;
            .small_width {
                float: left;
                margin: 0 15px 10px 0;
                max-width: 40%;
                img{
                    width: 100%;
                }
            }
            .rte{
                .span{
                    text-decoration: underline;
                }
                ol{
                    padding: 0 15px;
                    .span2{
                        line-height: 1.5;
                    }
                }

            }
        }
        .article_footer{
            margin: 30px 0 0 0;
            .blog_tags{
                margin: -10px 0 30px 0;
                a {
                    display: inline-block;
                    margin: 10px 10px 0 0;
                    padding: 5px 10px;
                    background: rgba(0,0,0,0.05);
                    font-size: 13px;
                    color: #6c7b84;
                    &:before{
                        content: '\f02b';
                        margin: 0 5px 0 0;
                        font: 13px 'FontAwesome';
                        color: #6c7b84;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
            .article_pagination {
                margin: 15px 0 0 0;

            }
            .icon{
                .fa-facebook-official{
                    color: rgb(59, 89, 152);
                    font-size: 33px;
                }
                .fa-twitter-square{
                    color: rgb(29, 161, 242);
                    font-size: 33px;
                }
                .fa-google-plus-square{
                    color: rgb(220, 78, 65);
                    font-size: 33px;
                }
                .fa-pinterest-p{
                    color: rgb(203, 32, 39);
                    font-size: 33px;
                }
                
                
            }
        }
        #article_comments{
            .article_comments_form {
                margin: 30px 0 0 0;
                padding: 30px 0 0 0;
                border-top: 1px solid #ececec;
            }
        }
        .btn {
            margin: 15px 0 0 0;
            font-size: 12px;
            line-height: 40px;
            padding: 0px 18px;
            background: #4bae4f;
            color: #fff;
            font-weight: 300;
            border: 0;
            text-transform: uppercase;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17); 
        }
    }
}