.type-718{
    @the-none: none;
    @font-weight:bold;
    @color:#000;
    @color2: #666;
    @padding: 0 0 0 20px;
    @padding2: 5px 0;
    .abn{
        width: 1200px;
        padding: 0px;
    }
    .column_left_cms{
        width: 230px;
    }
    .color-font{
        color: @color;
        font-weight: @font-weight;
    }
    .padding-list{
        list-style: @the-none;
        padding: @padding;
    }
    .padding-float{
        float: @the-none;
        padding: @padding2;
    }
    .navbar-default{
        background: @the-none;
        border: @the-none;
        border-radius: 0;
        .navbar-brand{
            .color-font;
            display: @the-none;
            font-size: 1em;
        }
        .navbar-nav{
            float: @the-none;
            li{
                float: @the-none;
                a{
                    padding: 5px;
                }
            }
            .active>a, .active>a:focus,.active>a:hover{
                background: @the-none;
                .color-font;
            }
        }

    }
    .shopcollection {
        ul{
            .padding-list;
            li{
                .padding-float;
                a{
                    color: @color2;
                    &:hover{
                        text-decoration: none;
                        color: #333;
                    }
                }
            }
        }
        .active{
            .color-font;
        }
    }
    .wintershop{
        .shopcollection;
    }
    @media only screen and (max-width:768px){
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover{
            display: @the-none;
        }
        hr{display: @the-none;}
        .shopcollection{display: @the-none;}
        .wintershop{display: @the-none;}
        .navbar-default .navbar-brand{display: block;}
        .navbar-nav{border: 1px solid @color2;}
    }
    @media only screen and (max-width: 979px){
        .shopcollection ul{
            display: none;
        }
    }
}