.type-718{
    @the-none: none;
    @font-weight:bold;
    @color:#000;
    @color2: #666;
    @padding: 0 0 0 20px;
    @padding2: 5px 0;
    .color-font{
        color: @color;
        font-weight: @font-weight;
    }
    .padding-list{
        list-style: @the-none;
        padding: @padding;
    }
    .padding-float{
        float: @the-none;
        padding: @padding2;
    }
    .navbar-default{
        background: @the-none;
        border: @the-none;
        border-radius: 0;
    }
    .nav navbar-nav{float: @the-none;}
    .navbar-default .navbar-brand{
        .color-font;
        display: @the-none;
        font-size: 1em;
    }
    .navbar-default .navbar-nav>.active>a, 
    .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        background: @the-none;
        .color-font;
    }
    .navbar-default .navbar-nav>li>a{padding: 5px;}
    .navbar-nav>li{float: @the-none;}
    .shopcollection ul{.padding-list;}
    .shopcollection ul li{.padding-float;}
    .shopcollection ul li a{color: @color2;}
    .shopcollection .active{.color-font;}
    .wintershop ul{.padding-list;}
    .wintershop .active{.color-font;}
    .wintershop ul li{.padding-float;}
    .wintershop ul li a{color: @color2;}
    @media only screen and (max-width:768px){
        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover{
            display: @the-none;
        }
        hr{display: @the-none;}
        .shopcollection{display: @the-none;}
        .wintershop{display: @the-none;}
        .navbar-default .navbar-brand{display: block;}
        .navbar-nav{border: 1px solid @color2;}
    }
}