.type-711 .navbar-default {
  background: none;
  border: none;
  border-radius: 0;
}
.type-711 .nav navbar-nav {
  float: none;
}
.type-711 .navbar-default .navbar-brand {
  color: #000;
  font-weight: bold;
  display: none;
  font-size: 1em;
}
.type-711 .navbar-default .navbar-nav>.active>a,
.type-711 .navbar-default .navbar-nav>.active>a:focus,
.type-711 .navbar-default .navbar-nav>.active>a:hover {
  background: none;
  color: #000;
  font-weight: bold;
}
.type-711 .navbar-default .navbar-nav>li>a {
  padding: 10px 0 0 0;
}
.type-711 .navbar-nav>li {
  float: none;
}
.type-711 .navbar-default .navbar-collapse,
.type-711 .navbar-default .navbar-form {
  padding: 0;
}
.type-711 .navbar-nav {
  margin: 0;
}
.type-711 .shopby {
  padding: 5px 0;
}
.type-711 .shopby h4 {
  color: #000;
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}
.type-711 .catogeri ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.type-711 .catogeri ul li a {
  color: #777;
  text-decoration: none;
}
.type-711 .catogeri ul li {
  padding: 5px 0;
}
.type-711 .catogeri ul li a:hover {
  color: #000;
}
.type-711 .catogeri ul li .active {
  color: #000;
  font-weight: bold;
}
.type-711 .color {
  padding: 5px 0;
}
.type-711 .distance {
  padding: 0;
}
.type-711 .menushohby ul li a {
  padding: 5px;
}
.type-711 .manufacturer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.type-711 .manufacturer {
  padding: 15px 0;
}
.type-711 .menufacturer .active {
  color: #000;
  font-weight: bold;
}
.type-711 .manufacturer ul li {
  padding: 5px 0;
}
.type-711 .manufacturer ul li a {
  color: #777;
}
.type-711 .manufacturer ul li a:hover {
  color: #000;
  text-decoration: none;
}
.type-711 .price .active {
  color: #000;
  font-weight: bold;
}
.type-711 .price ul {
  padding: 0;
  list-style: none;
}
.type-711 .price ul li {
  padding: 5px 0;
}
.type-711 .price ul li a {
  color: #777;
}
.type-711 .price ul li a:hover {
  color: #000;
  text-decoration: none;
}
.type-711 .shopbybrand ul {
  padding: 0;
  list-style: none;
}
.type-711 .shopbybrand ul li .active {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
.type-711 .shopbybrand ul li {
  padding: 5px 0;
}
.type-711 .shopbybrand ul li a {
  color: #777;
}
.type-711 .shopbybrand ul li a:hover {
  text-decoration: none;
  color: #000;
}
.type-711 .thumb-image img {
  width: 100%;
}
.type-711 .price-product .money1 {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}
.type-711 .price-product .money2 {
  color: #000;
  font-weight: bolder;
  font-size: 16px;
}
.type-711 .text {
  padding: 5px 0;
}
.type-711 .addtocart {
  padding: 5px 0;
}
.type-711 .seeall {
  float: right;
}
.type-711 hr {
  color: #e5e5e5;
}
