.type-711 .instagram-feed {
  text-align: center;
  margin-top: 50px;
  position: relative;
  margin-bottom: 20px;
}
.type-711 .instagram-feed .instafeed-container {
  position: relative;
  overflow: hidden;
}
.type-711 .instagram-feed .instafeed-container .title-table {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.type-711 .instagram-feed .instafeed-container .title-table .w50p {
  width: 50%;
}
.type-711 .instagram-feed .instafeed-container .title-table .w50p .title-wing {
  display: inline-block;
  height: 3px;
  border-top: 1px solid #e6e5e5;
  border-bottom: 1px solid #e6e5e5;
  width: 100%;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title {
  position: relative;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .title {
  line-height: 46px;
  text-transform: uppercase;
  padding: 0 73px;
  white-space: nowrap;
  font-family: LMRoman10Regular;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .flexisel-nav {
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  width: 39px;
  height: 39px;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 2px;
  color: #a7a6a0;
  margin-top: 19px;
  font-size: 20px;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .flexisel-nav:hover {
  background: #e17365;
  box-shadow: 0 0 0 1px #e17365, 0 0 0 2px #e17365;
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .flexisel-nav:hover .fa {
  color: #fff;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .fa {
  margin-top: 9px;
}
.type-711 .instagram-feed .instafeed-container .title-table .carousel-title .btm-flexisel-right {
  left: auto;
  right: 0;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container {
  margin-bottom: 70px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle {
  padding: 0;
  margin-left: 15px;
  text-align: left;
  cursor: pointer;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent {
  margin-right: 30px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-caption {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  margin-bottom: 5px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-likes {
  margin-right: 20px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-icon {
  line-height: 15px;
  font-size: 13px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-icon .fa-comment {
  margin-top: 3px;
}
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-icon .fa-eye,
.type-711 .instagram-feed .instafeed-container .instamiddle-nbs-container .instafeed-middle .ig-indent .ig-wrapper .ig-icon .fa-comment {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  color: #e17365;
}
@media (max-width: 480px) {
  .title {
    font-size: 14px;
  }
}
