footer{
    margin: 50px 0 0 0;
    padding-top: 28px;
    background: #f5f4f4;
    .type-744{
        .footer_block h2 {
            margin-top: 22px;
        }
        h2 {
            margin-bottom: 13px;
            line-height: 1.71;
            font-size: 16px;
            margin: 15px 0;
            font-weight: bold;
            color: #374046;
            text-transform: uppercase;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 50px;
        }
        .footer_links li {
            margin-top: 10px;
        }
        .footer_links li+li {
            margin-top: 11px;
        }
        .footer_links li a {
            font-size: 14px;
            text-transform: uppercase;
            color: #6c7b84;
        }
        .footer_links li a:hover{
            color: #4BAE4F;
            text-decoration: none;
        }
        .copyright{
            padding: 10px;
            background: #ECECEC;
        }

    }
    @media (max-width: 767px){
        .footer_block h2 {
            margin-top: 17px;
        }
    }
    @media (max-width: 480px){
        .footer_block {
            width: 100%;
            margin-bottom: -43px;
        }
    }

}
