.M5-Footer{

    footer {
        margin: 50px 0 0 0;
        padding-top: 28px;
        background: #f5f4f4;

    }



    footer .footer_block h2 {
        margin-top: 22px;
    }
    footer h2 {
        margin-bottom: 13px;
        line-height: 1.71;
    }
    h2 {
        font-size: 16px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 50px;

    }
    footer .footer_links li {
        margin-top: 10px;

    }
    footer .footer_links li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #6c7b84;
    }
    .footer_links li a:hover{
        color: #4BAE4F;
        text-decoration: none;
    }

    .copyright{
        padding: 10px;
        background: #ECECEC;
    }
    .container a:hover{
        color: #4BAE4F;
        text-decoration: none;
    } 

}
