.type-745{
    .type-34{
        .top-content {
            margin-top: 20px;
        }
        .info {
            margin-left: 20px;
        }
        .info h2 {
            font-size: 19px;
            color: rgb(25, 202, 175);
        }
        .info a {
            color: #000000;
        }
        .info a:hover {
            text-decoration: none;
        }
        .left-top {
            float: left;
            border: 1px solid #e5e5e5;
            margin-right: 5px;
        }
        .left-top:hover {
            background: rgb(25, 202, 175);
        }
        .left-top:hover h2 {
            color: #ffffff;
        }
        .left-top:hover p {
            color: #ffffff;
        }

        .image .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .right-top {
            float: right;
            border: 1px solid #e5e5e5;
            margin-left: 5px;
        }
        .right-top:hover {
            background: rgb(25, 202, 175);
        }
        .right-top:hover h2{
            color: #ffffff;
        }
        .right-top:hover p {
            color:#ffffff;
        }
        //------------center content-------------//
        .center-content {
            margin-top: 30px;

        }
        .nav {
            margin-left: 15px;
            margin-right: 15px;
            background-color: #f2f2f2;
        }
        .nav h2 {
            color: #2f2f2f;
            float: left;
            margin-left: 30px;
            padding-bottom: 10px;
            font-size: 15px;
            font-weight: 400;
        }
        .btn {
            float: right;
        }
        .btn ul li {
            margin-top: 10px;
            padding-right:  10px;
            display: inline-block;
        }
        .btn ul li a {
            color:#888;
        }
        .column {
            display: inline-block;
            margin-top: 30px;
            border: 1px #f2f2f2 solid;
        }
        .new{
            background: #2f2f2f;
            font-size: 12px;
            position: absolute;
            margin-top: -10px;
            left: 20px;
            line-height: 19px;
            padding: 0 8px;
        }
     
        .new a {
            text-decoration: none;
            color:#fff;
        }
        .images img {
            text-align: center;
            margin: 20px;
        }
        .images:hover img{
            -ms-transform:scale(1.1);
            -webkit-transform:scale(1.1);
            transform:scale(1.1);
        }
        .price h2 {
            float: left;
            color: rgb(25, 202, 175);
        }
        .price h3 {
            float:right;
            margin-top: 25px;
            margin-right: 85px;
            text-decoration: line-through;
        }
        .name a{
            float: left;
            font-weight: bold;
            color: #888888;
        }
        .name a:hover{
            text-decoration: none;
            color: rgb(25, 202, 175);
        }
        .description {
            float: left;
            text-align: none;
            margin-left: 0;
            color: #888888;
        }
        .group-btn {
            float: left;
        }
        .group-btn ul li{
            display: inline-block;
            float: left;
            margin: 10px;
        }
        .group-btn ul li a {
            color: #888;
            background: #f2f2f2;
            padding: 10px;
            border-radius: 50%;
        }
        .group-btn ul li a:hover{
            text-decoration: none;
            background: #000000;
            color:#ffffff;
        }
        .group-btn #active a {
            background: rgb(25, 202, 175);
            color: #ffffff;
        }
        .group-btn #active a:hover{
            text-decoration: none;
            background: #000000;
        }
    }
}