.type-745 .flexbox {
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.type-745 .item {
  display: block;
  text-align: center;
  flex: 0 0 16.66%;
  max-width: 16.66%;
}
.type-745 .item a {
  display: block;
  padding: 0 10px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.type-745 .item img {
  max-width: 100%;
}
.type-745 .item:first-child,
.type-745 .item:last-child {
  flex: 0 0 auto;
}
.type-745 .item:last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  .type-745 .flexbox {
    flex-wrap: wrap;
  }
  .type-745 .item,
  .type-745 .item:first-child,
  .type-745 .item:last-child {
    padding: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
