.type-750{
    .btn, .scheme_1 .btn a, .scheme_1 .btn-info, .scheme_1 .btn-primary {
        height: 40px;
        line-height: 40px;
        padding: 0px 18px;
        font-weight: 400;
        background: #4bae4f;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        border: 0;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 0;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
        transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    }
    .breadcrumb_wrap .breadcrumb{
        background-color:  transparent;
        padding: 0;
        li{
            a{
                color: #6c7b84;
                &:hover {
                    text-decoration: none;
                    color: #4BAE4F;
                }
            }
            span{
                color: #6c7b84;
            }
        }
    }
    .title{
        margin: 0;
        font-size: 16px;
        background: #f5f4f4;
        border: 1px solid #ececec;
        min-height: 50px;
        padding: 14px 30px;
    }
    a {
        color: #4bae4f;
        text-decoration: none;
    }
    h4 {
        font-size: 14px;
    }
    p {
        margin: 15px 0;
        padding: 0;
    }
    .collection_listing_main {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #ececec;
        .collection_listing_item {
            margin: -1px 0 0 0;
            padding: 30px 10px;
            text-align: center;
            border: 1px solid #ececec;
            border-left-width: 0;
            flex: 0 0 25%;
            max-width: 25%;
            .collection_img a {
                display: block;
                text-align: center;
                padding: 10px 40px;
                opacity: 1;
                transition: all 0.4s ease-in-out;
                img {
                    max-width: 100%;
                }
            }
            .collection_name {
                margin: 15px 0 0 0;
            }
            .collection_products {
                margin: 5px 0;
                color: #8a99a2;
            }
            .collection_desc {
                margin: 5px 0 0 0;
            }
            .btn {
                margin: 15px 0 0 0;
                &:hover{
                    background: #374046;
                    color: #fff; 
                }
            }
        }
    }
    @media (max-width: 480px){
        .collection_listing_main .collection_listing_item {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @media (max-width: 767px) and (min-width: 481px){
        .breadcrumb_wrap {
            margin: 25px 0;
        }
        .collection_listing_main .collection_listing_item {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media (max-width: 991px) and (min-width: 768px){
        .breadcrumb_wrap {
            margin: 30px 0;
        }
    }
    @media (max-width: 1199px) and (min-width: 768px){
        .collection_listing_main .collection_listing_item {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    } 
}

