.M12-Url{
    .breadcrumb{
        background-color:  transparent;

    }
    .breadcrumb_wrap ul li a:hover {
        text-decoration: none;
        color: #4BAE4F;
    }
}
.M4-Product{
    .btn-default{
        background: #4BAE4F;
        border-radius: 0;
        color: white;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
    }
    .btn-default:hover{
        background: #374046;
    }
    border: 1px solid #ececec;
    .pricing {
        text-align: center;
        background: transparent;

    }
    .price-product {
        font-weight: bold;
        font-size: 16px;
        color: #777;
    }
    .well  a span{

        color: #4BAE4F  ;
    }
    .well  a span:hover{

        color: #6c7b84  ;
    }
    .well{
        border: 0;
        box-shadow: 0;
        background: transparent;
        border-radius: 0;
        margin: 0;
        padding:  0;

    }
    .well a span {
        text-align: center;
    }
    .col-md-3{
        padding:  0;
    }

    .well img:hover{
        opacity: 0.8;
    }

    .well img{
        width: 100%;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    .well span:hover{

        color: #4BAE4F;

    }
}

