.type-780 #top-bar {
  background: #252525;
  color: #999999;
  font-size: 12px;
  z-index: 6;
  position: relative;
}
.type-780 #top-bar a {
  color: #ffffff;
}
.type-780 #top-bar ul.social-icons {
  margin-bottom: 0;
}
.type-780 .hidden-desktop {
  display: none !important;
}
.type-780 .tb-text {
  padding: 3px 0;
  line-height: 24px;
}
.type-780 .swift-search-link span {
  margin-left: 5px;
}
.type-780 .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.type-780 .row {
  margin-left: -30px;
}
.type-780 .tb-text {
  padding: 3px 0;
}
.type-780 .clearfix:before,
.type-780 .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-780 ul.social-icons:hover li,
.type-780 ul.social-icons.small:hover li {
  opacity: 0.5;
}
.type-780 .tb-right ul.social-icons.small {
  float: right;
  margin-bottom: 0;
  margin-right: -10px;
}
.type-780 .tb-right ul.social-icons.small li {
  margin: 0 0 0 5px;
}
.type-780 ul.social-icons.small li {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
  float: left;
  display: inline-block;
  background: none;
  padding: 0 !important;
  line-height: 24px !important;
  border: 0 !important;
}
.type-780 ul.social-icons.small {
  height: auto;
  float: right;
  overflow: hidden;
  margin-right: -5px;
  list-style: none !important;
}
.type-780 ul.social-icons.light.small li a {
  background-image: url(../images/xxx.png);
}
.type-780 ul.social-icons.small li a {
  background: transparent url(../images/social-icons-small.png);
  display: block;
  width: 24px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}
.type-780 ul.social-icons.small li.dribbble a {
  background-position: -48px 0;
}
.type-780 ul.social-icons.small li.facebook a {
  background-position: -24px 0;
}
.type-780 ul.social-icons.small li.vimeo a {
  background-position: -72px 0;
}
.type-780 ul.social-icons.small li.youtube a {
  background-position: -240px 0;
}
.type-780 ul.social-icons.small li.tumblr a {
  background-position: -96px 0;
}
.type-780 ul.social-icons:hover li,
.type-780 ul.social-icons.small:hover li {
  opacity: 0.5;
}
.type-780 #header-section.header-1 #header {
  padding: 35px 0;
}
.type-780 #header-section #header {
  padding: 25px 0;
}
.type-780 #header-section .header-menu .menu {
  border-left: 0;
}
.type-780 .header-row {
  position: relative;
}
.type-780 #header-section .header-menu .menu > li:first-child {
  border-left: 0;
}
.type-780 #header-section .header-menu .menu li,
.type-780 #mini-header .header-right nav .menu li {
  border-left-color: #e4e4e4;
}
.type-780 #header-section .header-menu .menu > li {
  font-size: 12px;
  border-left: 1px solid #e4e4e4;
}
.type-780 .header-left > nav .tb-welcome {
  padding-right: 10px;
}
.type-780 .header-menu .menu li {
  z-index: 4;
}
.type-780 nav .menu {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.type-780 ul {
  list-style: none;
  margin: 0 0 20px;
}
.type-780 nav .menu li > a {
  text-decoration: none;
  padding: 0 12px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.type-780 nav .menu li {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 8px 0;
}
.type-780 i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.type-780 .swift-search-link span {
  margin-left: 5px;
}
.type-780 a {
  color: #666666;
}
.type-780 nav .menu>li:hover>a {
  color: #1bbeb4;
}
.type-780 nav .menu>li a {
  color: #252525;
}
.type-780 .header-1 #logo a.logo-link {
  text-align: center;
  margin-top: 10px;
}
.type-780 #logo>a.logo-link {
  height: 40px;
}
.type-780 #logo a.logo-link {
  display: block;
  max-height: 100%;
  text-align: left;
  font: 0/0 a;
  height: 40px;
}
.type-780 #logo.logo-center img {
  margin: 0 auto;
}
.type-780 #logo img {
  height: auto;
}
.type-780 #logo img,
.type-780 #logo img.retina {
  width: 209px;
}
.type-780 #logo img.retina {
  display: none;
  max-width: 100%;
}
.type-780 logo-fade #logo a.logo-link:hover img {
  opacity: 0.6;
}
.type-780 .header-1 .header-right > nav,
.type-780 .header-2 .header-right > nav,
.type-780 .header-3 .header-right > nav {
  margin-right: -15px;
}
.type-780 .header-right > nav {
  float: right;
  margin-left: 20px;
}
.type-780 .header-menu .menu > li.parent,
.type-780 .top-menu .menu > li.parent {
  padding-right: 15px;
}
.type-780 .header-right nav .menu ul.sub-menu,
.type-780 .tb-right nav .menu ul.sub-menu {
  left: auto;
  right: 0;
}
.type-780 nav .menu ul.sub-menu {
  background-color: #ffffff;
}
.type-780 nav .menu ul.sub-menu {
  position: absolute;
  z-index: 9995;
  margin: 0;
  top: 100%;
  left: 0;
  display: none;
}
.type-780 #header-languages > li > a,
.type-780 #header-languages > li > div {
  padding: 8px 12px;
  display: block;
  white-space: nowrap;
}
.type-780 #header-section .header-menu .menu li,
.type-780 #mini-header .header-right nav .menu li {
  border-left-color: #e4e4e4;
}
.type-780 nav .menu ul.sub-menu li {
  border-bottom-color: #f0f0f0;
  border-bottom-style: solid;
}
.type-780 .header-menu .menu > li.parent:after,
.type-780 .top-menu .menu > li.parent:after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: block;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 9px;
}
.type-780 nav .menu ul.sub-menu li:hover >a {
  color: #1bbeb4 !important;
  background: #252525;
}
.type-780 .header-right nav .menu ul.sub-menu,
.type-780 .tb-right nav .menu ul.sub-menu {
  left: auto;
  right: 0;
}
.type-780 nav .menu ul.sub-menu {
  background-color: #ffffff;
}
.type-780 #header-section > #main-nav {
  border-top: 1px solid #e4e4e4;
}
.type-780 #main-navigation ul.menu {
  text-align: left;
  position: static;
}
.type-780 nav .menu {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.type-780 #main-navigation {
  margin-left: -10px;
}
.type-780 nav .menu {
  height: auto;
  margin: 0;
  position: relative;
  padding: 0;
}
.type-780 #main-nav .header-right ul.menu > li {
  margin: 0;
  border-left: 1px solid #e4e4e4;
  line-height: 44px;
}
.type-780 .menu > li.shopping-bag-item a > i.sf-cart,
.type-780 .mobile-cart-link i.sf-cart {
  background: transparent url(../images/shopping_bag_icon.png);
  margin-right: 6px;
  width: 14px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
}
.type-780 .wishlist-link span {
  margin-left: 6px;
}
.type-780 #main-nav .header-right ul.menu > li {
  border-left: 0;
}
.mod-custom-body2 .container {
  margin-right: auto;
  margin-left: auto;
}
.mod-custom-body2 .asset-bg.alt-nine {
  background-image: url(../images/download.png);
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
  background-color: #FFFFFF;
}
.mod-custom-body2 .row.fw-row {
  margin-left: 0;
}
.mod-custom-body2 .asset-bg {
  border-color: #e4e4e4;
}
.mod-custom-body2 .asset-bg .spb_impact_text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mod-custom-body2 h2 {
  font-size: 19px;
  line-height: 30px;
}
.mod-custom-body2 .cta_align_right .impact-text-arrow {
  position: absolute;
  right: 0;
  margin-top: -85px;
  max-width: 12%;
}
.mod-custom-body2 i[class^="fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.mod-custom-body2 .impact-text-wrap .impact-text-arrow {
  font-size: 42px;
}
.mod-custom-body2 a {
  color: #666666;
}
.mod-custom-body2 h4.spb_heading {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.mod-custom-body2 h4.spb_heading:before,
.mod-custom-body2 h4.lined-heading:before {
  content: "";
  display: block;
  border-top: 2px solid #444;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.mod-custom-body2 h4.spb_heading span {
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #ffffff;
}
.mod-custom-body2 ul.mini-list {
  list-style: none;
}
.mod-custom-body2 ul {
  margin: 0 0 20px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.mod-custom-body2 ul,
.mod-custom-body2 ol {
  padding: 0;
}
.mod-custom-body2 li {
  display: list-item;
  text-align: -webkit-match-parent;
  line-height: 20px;
}
.mod-custom-body2 .mini-list li figure {
  float: left;
  width: 70px;
  margin-bottom: 2px;
  box-shadow: 0 5px 6px -4px #999;
}
.mod-custom-body2 .mini-list li {
  margin-top: 20px;
}
.mod-custom-body2 .mini-list li .product-details {
  margin-left: 85px;
}
.mod-custom-body2 .product-details h5 a:hover,
.mod-custom-body2 .product-cats a:hover {
  text-decoration: none;
  color: #1bbeb4;
}
.mod-custom-body2 h5,
.mod-custom-body2 h5 a {
  color: #252525;
}
.mod-custom-body2 .mini-list li h5 {
  margin-top: 0;
  margin-bottom: 3px;
}
.mod-custom-body2 .mini-list li .product-cats {
  display: block;
  margin-bottom: 3px;
}
.mod-custom-body2 .recent-post figure img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
}
.mod-custom-body2 img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.mod-custom-body2 .recent-post figure {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 8px 6px -7px #999;
}
.mod-custom-body2 figure .overlay {
  background-color: #1bbeb4;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-left: -0.6px;
  padding-right: 0.6px;
}
.mod-custom-body2 .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mod-custom-body2 .owl-carousel .owl-item {
  float: left;
}
.mod-custom-body2 .carousel-wrap .carousel-item,
.mod-custom-body2 body .carousel-wrap ul.products li.product {
  width: 100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  box-sizing: border-box;
}
.mod-custom-body2 .recent-post figure img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  display: block !important;
  -webkit-transition: all 0.3s ease-in-out;
}
.mod-custom-body2 .overlay .thumb-info i {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 44px;
  margin-top: -15px;
  height: 30px;
  line-height: 33px;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
}
.mod-custom-body2 .spb_posts_carousel_widget .recent-post .details-wrap {
  padding: 15px 0;
}
.mod-custom-body2 .carousel-wrap a.carousel-next {
  position: absolute;
  top: 50%;
  right: -17px;
  z-index: 4;
  padding: 10px;
  border-radius: 45px;
  margin-top: -17px;
  opacity: 0;
}
.mod-custom-body2 .carousel-wrap a.carousel-prev {
  position: absolute;
  top: 50%;
  left: -17px;
  z-index: 4;
  padding: 10px;
  border-radius: 45px;
  margin-top: -17px;
  opacity: 0;
}
.mod-custom-body2 .carousel-wrap a.carousel-prev,
.mod-custom-body2 .carousel-wrap a.carousel-next {
  background: #252525;
  color: #f7f7f7 !important;
}
.mod-custom-body2 .carousel-wrap > a.carousel-next > i {
  padding: 1px 1px 0 3px;
}
.mod-custom-body2 .carousel-wrap > a > i {
  font-size: 14px;
  display: block;
  width: 10px;
  height: 13px;
}
.mod-custom-body2 i[class^="fa-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.mod-custom-body2 .flexslider {
  background: transparent;
  border: 0;
  width: 100%;
  z-index: 2;
  display: block;
  position: relative;
  overflow: hidden;
}
.mod-custom-body2 .flexslider ul.slides {
  background: transparent;
  margin: 0;
  height: auto;
  overflow: hidden;
  list-style: none !important;
}
.mod-custom-body2 .slides {
  padding: 0;
}
.mod-custom-footer .container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.mod-custom-footer .row {
  margin-left: -30px;
}
.mod-custom-footer h4 {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0;
}
.mod-custom-footer #footer {
  color: #ffffff;
  background: #252525;
  padding: 40px 0 0;
  border-top: 0 solid transparent;
}
.mod-custom-footer #footer h4 {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
.mod-custom-footer #footer h4 span {
  background: #252525;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod-custom-footer #footer h4::before {
  content: "";
  display: block;
  border-top: 2px solid #444;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.mod-custom-footer #footer a {
  color: #ffffff;
  text-decoration: none;
}
.mod-custom-footer #footer a:hover {
  color: #1bbeb4;
}
.mod-custom-footer ul {
  padding: 0;
}
.mod-custom-footer .widget ul {
  margin: 0;
  list-style: none;
}
.mod-custom-footer .widget ul li {
  margin-bottom: 0;
  line-height: 16px;
}
.mod-custom-footer .widget ul li > a {
  padding: 8px 0;
  display: block;
}
.mod-custom-footer .widget_nav_menu ul > li a::before {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: block;
  float: right;
  text-decoration: inherit;
  font-size: 14px;
}
.mod-custom-footer #footer .widget ul li {
  border-color: #333333;
}
.mod-custom-footer .widget_nav_menu ul > li:first-child {
  border-top: 0;
}
.mod-custom-footer .widget_nav_menu ul > li:first-child {
  border-top: 0;
}
.mod-custom-footer ul.social-icons {
  height: auto;
  overflow: hidden;
  margin-right: -12px;
  list-style: none !important;
}
.mod-custom-footer ul.social-icons.light li a {
  background-image: url(../images/index.png);
}
.mod-custom-footer ul.social-icons li a {
  background: transparent url(../images/index2.png) no-repeat 0 0;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}
.mod-custom-footer #footer .widget hr {
  border-color: #333333;
}
.mod-custom-footer ul.social-icons li.dribbble a {
  background-position: -64px 0;
}
.mod-custom-footer ul.social-icons li.facebook a {
  background-position: -32px 0;
}
.mod-custom-footer ul.social-icons li.vimeo a {
  background-position: -96px 0;
}
.mod-custom-footer ul.social-icons li.youtube a {
  background-position: -320px 0;
}
.mod-custom-footer ul.social-icons li.tumblr a {
  background-position: -128px 0;
}
.mod-custom-footer ul.social-icons li {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background: none;
  padding: 0 !important;
  line-height: 32px !important;
  border: 0 !important;
  transition: opacity 0.3s ease;
  transition-delay: 0.1s;
}
.mod-custom-footer #copyright {
  background-color: #000000;
  border-top-color: #333333;
  padding: 15px 0;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  font-size: 12px;
  border-top: 0 solid transparent;
}
.mod-custom-footer #copyright p {
  color: #666666;
  font-size: 11px;
  float: left;
  margin-bottom: 0;
}
.mod-custom-footer p {
  line-height: 22px;
  margin: 0 0 10px;
  font-size: 13px;
}
.mod-custom-footer .widget #mc_embed_signup > form {
  position: relative;
}
.mod-custom-footer .widget input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px 5px 10px;
  line-height: 21px;
  height: 32px;
  display: block;
  border: 0;
  background: #f7f7f7;
  color: #999;
}
.mod-custom-footer .widget #mc_embed_signup > form::after {
  content: "\f0e0";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 14px;
  padding-right: 10px;
  position: absolute;
  float: right;
  top: 5px;
  right: 0;
  color: #999;
}
.mod-custom-footer #copyright a {
  color: #ffffff;
  text-decoration: none;
}
.mod-custom-footer #copyright a:hover {
  color: #1bbeb4;
}
.mod-custom-footer #copyright .beam-me-up {
  float: right;
  text-align: right;
}
.mod-custom-footer .beam-me-up a {
  text-decoration: none !important;
  margin-right: 5px;
  font-weight: bold;
}
