.type-707 body {
  background: #f9f9f9;
}
.type-707 .col-md-6 {
  margin-left: -5px;
}
.type-707 .col-md-12 {
  margin-top: 25px;
}
.type-707 .col-md-12 h5 {
  font-family: LMRomanCaps10-Regular;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.type-707 .purchase-item .thumb-img-carousel img {
  border: 1px solid #e0e0e0;
  display: inline-block;
  width: 90%;
  margin-left: 10px;
  cursor: pointer;
}
.type-707 .button {
  position: absolute;
  top: 90%;
  left: 2px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  transition: 0.3s;
  cursor: pointer;
}
.type-707 .button:hover {
  background: #e17365;
  box-shadow: 0 0 0 1px #e17365, 0 0 0 2px #e17365;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
}
.type-707 .button .fa {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  text-align: center;
  margin-left: 5px;
}
.type-707 .btn-move-left {
  margin-left: 15px;
}
.type-707 .btn-move-right {
  position: absolute;
  left: 95%;
}
