
.type_b_chitiet_2{
    @media (min-width: 1200px){
        .container {
            width: 927px;
        }
    }
    /*-----Magento_1-----*/
    .content{
        @act_boder :1px solid #c7c7c7;
        @act_hover: 1px solid #000;
        @act_color: #000;
        @act_hover_color: #fff;
        .ar{
            padding: 1px 14px;
            font-size: 20px;
            text-decoration: none;
        }
        .kt{
            bottom: 190px;
            width: 35px;
            height: 35px;
        }
        .dichuyen{
            text-align:center;
            .next2{
                right: 0;
                .kt
            }
            .prev1{
                .kt
            }

            .next4{
                right: 0;
                .kt
            }
            .prev3{
                left: 0;
                .kt
            }

            a{
                border: @act_boder;
                color: @act_color;
                .ar
            }
            a:hover{
                border: @act_hover;  
                color: @act_hover_color;
                background-color: @act_color;
                .ar
            }
        }

        /*---------------------------------------------*/
        .related product-outer{
            margin-top: 0 0 75px;
        }
        .caltegory-title{
            border: 0;
            margin: 0 0 0px;
        }
        .caltegory-title h2{
            background: url(../images/divider.png) no-repeat scroll center bottom transparent;
            color: #000000;
            display: block;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 30px;
            padding-bottom: 28px;
            text-align: center;
            text-transform: uppercase;
            padding-top: 25px;
        }
        /*---------------------------------------------*/


        .tabs {
            margin: 30px -10px 25px;
        }
        .new-products-inner, .special-products-inner, .bestseller-products-inner, .featured-products-inner{ position:relative;}
        .category-title { border:0; margin:0 0 0px; }
        .category-title h2 a{ padding:0  !important; }
        .tabberlive_outer_sub .customNavigation a{ display:none;}
        .tabberlive_outer_sub:hover .customNavigation a{ display:block;}


        .product-carousel .product-block-inner{
            overflow: hidden;
            padding:0px;
            position: relative;
            text-align: center;
        }

        .product-block .product-image-block .hover-image {
            left: 0;
            position: absolute;
            right: 0;
            text-align: left;
            top: 0;
            height:auto;
            visibility: hidden;
            width: 100%;
        }
        .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}

        .product-image-block-inner .product-image-block {
            position: relative;
        }
        a.product-image { display:block; }
        .product-block .product-image-block img {height: auto; width: 100%;   }
        .product-block .product-image-block .hover-image {
            left: 0;
            position: absolute;
            right: 0;
            text-align: left;
            top: 0;
            height:auto;
            visibility: hidden;
            width: 100%;
        }
        .product-block .product-image-block:hover .hover-image {   overflow: hidden;    visibility: visible;}
        .product_hover-block  {
            bottom: 0;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
        }

        .product-block:hover .product_hover-block{ opacity:1; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;}
        .product_hover-block .actions .availability.out-of-stock { border: 1px solid #d83820; line-height: 22px;  padding:6px 12px; margin:0px; background:#fff;}
        .product_hover-block .actions .add-to-links{ display:none;}
        .product_hover-block .add-to-links li:hover{ background:#000; border-color:#000; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s;}
        .product_hover-block .add-to-links li {
            background: #fff;  
            border: 1px solid #000; 
            box-sizing:border-box; 
            display:inline-block; 
            font-size:0; 
            height: 32px; 
            line-height: 30px; 
            margin: 0 1px; 
            width:36px; 
            text-align:center;
            padding:0 3px;
        }
        .add-to-links li a.link-wishlist::before {
            color: #000;
            content: "\f004";
            font-family: "FontAwesome";
            font-size: 14px;
            padding: 7px;
        }
        .add-to-links li a.link-compare::before {
            color: #000;
            content: "\f080";
            font-family: "FontAwesome";
            font-size: 14px;
            padding: 7px;
        }
        .add-to-links li:hover a.link-wishlist::before, .add-to-links li:hover a.link-compare::before{ color:#fff;}
        .add-to-links li a.link-wishlist, .add-to-links li a.link-compare { display: block; height: 100%; width: 100%;}
        .product_desc { padding: 0 10px; text-align: center}
        .product-name { margin:0; font-size:1em; font-weight:normal; text-transform:capitalize; }
        .product-name a , .product-review .product-name { color:#000; font-size:13px; text-decoration:none; margin-top:0px; }
        .product-name a:hover{  color:#000;}
        h2.product-name{ background:none; padding:0px 0 0 !important; border-bottom: none !important;  margin:9px 0 0px;}
        .product-carousel .product-block{
            background:#FFFFFF;
            clear: both;
            margin:11px 10px;
            overflow: hidden;
        }
        .product-carousel .product-block-inner{
            overflow: hidden;
            padding:0px;
            position: relative;
            text-align: center;
        }
        .price-box { margin:2px 0 2px; }
        .price-box .price { font-weight:bold; color:#000; font-size:18px; font-family:"Source Sans Pro",sans-serif; }




        .product-carousel{
            display: none;
            opacity:1!important; -khtml-opacity: 1; -webkit-opacity:1; -moz-opacity:1; -ms-opacity:1;
            position: relative;
            width: 100%;
            -ms-touch-action: pan-y;
        }


        .product-carousel .slider-wrapper{
            display: none;
            position: relative;
            -webkit-transform: translate3d(0px, 0px, 0px);
            -webkit-perspective: 1000;
        }
        .product-carousel .slider-wrapper-outer{

            position: relative;
            width: 100%;
        }
        .product-carousel .slider-wrapper-outer.autoHeight{
            -webkit-transition: height 500ms ease-in-out;
            -moz-transition: height 500ms ease-in-out;
            -ms-transition: height 500ms ease-in-out;
            -o-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
        }

        button.button {overflow:visible;width:auto;border:0;padding:0;margin:0;background:transparent;cursor:pointer;}
        .product_hover-block .button.btn-cart {width: 100%;}
        .button.btn-cart > span{ padding:6px 20px;}
        button.button span  {
            display:block;
            font-family:"Raleway",sans-serif;
            background:#fff;
            line-height: 22px;
            padding: 3px 12px;
            text-align:center;
            white-space:nowrap;
            color:#000;
            text-decoration:none;
            border:1px solid #000000;
            font-weight:bold;
            text-transform:uppercase;
        }

        button.button:hover span  {
            background: #000000;
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.3s ease 0s; 
        }

        /* Regular price */
        .regular-price { color:#c76200; }
        .regular-price .price {   font-size: 18px;    font-weight:bold; color:#000; }
        .block .regular-price,
        .block .regular-price .price {  }

        .no-rating { margin:0 0 10px; }

        .ratings {   line-height:1.25; margin:3px 0; }
        .ratings strong { float:left; margin:1px 3px 0 0; }
        .ratings .rating-links { margin:0; display:none; }
        .ratings .rating-links .separator { margin:0 2px; }
        .ratings dt {}
        .ratings dd {}
       
        .ratings .rating-box {margin-right:5px; display:inline-block; }
        .ratings .amount { display:none;}
        .ratings-table th,
        .ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
        .ratings-table th { font-weight:bold; padding-right:8px; }

        .carousel {
            margin-bottom: 0;

        }
        /* The controlsy */
        .carousel-control {

            height: 40px;
            width: 40px;
            background: none repeat scroll 0 0 #222222;
            border: 4px solid #FFFFFF;
            margin-top: 140px;
        }
        .carousel-control.right {
            right: -12px;
        }
    }


    .old-price {
        margin: 0;
        text-decoration: line-through;
        color: #666666;
        font-size: 18px;
    }

    .price {
        margin: 0;
        padding: 0px 0;
        font-size: 18px;
        font-weight: bold;
    }




    @media (max-width: 1800px){
        .col-md-3 {padding: 0;}
        .content-2 .text-left{width: 50%;}
        .text-left .text1{font-size: 25px;}
        .text-left .text2{font-size: 25px;}
        .text-left .text3{line-height: 94px; font-size: 80px;}
        .blog-right {width: 60%; float: left;}
        .blog-left {float: left;}
        .post-title{text-align: left;}
        .read-more, .post-date {float: left;}
        .block-subscribe{margin: 66px 0 38px;}
    }
    @media only screen and (max-width: 1250px){
        .container-width{
            width: 980px;
        }
        .content-2 .text-left{
            width: 46%;

        }
        .text-left .text1{
            font-size: 18px;
        }
        .text-left .text2{
            font-size: 18px;
        }    
        .text-left .text3 {
            font-size: 55px;
            line-height: 55px;
        }

    }
    @media (max-width: 1024px){
        .col-sm-4{
            width: 33.33%;
        }
        .hidden1{
            display: none;
        }

    }
    @media (max-width: 979px){
        .container {
            max-width: 724px;
        }
        .block-subscribe{
            margin: 0 0 50px;
        }
    }
    @media (max-width: 769px){
        .container {
            width: auto;
            margin: 0 15px;
            padding: 0;
        }
        .blog-right {
            width: 74%;
        }

    }
    @media (max-width: 695px){
        .col-xs-6{
            width: 50%;
        }
        .hidden2{
            display: none;
        }
    }
    @media (max-width: 645px){
        .col-xs-6{
            width: 100%;
        }
        .blog-right {
            width: 65%;
        }
    }
    @media (max-width: 479px){
        .tabbernav_product_sub .tabbernav_product li { width: 100%; padding: 0 0 5px;}
        .blog-left {float: none; display: inline-block; text-align: center;}
        .blog-right {margin: 10px 0 0; width: 100%; text-align: center;}
        .post-title{text-align: center;}
        .read-more, .post-date {display: inline-block;float: none;}
    }

    @media (max-width: 397px){
        .col-xs-6 {
            width: 100%;
        }
        .hidden3{
            display: none;
        }
    }


}







