.type-775{
    /* carousel */
    .media-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left 
    {
        left: -12px;
        background-image: none;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        height: 40px;
        width : 40px;
        margin-top: 30px
    }
    /* Next button  */
    .media-carousel .carousel-control.right 
    {
        right: -12px !important;
        background-image: none;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        height: 40px;
        width : 40px;
        margin-top: 30px
    }
    /* Changes the position of the indicators */
    .media-carousel .carousel-indicators 
    {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    /* Changes the colour of the indicators */
    .media-carousel .carousel-indicators li 
    {
        background: #c0c0c0;
    }
    .media-carousel .carousel-indicators .active 
    {
        background: #333333;
    }
    .media-carousel img
    {
        width: 250px;
        height: 100px
    }
    /* End carousel */

    .title{
        font-weight: normal; 
        margin-top: 0; 
        border-bottom: 2px solid transparent; 
        position: relative; 
        margin-bottom: 20px; 
        text-align: center; 
        text-align: center; 
        margin-bottom: 10px
    }
    .title h4.title-layout{
        margin-top: 30px;
    }
    .title h4.title-layout span{
        border-bottom: 2px solid #444;
        padding-bottom: 5px;
    }
    .title  h4.title-layout span:before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    a{
        color: #666666;
    }
    a:hover{
        text-decoration: none;
        color: #1bbeb4;
    }
    a:active {
        outline: 0;
    }
    a:hover, a:active {
        outline: 0;
    }
    .twitter_intents a {
        margin-left: 5px;
    }
    i[class^="fa-"] {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }
}