.type-706{
    @color: #e17365;
    @color2: #e0e0e0;
    @border : 1px solid @color2;
    @cursor: pointer;
    @position: absolute;
    
    .bodder-cursor{
        border: @border;
        cursor: @cursor;
    }
    
    body {
        background: #f9f9f9;
    }
    .col-md-6 {
        margin-left: -5px;
    }
    .product {
        .items {
            img {
                max-width: 100%;
                border: @boder;
                cursor: crosshair;
            }
        }
        .thumbs-list {
            border-right: @boder;
            img {
                margin-top: 8px;
                margin-bottom: 7px;
                max-width: 83%;
                .bodder-cursor;
            }
            #btn-down {
                opacity: 0;
                position: @position;
                top: 605px;
            }
            #hide {
                display: none;
            }
            .btn-move {
                background: #e6e5e5;
                padding: 5px;
                border-radius: 50%;
                position: @position;
                left: 48px;
                .bodder-cursor;
            }
            .btn-move:hover {
                color:@color;
            }
        }    

    }
}