.type-706{
    margin-left: -31px;
    margin-top: 12px;
    background: #f9f9f9;
    .product {
        .items {
            img {
                max-width: 462px;
                border: 1px solid #e0e0e0;
            }
        }
        .thumbs-list {
            margin-left: -29px;
            img {
                margin-bottom: 13px;
                width: 110px;
                border: 1px solid #e0e0e0;
                cursor: pointer;
            }
            #btn-down {
                top: 747px;;
            }
            .btn-move {
                background: #e6e5e5;
                padding:5px;
                border-radius: 50%;
                position: absolute;
                border: 1px solid #e0e0e0;
                cursor: pointer;
                left: 59px;
                top: -15px;
                &:hover{ color: #e17365;}
            }
        }    
    }
    #hide{
        display: none;
    }
}