.M15-Menu-List {
  margin-top: 20px;
}
.M15-Menu-List .widget_content {
  background: #F5F4F4;
}
.M15-Menu-List .widget_content ul {
  list-style: none;
}
.M15-Menu-List .list_links {
  padding: 0px;
  margin: 0px;
}
.M15-Menu-List .list_links li a {
  padding-left: 20px;
}
.M15-Menu-List .widget_content ul li {
  padding: 10px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}
.M15-Menu-List .widget_content ul li a {
  text-decoration: none;
}
.M15-Menu-List .widget_content ul li a:hover {
  color: #4BAE4F;
}
.M3-Panel {
  background: #F5F3F4;
}
.M3-Panel .content-right {
  padding: 0;
  margin: 0;
}
.M3-Panel .holder {
  padding: 0;
}
.M3-Panel .holder img {
  text-align: center;
}
.M3-Panel .carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
}
.M3-Panel .carousel-caption .btn {
  text-shadow: none;
}
.M3-Panel .carousel-control .glyphicon-chevron-right {
  margin-right: -315px;
}
.M3-Panel .carousel-caption .btn {
  text-shadow: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
  border-radius: 0;
  background: #4BAE4F;
  color: white;
}
.M3-Panel .carousel-caption .btn:hover {
  background: #374046;
}
.M3-Panel .carousel {
  position: relative;
}
.M3-Panel .carousel h2 {
  color: #4BAE4F;
  text-transform: uppercase;
}
.M3-Panel .controllers {
  position: absolute;
  top: 0px;
  display: none;
}
.M3-Panel .carousel-control.left,
.M3-Panel .carousel-control.right {
  background-image: none;
}
