.type-704 body {
  background: #ebebeb;
  padding-top: 36px;
  margin: 0;
}
.type-704 a,
.type-704 body {
  color: #666;
}
.type-704 body,
.type-704 html {
  height: 100%;
  min-height: 100%;
}
.type-704 .zaro p {
  padding-bottom: 20px;
}
.type-704 .zaro h4,
.type-704 .zaro h4 a {
  font-size: 20px;
  line-height: 28px;
}
.type-704 .zaro .zaro-dropdown {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ebebeb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.type-704 .zaro div,
.type-704 .zaro form {
  margin: 0;
  padding: 0;
}
.type-704 .zaro img {
  border: 0;
}
.type-704 .zaro a,
.type-704 .zaro a:active,
.type-704 .zaro a:visited {
  color: #333;
  text-decoration: none;
}
.type-704 .zaro .align-center {
  text-align: center;
}
.type-704 .zaro .slidelip {
  transition: all .5s ease-in-out;
}
.type-704 .zaro a,
.type-704 .zaro .smooth02 {
  transition: all .2s ease-in-out;
}
.type-704 .zaro .fa {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  fill: currentColor;
  pointer-events: none;
}
.type-704 .zaro #white_background {
  background-color: #f9f9f9;
}
.type-704 .zaro .page-width {
  margin: 0 auto;
  width: 960px;
}
.type-704 .zaro .margin-auto {
  margin: 0 auto;
}
.type-704 .zaro #header {
  top: -36px;
  height: 150px;
  position: relative;
}
.type-704 .zaro #header #header_logo {
  position: absolute;
  margin: 80px 0 0 0;
  width: 100%;
}
.type-704 .zaro #header #header_logo a {
  font: normal 80px Georgia;
  color: #3C3C3C;
}
.type-704 .zaro #header #header_logo img.logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.type-704 .zaro #header #header_logo .logo {
  font: normal 80px/80px "Georgia";
  color: #424243;
}
.type-704 .zaro #header #header_logo {
  left: 0;
  top: 0;
}
.type-704 .zaro #header #shopping_cart {
  position: absolute;
  top: 97px;
  left: 0;
  padding: 0;
  background: none;
  width: auto;
  display: block;
  color: #b9b9b9;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #e7e2e2;
  min-width: 200px;
}
.type-704 .zaro #header #shopping_cart a {
  padding: 0;
  background: none;
  width: auto;
  display: block;
  color: #999;
  font-family: Verdana;
  font-size: 13px;
  height: 34px;
}
.type-704 .zaro #header #shopping_cart a b {
  font-weight: normal;
}
.type-704 .zaro #header #shopping_cart a:first-child {
  display: block;
  overflow: hidden;
  font-size: 13px;
}
.type-704 .zaro #header #shopping_cart a:first-child b {
  font-weight: normal;
}
.type-704 .zaro #header #shopping_cart .main-color {
  color: #bbb;
}
.type-704 .zaro #header #shopping_cart .fa-shopping-basket {
  width: 17px;
  height: 17px;
  margin: 8px 5px 0 0;
  color: #b0adad;
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
  pointer-events: none;
}
.type-704 .zaro #header #shopping_cart span {
  line-height: 16px;
}
.type-704 .zaro #header #shopping_cart:hover {
  background: #ebebeb;
  z-index: 11;
  color: #8b8b8b;
}
.type-704 .zaro #header #search_box_top {
  position: absolute;
  top: 97px;
  right: 0;
  border: 1px solid #e7e2e2;
  height: 34px;
  width: 230px;
}
.type-704 .zaro #header #search_box_top #search_query_top {
  width: 100%;
  height: 100%;
  border: none;
  height: auto;
  position: absolute;
  padding: 7px 0;
  text-indent: 10px;
  color: #8a8989;
  transition: width 0.4s ease-in-out;
  font: normal 13px/20px Verdana;
  outline: 0;
  background-color: transparent;
  z-index: 1;
}
.type-704 .zaro #header #search_box_top .search-button {
  cursor: pointer;
  color: #ccc;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  transition: all .2s ease-in-out;
  z-index: 2;
}
.type-704 .zaro #header #search_box_top .search-button .fa {
  width: 19px;
  height: 19px;
  margin: 0;
  cursor: pointer;
  font: 20px/1 FontAwesome;
}
.type-704 .zaro #header #search_box_top .search-button:hover i {
  color: #FFF;
}
.type-704 .zaro .dib {
  display: inline-block;
  vertical-align: top;
}
.type-704 .zaro #currencies_list {
  float: right;
  margin: 0 0 0 30px;
}
.type-704 .zaro #currencies_list span {
  font: normal 15px/36px FontAwesome;
}
.type-704 .zaro #currencies_list ul {
  clear: both;
  width: 100%;
  list-style-type: none; ;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  display: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  margin: 0;
  padding: 0;
}
.type-704 .zaro #currencies_list li {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background: #ebebeb;
  line-height: 27px;
  color: #555;
  padding: 0 10px;
  cursor: pointer;
  font: normal 13px/27px Verdana;
}
.type-704 .zaro #currencies_list li:hover {
  color: #FFF;
}
.type-704 .zaro #currencyHolder {
  position: relative;
  z-index: 99;
}
.type-704 .zaro #currencyHolder span span {
  padding: 0 5px 0 10px;
}
.type-704 .zaro #currencyHolder span .fa {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.type-704 .zaro #currencyHolder:hover span {
  background-color: #7b7975;
  color: #fff;
}
.type-704 .zaro #currencyHolder:hover span li {
  color: #fff;
}
.type-704 .zaro #currencyHolder:hover .zaro-dropdown {
  display: block;
}
.type-704 .zaro #languages_block_top {
  float: right;
  margin: 0;
}
.type-704 .zaro #languages_block_top:hover .selected_language {
  background-color: #7b7975;
  color: #FFF;
}
.type-704 .zaro #languages_block_top:hover .selected_language a {
  color: #fff;
  cursor: default;
}
.type-704 .zaro #languages_block_top:hover .zaro-dropdown {
  display: block;
}
.type-704 .zaro ul#first-languages {
  clear: both;
  list-style-type: none;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  display: none;
}
.type-704 .zaro ul#first-languages li {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background: #ebebeb;
  color: black;
  text-decoration: none;
}
.type-704 .zaro ul#first-languages li img {
  margin: 9px 5px 0 10px;
}
.type-704 .zaro ul#first-languages li a {
  line-height: 27px;
  color: #555;
}
.type-704 .zaro ul#first-languages li:hover a {
  color: #FFF;
}
.type-704 .zaro #countries {
  padding: 0;
  width: auto;
  position: relative;
  z-index: 99;
}
.type-704 .zaro #countries .selected_language {
  float: left;
  margin: 0;
  display: block;
}
.type-704 .zaro #countries .selected_language img {
  margin: 13px 5px 0 10px;
}
.type-704 .zaro #countries .selected_language a {
  line-height: 36px;
  color: #6d6d6d;
  text-decoration: none;
}
.type-704 .zaro #countries .selected_language .fa {
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 0;
}
.type-704 .zaro #countries span {
  font: normal 16px/20px FontAwesome;
  color: #888;
}
.type-704 .zaro #menu_header {
  float: left;
}
.type-704 .zaro #menu_header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-704 .zaro #menu_header li {
  position: relative;
  padding: 0 10px;
  margin-right: 15px;
}
.type-704 .zaro #menu_header li span {
  line-height: 20px;
  display: inline-block;
  margin-bottom: 5px;
}
.type-704 .zaro #menu_header li a {
  color: #999;
  font-family: Verdana;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
}
.type-704 .zaro #menu_header li a span {
  line-height: 14px;
  margin: 0;
}
.type-704 .zaro #menu_header .fa {
  display: none;
  width: 15px;
  color: #009900;
  height: 15px;
  font: normal 16px/20px FontAwesome;
  margin-top: 10px;
}
.type-704 .zaro #menu_header .zaro-dropdown {
  top: 36px;
  width: 250px;
  position: absolute;
  left: 0;
}
.type-704 .zaro #menu_header li:hover .zaro-dropdown {
  box-shadow: none;
  display: block;
}
.type-704 .zaro #menu_header li:hover * {
  color: #FFF;
}
.type-704 .zaro #header_user {
  padding-top: 0;
  position: relative;
  margin-left: 15px;
}
.type-704 .zaro #header_user ul {
  margin: 0;
  padding: 0;
}
.type-704 .zaro #header_user li {
  float: left;
  display: block;
  clear: none;
  color: #999;
  font-family: Verdana;
  font-size: 13px;
  margin: 0;
  line-height: 36px;
}
.type-704 .zaro #header_user li a {
  color: #999;
  font-size: 13px;
  font-family: Verdana;
  text-decoration: none;
}
.type-704 .zaro #header_user li a:hover {
  color: #009900;
}
.type-704 .zaro .menu-container {
  margin-bottom: 20px;
}
.type-704 .zaro .menu-container a {
  text-transform: uppercase;
}
.type-704 .zaro .menu-container .mega-menu {
  background: url(../images/border.gif) repeat-x 0 100%;
  width: 100%;
  margin: auto;
}
.type-704 .zaro .menu-container .mega-menu ul.mega-menu-ul {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
.type-704 .zaro .menu-container .mega-menu li a span {
  padding: 0 10px;
}
.type-704 .zaro .menu-container .mega-menu li a {
  padding: 0 18px;
  text-transform: uppercase;
  color: #3a3a3c;
  font-size: 19px;
  line-height: 35px;
  display: block;
}
.type-704 .zaro .menu-container .mega-menu-item.mega-active a span:before {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: #009900;
}
.type-704 .zaro .menu-container .mega-menu-item:hover a span:before {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: #009900;
}
.type-704 .zaro .menu-container .mega-menu-item:hover a.menu-item {
  color: #009900;
}
.type-704 .zaro .menu-container .mega-menu-item:hover a.menu-item a.opener {
  color: #009900;
}
.type-704 .zaro .menu-container .mega-dropdown-menu {
  background-color: #f9f9f9;
  padding: 22px 20px 30px;
}
.type-704 .zaro .menu-container .mega-dropdown-menu img {
  display: block;
  margin: 0 auto;
}
.type-704 .zaro .menu-container .mega-dropdown-menu .brand {
  margin: 0 0 20px 0;
}
.type-704 .zaro .menu-container .mega-dropdown-menu li {
  padding-left: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.type-704 .zaro .menu-container .mega-dropdown-menu li a {
  font-size: 13px;
  text-transform: none;
}
.type-704 .zaro .menu-container .mega-dropdown-menu li ul li ul {
  padding: 0;
  margin: 0;
}
.type-704 .zaro .menu-container .mega-dropdown-menu .first-item {
  padding-left: 15px;
}
.type-704 .zaro .menu-container .mega-dropdown-menu .first-item li {
  text-align: center;
}
.type-704 .zaro .menu-container span.price {
  font-size: 24px;
  color: #930;
  display: block;
  line-height: 30px;
}
.type-704 .zaro .menu-container .mega-menu-item li h2 {
  text-transform: none;
}
.type-704 .zaro .menu-container .mega-menu-item li p {
  font-size: 13px;
  text-transform: none;
}
.type-704 .zaro .menu-container .mega-menu-item .demos {
  position: absolute;
  width: 190px;
  left: auto;
  padding: 0;
}
.type-704 .zaro .menu-container .mega-menu-item .demos li {
  padding-left: 10px;
  font-size: 15px;
  border-top: 1px solid #ddd;
  display: inline-block;
  line-height: 30px;
  height: auto;
  vertical-align: top;
}
.type-704 .zaro .menu-container .mega-menu-item .demos li a {
  width: 100%;
  padding: 5px 5px 5px 20px;
  font-size: 14px;
}
.type-704 .zaro .dropdown {
  position: static;
}
.type-704 .zaro #zaro-carousel {
  margin-top: 70px;
}
.type-704 .zaro #zaro-carousel .zaro-controls {
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  width: 39px;
  height: 39px;
  text-align: center;
  cursor: pointer;
}
.type-704 .zaro #zaro-carousel .zaro-controls .fa {
  width: 23px;
  height: 23px;
  margin-top: 9px;
  font-size: 20px;
}
.type-704 .zaro #zaro-carousel .carousel-title {
  position: relative;
}
.type-704 .zaro #zaro-carousel .carousel-title h3 {
  font-size: 25px;
  line-height: 46px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 73px;
  margin: 0;
}
.type-704 .zaro #zaro-carousel .carousel-title .zaro-controls {
  position: absolute;
  left: 0;
  top: 2px;
  color: #a7a6a0;
}
.type-704 .zaro #zaro-carousel .carousel-title .zaro-next {
  left: auto;
  right: 0;
}
.type-704 .zaro #zaro-carousel .title-table {
  margin-bottom: 30px;
}
.type-704 .zaro #zaro-carousel .title-table td {
  padding: 0;
  margin: 0;
}
.type-704 .zaro #zaro-carousel .title-wing {
  display: inline-block;
  content: "";
  height: 1px;
  border-top: 1px solid #e6e5e5;
  border-bottom: 1px solid #e6e5e5;
  vertical-align: middle;
  width: 100%;
}
.type-704 .zaro #zaro-carousel .carousel-inner {
  width: 100%;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item img {
  margin: 0;
  height: auto;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: block;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item a.search-box-img {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: 1px solid #e6e6e6;
  text-align: center;
  background-color: #FFF;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item a.search-box-img .fa {
  margin-top: 9px;
  font-size: 18px;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item-hover:hover a.search-box-img {
  opacity: 1;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item-hover:hover .addToCart-hover {
  display: block;
}
.type-704 .zaro #zaro-carousel .carousel-inner .item-hover:hover h3 {
  display: none;
}
.type-704 .zaro #zaro-carousel .carousel-inner .zaro-rate {
  height: 18px;
  text-align: center;
  width: 100%;
  z-index: 99;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row p {
  color: #777 !important;
  display: block;
  margin: 0 0 7px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover {
  width: 100%;
  display: none;
  color: #FFF;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover a {
  padding: 10px;
  text-transform: uppercase;
  background-color: #999 !important;
  color: #FFF;
  float: left;
  margin-right: 5px;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .col-md-6 {
  margin: 0;
  padding: 0;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .favorite,
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .wishlist {
  float: left;
  background-color: #009900;
  opacity: 0.2;
  margin-right: 10px;
  padding: 10px;
  padding-top: -10px;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .favorite .fa,
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .wishlist .fa {
  font-size: 18px;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .card:hover {
  background-color: #009900;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .favorite:hover,
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover .wishlist:hover {
  opacity: 1;
}
.type-704 .zaro #zaro-carousel .carousel-inner .row .addToCart-hover a:hover {
  background-color: #009900 !important;
}
.type-704 .zaro .align-center {
  text-align: center;
}
.type-704 .zaro .full-width {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.type-704 .zaro .main-bg-hover:hover {
  background-color: #009900;
}
.type-704 .zaro .main-bg {
  background-color: #009900;
}
@media (min-width: 728px) {
  .type-704 .zaro .menu-container a span:before {
    width: 0;
    transition: all 0.3s;
  }
  .type-704 .zaro .menu-container .mega-menu-item a span {
    position: relative;
  }
  .type-704 .zaro .menu-container .mega-menu-ul {
    display: block;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li a.opener {
    display: none;
  }
}
@media (min-width: 729px) {
  .type-704 .zaro .mega-menu .mega-menu-ul {
    height: 43px;
  }
  .type-704 .zaro .mega-menu ul li {
    display: block;
    float: left;
  }
  .type-704 .zaro .mega-menu ul li a span {
    display: inline-block;
    height: 43px;
  }
  .type-704 .zaro .mega-menu ul li:first-child a {
    padding-left: 0;
  }
  .type-704 .zaro .mega-menu .mega-menu-item a.menu-item {
    font-size: 16px !important;
  }
  .type-704 .zaro .mega-menu .mobileMenuTitle {
    display: none;
  }
  .type-704 .zaro .col-custom-5-col {
    width: 33%;
    float: left;
    position: relative;
    min-height: 1px;
  }
}
@media (min-width: 980px) {
  .type-704 .zaro #currencies_list {
    float: right;
  }
  .type-704 .zaro #menu_header li {
    margin: 0;
    line-height: 36px;
  }
  .type-704 .zaro .mega-menu .mega-menu-item a.menu-item {
    font-size: 18px !important;
  }
  .type-704 .zaro .col-custom-5-col {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
  }
}
@media (min-width: 1170px) {
  .type-704 .zaro .page-width {
    width: 1170px;
  }
  .type-704 .zaro .mega-menu ul li a {
    padding: 0 25px;
  }
  .type-704 .zaro .mega-menu .mega-menu-item a.menu-item {
    font-size: 20px !important;
  }
}
@media (max-width: 979px) and (min-width: 728px) {
  .type-704 .zaro #header {
    height: 200px;
  }
  .type-704 .zaro #shopping_cart,
  .type-704 .zaro #search_box_top {
    top: 180px !important;
  }
  .type-704 .zaro #menu_header li {
    padding: 0 15px;
  }
  .type-704 .zaro #menu_header li a>span {
    display: none;
  }
}
@media (max-width: 727px) {
  .type-704 .zaro .mobileMenuTitle {
    display: block;
    background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
    width: 100%;
    font-size: 23px;
    cursor: pointer;
    height: 56px;
    text-indent: 20px;
    line-height: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
  }
}
@media (max-width: 980px) {
  .type-704 .zaro #menu_header .fa {
    display: inline-block;
    margin-bottom: 11px;
  }
  .type-704 .zaro #menu_header li {
    margin: 0;
    line-height: 36px;
  }
}
@media (max-width: 1170px) and (min-width: 980px) {
  .type-704 .zaro #zaro-carousel .add-ToCart a {
    padding: 5px 0;
    margin-right: 5px;
  }
  .type-704 .zaro #zaro-carousel .add-ToCart .favorite,
  .type-704 .zaro #zaro-carousel .add-ToCart .wishlist {
    margin-right: 5px;
    padding: 5px;
    padding-top: -10px;
  }
  .type-704 .zaro #zaro-carousel .search-box-img {
    right: 10px !important;
    top: 10px !important;
  }
  .type-704 .zaro #zaro-carousel .col-custom-5-col {
    padding: 10px;
  }
}
@media (max-width: 979px) {
  .type-704 .zaro .page-width {
    width: 728px;
    transition: all .4s linear;
  }
  .type-704 .zaro #header_logo {
    top: 90px;
  }
}
@media (max-width: 727px) {
  .type-704 .zaro .page-width {
    width: 450px;
  }
  .type-704 .zaro #header {
    height: 190px;
  }
  .type-704 .zaro #header #header_logo {
    left: 0 !important;
    text-align: center;
    margin-top: 60px;
  }
  .type-704 .zaro #header #header_logo .logo {
    width: auto;
    max-width: 100%;
    max-height: 100px;
    height: auto;
  }
  .type-704 .zaro #header #shopping_cart {
    position: relative;
    padding: 0;
    float: left;
    width: 36px;
    top: 0;
    left: auto;
    border: none;
    min-width: 36px;
  }
  .type-704 .zaro #header #shopping_cart .fa {
    width: 20px;
    height: 20px;
    font: normal normal normal 20px/1 FontAwesome;
  }
  .type-704 .zaro #header #shopping_cart a {
    height: 35px !important;
  }
  .type-704 .zaro #header #shopping_cart:hover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    color: #8b8b8b;
  }
  .type-704 .zaro #header #search_box_top {
    top: 160px;
    right: 50%;
    margin-right: -150px;
    width: 300px;
    transition: all .4s linear;
  }
  .type-704 .zaro #header #search_box_top .search-button {
    -webkit-appearance: button;
  }
  .type-704 .zaro #menu_header {
    height: auto;
    position: absolute;
    top: 220px;
    width: 100%;
    left: 0;
  }
  .type-704 .zaro #menu_header ul {
    width: 100%;
    text-align: left;
  }
  .type-704 .zaro #menu_header ul li {
    line-height: 30px;
    text-align: center;
    margin: 0;
    display: block;
    float: left;
    position: static;
    border: none;
    padding: 0;
  }
  .type-704 .zaro #menu_header ul li:first-child a {
    border-style: none;
  }
  .type-704 .zaro #menu_header ul li a {
    font-size: 16px;
    width: 100%;
    display: block;
    border-left: none;
    height: auto;
    color: #666;
  }
  .type-704 .zaro #menu_header li {
    width: 33.3%;
  }
  .type-704 .zaro #menu_header li span {
    font-size: 12px;
  }
  .type-704 .zaro #menu_header .zaro-dropdown {
    width: 100%;
  }
  .type-704 .zaro .menu-container a.opener {
    visibility: visible;
  }
  .type-704 .zaro .menu-container .mega-menu {
    margin-top: 50px;
  }
  .type-704 .zaro .menu-container .mega-menu-ul {
    display: none;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li a span {
    position: relative;
    float: left;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li a.opener {
    margin: 0;
    max-width: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50%;
    z-index: 99999;
    cursor: pointer;
    position: relative;
    padding: 0;
    top: 0;
    right: 0;
    float: right;
    width: 20%;
    height: 58px;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li a.opener:before {
    content: "+";
    line-height: 50px;
    font-size: 28px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .type-704 .zaro .menu-container .mobileMenuTitle {
    display: block;
    background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
    width: 100%;
    font-size: 23px;
    cursor: pointer;
    height: 56px;
    text-indent: 20px;
    line-height: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
  }
  .type-704 .zaro .menu-container .mega-menu-item {
    float: none;
    width: 100%;
    overflow: hidden;
    background: #fafafa;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #fbfbfb;
    padding: 15px 0 0 0;
    line-height: 20px;
    position: relative;
  }
  .type-704 .zaro .menu-container .mega-menu-item ul,
  .type-704 .zaro .menu-container .mega-menu-item img {
    display: none;
    visibility: hidden;
  }
  .type-704 .zaro .menu-container .mega-menu-item a span:before {
    visibility: hidden;
    opacity: 0;
  }
  .type-704 .zaro .menu-container .mega-menu-ul {
    visibility: visible;
    height: auto;
    padding-left: 20px;
  }
  .type-704 .zaro .menu-container .mega-menu-ul ul {
    margin: 5px 0 0 0;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li {
    width: 100%;
    margin: 0;
    background: #f6f6f6;
    float: none;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #fbfbfb;
    position: relative;
  }
  .type-704 .zaro .menu-container .mega-menu-ul li ul {
    display: none;
  }
  .type-704 .zaro .col-custom-5-col {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
  }
}
