.type-772{
    @height_auto: auto;
    @overflow_hidden: hidden;
    @float: left;
    @display_ib: inline-block;
    @font-weight_normal: normal;
    @position_ab: absolute;
    @margin-top_0: 0;
    @margin-bottom_3px: 3px;
    @position_rela: relative;
    @display_block: block;
    @width_100:100%;
    @z-index_1: 1;
    .asset-bg.alt-nine {
        background-image: url(../images/nhood_impact_bkg.png);
        background-repeat: repeat;
        background-position: center top;
        background-size: auto;
        background-color: #FFFFFF;
    }
    .row-header > .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .asset-bg .spb_impact_text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .spb_impact_text {
        background: transparent;
        clear: both;
        height: @height_auto;
        overflow: @overflow_hidden;
    }
    .bb0 {
        border-bottom: 0 !important;
    }
    .bt0 {
        border-top: 0 !important;
    }
    .mb0 {
        margin-bottom: 0 !important;
    }
    .mt0 {
        margin-top: 0 !important;
    }
    [class*="span"] {
        max-width: 100%;
    }
    .title-header .spb_call_text {
        width: 83%;
    }
    .cta_align_left .spb_call_text, .title-header .spb_call_text {
        float: @float;
        clear: none;
    }
    .spb_impact_text .spb_call_text, .impact-text {
        font-weight: 300;
        margin-bottom: 0;
    }
    h2 {
        font-size: 19px;
        line-height: 30px;
        text-transform: uppercase;
        margin-left: 72px;
    }
    .impact-text-wrap .impact-text-arrow {
        font-size: 42px;
    }
    .impact-text-wrap .impact-text-arrow i {
        line-height: 28px;
    }
    i[class^="fa-"] {
        display: @display_ib;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: @font-weight_normal;
    }
    .cta_align_right .impact-text-arrow {
        position: @position_ab;
        right: 0;
        padding-right: 27px;
        margin-top: -80px;

    }
    .row {
        margin-left: 0;       
    }
    .row .span12 {
        height:50px;
    }
    //////////////////////////////////
    h4.spb_heading {
        font-weight: @font-weight_normal;
        margin-top: @margin-top_0;
        border-bottom: 2px solid transparent;
        position: @position_rela;
        margin-bottom: 20px;
        text-align: center;
    }
    h4.spb_heading::before {
        content: "";
        display: @display_block;
        border-top: 2px solid #252525;;
        width: @width_100;
        height: 2px;
        position: @position_ab;
        top: 50%;
        z-index: @z-index_1;
    }
    h4.spb_heading span {
        padding: 0 10px;
        position: @position_rela;
        display: @display_ib;
        z-index: @z-index_1;
        font-size: 15px;
        background: #ffffff;
    }
    ul.mini-list {
        list-style: none;
    }
    ul {
        margin: 0 0 20px;
        padding-left: 0px;
    }
    .mini-list li:first-child {
        margin-top: @margin-top_0;
    }
    .mini-list li figure {
        float: @float;
        width: 70px;
        margin-bottom: 2px;
        box-shadow: 0 5px 6px -4px #999;
    }
    figure {
        margin: 0;
    }
    figure a {
        display: @display_block;
    }
    figure img {
        width: @width_100;
    }
    .mini-list li {
        margin-top: 20px;
    }
    .mini-list li .product-details {
        margin-left: 85px;
    }
    .mini-list li h5 {
        margin-top: @margin-top_0;
        margin-bottom: @margin-bottom_3px;
    }
    h5 a {
        color: #252525;
    }
    .mini-list li .product-cats {
        display: @display_block;
        margin-bottom: @margin-bottom_3px;
    }
    a {
        color: #666666;
        font-size: 13px; 
    }
    a:hover {
        color: #1bbeb4;
        text-decoration: none;
    }
    .carousel-wrap {
        position: @position_rela;
        margin-left: -15px; 
        width: 300px; 
        opacity: 1; 
        display: block;
    }
    .owl-carousel .owl-wrapper-outer {
        overflow: @overflow_hidden;
        position: @position_rela;
        width: @width_100;
    }
    .owl-carousel .owl-wrapper {
        position: @position_rela;
    }
    .owl-carousel .owl-item {
        float: @float;
    }
    .carousel-wrap .carousel-item {
        width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        box-sizing: border-box;
    }
    .recent-post figure {
        width: @width_100;
        height: @height_auto;
        position: @position_rela;
        background-color: transparent;
        overflow: @overflow_hidden;
        box-shadow: 0 8px 6px -7px #999;
    }
    figure .overlay {
        width: @width_100;
        position: @position_ab;
        display: @display_block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        margin-left: -0.6px;
        padding-right: 0.6px;
    }
    .recent-post figure img {
        width: @width_100;
        height: @height_auto;
        position: @position_rela;
        z-index: 3;
        display: block !important;
    }
    .recent-post figure:hover img {
        transform: scale(1.2);
    }

}