.type-726 #footer .footer-border-left-1 {
  border-left: 1px solid #3C3C3C;
  text-align: center;
  margin-top: 28px;
}
.type-726 footer {
  display: block;
  margin: 0 auto;
  padding: 0px;
  background: transparent;
}
.type-726 * {
  margin: 0;
  padding: 1px;
}
.type-726 .footer-container {
  background: #262626;
  margin-top: 30px;
}
.type-726 .footer-top-outer {
  background: #3c3c3c;
  padding: 27px 0 26px;
  margin: 0 0 53px;
}
.type-726 .container-width {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
  background: transparent;
}
.type-726 .footer-container .footer-top-outer .block {
  border: none;
  margin: 0 30px;
}
.type-726 .block .block-title {
  position: relative;
}
.type-726 .footer-container .block .block-title {
  background: none;
  -webkit-border-radius: 0px;
  padding: 6px 0px;
  text-shadow: none;
  text-transform: capitalize;
  display: none;
}
.type-726 .block .block-title strong {
  display: block;
  padding: 0px;
}
.type-726 .footer-container .block .block-title strong {
  font-size: 13px;
  font-weight: bold;
  margin: 12px 0px;
  color: #fff;
  text-shadow: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.type-726 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  list-style: none;
}
.type-726 .footer-top-outer {
  background: #3c3c3c;
  padding: 27px 0 26px;
  margin: 0 0 53px;
}
.type-726 .footer-container .footer-top-outer .block {
  border: none;
  margin: 0 30px;
}
.type-726 li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.type-726 form {
  display: inline;
}
.type-726 .footer-container .footer-top-outer .block-content {
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  margin: 0px;
  padding: 0px;
}
.type-726 .footer-container .block-content .form-subscribe-header {
  float: left;
  margin: 0 0px 0 0;
}
.type-726 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type-726 .news-text .fa {
  float: left;
  font-size: 30px;
  line-height: 18px;
  margin-right: 6px;
  margin-top: 6px;
  color: #fff;
  margin-left: 88px;
}
.type-726 .fa-envelope-o:before {
  content: "\f003";
}
.type-726 .news-text .text-content {
  background: rgba(0,0,0,0) none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
  padding: 0 20px 0 0;
  text-transform: uppercase;
}
.type-726 .footer-container .footer-top-outer .block-content .input-box {
  float: right;
  position: relative;
}
.type-726 .input_inner {
  float: left;
}
.type-726 input {
  vertical-align: middle;
}
.type-726 input.input-text,
.type-726 select,
.type-726 textarea {
  background: #fff;
  font-family: "Raleway", sans-serif;
  padding: 6px;
  padding-right: 215px;
}
.type-726 .block-subscribe input.input-text {
  display: block;
  width: 461px;
  margin: 0px;
  border: none;
  padding: 9px 9px 10px;
  color: #b6b6b6;
}
.type-726 .block-subscribe .actions {
  background: none;
  padding: 0;
  margin: 0 0 0 11px;
  text-align: left;
  float: left;
}
.type-726 button {
  vertical-align: middle;
}
.type-726 button.button {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  margin-left: 9px;
}
.type-726 .block .actions button.button {
  float: right;
}
.type-726 button.button span {
  display: block;
  font-family: "Raleway", sans-serif;
  background: #3C3C3C;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 1px;
  color: #fff;
  border: 1px solid #fff;
}
.type-726 button.button span:hover {
  display: block;
  font-family: "Raleway", sans-serif;
  background: #262626;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 1px;
  color: #fff;
  border: 1px solid #262626;
}
.type-726 .block-subscribe .actions button.button span {
  padding: 5px 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.type-726 .footer_inner {
  clear: both;
  margin-bottom: 68px;
  overflow: hidden;
}
.type-726 #footer .footer-area {
  border-left: 1px solid #3c3c3c;
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
  padding: 9px 0 0 80px;
  width: 100%;
  min-height: 230px;
}
.type-726 #footer #block_1.footer-area {
  border: medium none;
  margin: -30px 53px 0 0;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #c5c5c5;
  border-left: 1px solid #3c3c3c;
}
.type-726 #footer #block_2.footer-area {
  border: medium none;
  margin: 0 53px 0 0;
  padding: 12px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #c5c5c5;
  border-left: 1px solid #3c3c3c;
}
.type-726 #footer #block_3.footer-area {
  border: medium none;
  margin: 0 53px 0 0;
  padding: 12px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #c5c5c5;
  border-left: 1px solid #3c3c3c;
}
.type-726 #footer #block_4.footer-area {
  border: medium none;
  margin: 0 53px 0 0;
  padding: 12px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #c5c5c5;
  border-left: 1px solid #3c3c3c;
}
.type-726 h6 {
  -webkit-margin-before: 2.33em;
  -webkit-margin-after: 2.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.35;
}
.type-726 #footer h6 {
  font-size: 13px;
  font-weight: bold;
  margin: 12px 0px;
  color: #fff;
  text-shadow: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.type-726 #footer #block_1.footer-area h6 {
  display: none;
}
.type-726 .footer li {
  padding: 0;
}
.type-726 #footer #block_1.footer-area li {
  line-height: 23px;
}
.type-726 .footer_logo {
  margin-bottom: 24px;
}
.type-726 a:-webkit-any-link {
  cursor: auto;
}
.type-726 .footer a {
  text-decoration: none;
  color: #c5c5c5;
}
.type-726 .footer a:hover {
  text-decoration: none;
  color: #fff;
}
.type-726 img {
  border: 0;
  vertical-align: top;
}
.type-726 li.social_block {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin: 22px 0 0;
  padding: 0;
  width: 20px;
}
.type-726 #footer #block_1.footer-area li {
  line-height: 23px;
}
.type-726 #footer #block_1.footer-area-1 li {
  line-height: 23px;
  text-align: left;
  padding: 2px 0;
}
.type-726 #footer #block_1.footer-area-1 ul {
  padding: 0;
  margin: 0;
  margin-left: 20%;
  margin-top: 28px;
}
.type-726 .news-text {
  text-align: left;
}
.type-726 #footer .footer-border-left .footer-title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
}
.type-726 .footer_bottom_images {
  text-align: center;
  border-bottom: 1px solid #3c3c3c;
  position: relative;
}
.type-726 .footer_bottom {
  text-align: center;
}
.type-726 .footer_bottom_images img {
  position: absolute;
  top: -3px;
  background: #262626;
}
.type-726 #footer .footer-border-left {
  border-left: 1px solid #3C3C3C;
  text-align: center;
  margin-top: 28px;
}
.type-726 #footer li.social_block a {
  color: #555;
}
.type-726 #footer li.social_block a .fa {
  font-size: 22px;
  font-weight: normal;
}
.type-726 .fa-facebook-square:before {
  content: "\f082";
}
.type-726 #footer li.social_block a:hover {
  color: #fff;
}
.type-726 #footer .footer-area {
  border-left: 1px solid #3c3c3c;
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
  padding: 9px 0 0 80px;
  width: 21.3%;
  min-height: 230px;
}
.type-726 #footer .footer-area {
  border-left: 1px solid #3c3c3c;
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
  padding: 9px 0 0 80px;
  width: 21.3%;
  min-height: 230px;
}
.type-726 address {
  font-style: normal;
  color: #c5c5c5;
}
.type-726 .footer address {
  text-align: center;
  margin: -18px;
  padding: 10px 0 6px;
  line-height: 22px;
  color: #c5c5c5;
}
.type-726 .footer ul.payment_icon {
  margin: 12px 0;
  text-align: center;
  padding: 2px;
}
.type-726 .footer_bottom .payment_icon li {
  background: none;
  display: inline-block;
  padding: 0 0px;
}
.type-726 .footer_bottom .payment_icon li a {
  display: block;
  height: 26px;
  width: 44px;
}
.type-726 .footer_bottom .payment_icon li.discover a {
  background: url(../images/payment1.png) no-repeat scroll -120px 0 transparent;
}
.type-726 .footer_bottom .payment_icon li.visa a {
  background: url(../images/payment1.png) no-repeat scroll 0 0 transparent;
}
.type-726 .footer_bottom .payment_icon li.mastro a {
  background: url(../images/payment1.png) no-repeat scroll -180px 0 transparent;
}
.type-726 .footer_bottom .payment_icon li.paypal a {
  background: url(../images/payment1.png) no-repeat scroll -240px 0 transparent;
}
.type-726 .footer_bottom .payment_icon li.amex a {
  background: url(../images/payment1.png) no-repeat scroll -300px 0 transparent;
}
.type-726 .footer_bottom .payment_icon li.g-wall a {
  background: url(../images/payment1.png) no-repeat scroll -60px 0 transparent;
}
.type-726 .footer_bottom .payment_icon li a span {
  font-size: 0px;
}
