.type-b-danhmuc1{
    @headclothing_bg: #f5f5f5;
    @clothing_color: #000;
    @clothing-text:#666666;
    .wr{
        padding-top: 5px;
        float: right;
    }
    .headclothing{
        background: @headclothing_bg;
        padding: 10px;
    }
    .clothing h4{
        color: @clothing_color;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
    }
    .clothing-text{
        .wr
    }
    .clothing-text a{
        color: @clothing-text;
    }
    .clothing-text a:hover{
        text-decoration: none;
    }
    @media only screen and(max-width:480px){
        .clothing-text{
            float: none;
            position: relative;
        }
    }
}