.type-b-danhmuc1{
    .headclothing{
        background: #f5f5f5;
        padding: 10px;
    }
    .clothing h4{
        color: #000;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
    }
    .clothing-text{
        padding-top: 5px;
        float: right;
    }
    .clothing-text a{
        color: #666666;
    }
    .clothing-text a:hover{
        text-decoration: none;
    }
    @media only screen and(max-width:480px){
        .clothing-text{
            float: none;
            position: relative;
        }
    }
}