.type-712 .bordered {
  border: 1px solid black;
}
.type-712 .card {
  height: 220px;
  overflow: auto;
}
.type-712 .card img {
  height: 150px;
}
.type-712 .bottom {
  vertical-align: bottom;
}
.type-712 btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.type-712 .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
