.type-708 {
  background: #f9f9f9;
}
.type-708 .image {
  margin-left: 5px;
}
.type-708 .image img {
  margin: 0 auto;
  width: 155px;
  padding-right: 20px;
}
.type-708 .button {
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
}
.type-708 .btn-move-left {
  position: relative;
  top: -131px;
  margin-left: 3px;
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  width: 24px !important;
  height: 24px !important;
}
.type-708 .btn-move-left i {
  position: relative;
  top: 4px;
  margin-left: 5px;
}
.type-708 .btn-move-right {
  position: relative;
  top: -131px;
  margin-left: -26px;
  left: 53%;
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  width: 24px !important;
  height: 24px !important;
}
.type-708 .btn-move-right i {
  position: relative;
  top: 4px;
  margin-left: 8px;
}
