.type-708{
    @color: #e0e0e0;
    @color2: #e17365;
    @color3: #fff;
    @boder: 1px solid @color;
    @position: absolute;
    @transition: 0.3s;
    @cursor: pointer;
    
    body {
        background: #f9f9f9;
    }
    .col-md-6 {
        margin-left: -5px;
    }
    .col-md-12 {
        h5 {
            font-family: LMRomanCaps10-Regular;
            font-size: 16px;
            font-style: italic;
            text-transform: uppercase;
            padding-bottom:  8px;
            padding-right: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            border-bottom: @boder;
        }
        margin-top: 25px;
    }
    .purchase-item {
        .thumb-img-carousel img {
            border: @boder;
            display: inline-block;
            width: 90%;
            margin-left: 10px;
            cursor: @cursor;
        }
    }
    .button  {
        position: @position;
        top: 50%;
        left: 2px;
        margin-top: 15px;
        width: 24px;
        height: 24px;
        border: @boder;
        box-shadow: 0 0 0 1px @color3, 0 0 0 2px #e6e5e5;
        transition: @transition;
        cursor: @cursor;
        .fa {
            width: 15px;
            height: 15px;
            margin-top: 5px;
            text-align: center;
            margin-left: 5px;
        }
    }
    .button:hover {
        background: @color2;
        box-shadow: 0 0 0 1px @color2, 0 0 0 2px @color2;
        color: @color3;
        border: 1px solid rgba(255,255,255,0.2);
        transition: @transition;
    }
    .btn-move-left{
        margin-left: 15px;
    }
    .btn-move-right {
        position: @position;
        left: 95%;
    }
}
