.type-708{
    @width: 100%;
    @color: #ff9933;
    @color2: #9CA0A0;
    @color3: #fff;
    @color4: #9a9a9a;
    @color6: #e1e3e7;
    @n-display: none;
    @b-display: block;
    @i-display: inline-block;
    @transition: all 0.5s;
    @float: left;
    @f-size: 10px;
    @margin-bottom: 0px;

    .float-width{
        width: @width;
        float: @float;
    }

    padding: 20px 0px;
    background: url(../images/bg.png);
    .float-width;

    p{
        color: @color2;
    }
    h3 {
        color: @color3;
        font-size: @f-size + 12;
        margin-top: 15px;
        text-transform: capitalize;
        font-family: 'Vollkorn', serif;
        margin-bottom: @margin-bottom + 30;
        .float-width;
    }

    .lms_newsletter {
        margin-bottom: @margin-bottom + 20;
        .float-width;
        form {
            display: @b-display;
            margin-top: 0em;
        }
        .form-inline{
            .form-group {
                display: @i-display;
                margin-bottom: @margin-bottom;
                vertical-align: middle;
                position: relative;
                .float-width;
                #form-control{
                    width: @width - 20;
                    display: @i-display;
                    border: 1px solid @color6;
                    transition: @transition;
                    .form-control{
                        border: none;
                        height: 38px;
                        font-size: @f-size + 4;
                        line-height: 1.42857143;
                        color: @color4;
                        background-color: transparent;
                        background-image: none;
                        transition: @transition;
                        width: @width;
                        font-style: italic;
                    }
                    &:hover{
                        border-color: @color;
                    }
                }
                .lms_newsletter_widget_btn{
                    padding: 9px 1px;
                    font-size: @f-size + 10;
                    font-weight: normal;
                    position: absolute;
                    line-height: 1;
                    color: @color3;
                    text-align: center;
                    background-color: @color;
                    border: 1px solid @color3;
                    min-width: 65px;
                    border-left: none;
                }
            }
        }
        .mailchimp_message{
            color: @color2;
            display: @n-display;
        }
        .mailchimp_message1{
            color: green;
            display: @n-display;
        }
    }
    .postform {
        display: @b-display;
        width: @width;
        height: 40px;
        padding: 6px 12px;
        font-size: @f-size + 6;
        line-height: 1.42857143;
        color: @color4;
        background-color: transparent;
        border: 1px solid @color6;
        background-image: url(../images/down.png);
        background-repeat: no-repeat;
        background-position: right;
        option{color: #333;}
        &:hover{
            border-color: @color;
            outline: 0;
        }
    }
    .lms_happening {
        .float-width;
        .lms_happy_user {
            .float-width;
            img {
                width: 48px;
                height: 48px;
                float: @float;
                display: @i-display;
                margin-right: 10px;
            }
        }
    }
    @media(max-width:768px){
        .postform{
            width: 89%;
        }
    }
    @media(max-width:310px){
        .lms_newsletter .form-inline .form-group{
            width: 83%;
        }
    }

}