.type-708{
    @color: #e17365;
    @color2: #e0e0e0;
    @border : 1px solid @color2;
    @cursor: pointer;
    @position: absolute;
    @background: #f9f9f9;
    @pixel: -5px;
    @max-width: 100%;
    
    .bodder-cursor{
        border: @border;
        cursor: @cursor;
    }
    body {
        background: @background;
    }
    .col-md-6 {
        margin-left: @pixel;
    }
    .product {
        .items {
            img {
                max-width: @max-width;
                border: @border;
                cursor: crosshair;
            }
        }
        .thumbs-list {
            border-right: @border;
            img {
                margin-top: @pixel + 13;
                margin-bottom: @pixel + 12;
                max-width: @max-width - 17%;
                .bodder-cursor;
            }
            #btn-down {
                position: @position;
                top: @pixel + 610;
            }
            .btn-move {
                background: #e6e5e5;
                padding: @pixel + 10;
                border-radius: @max-width - 50%;
                position: @position;
                left: @pixel + 53;
                .bodder-cursor;
                &:hover{ color: @color;}
            }
        }    
    }
}