.type-759 .breadcrumb {
  margin: 15px 0;
  padding: 8px 0;
  border-radius: 0;
  border: 1px solid #e1e0e0;
  background: #f2f2f2;
  color: #2f2f2f;
}
.type-759 .breadcrumb {
  list-style: none;
}
.type-759 .breadcrumb > li {
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}
.type-759 .breadcrumb>li {
  display: inline-block;
}
.type-759 .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.type-759 .breadcrumb > li:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #e1e0e0;
  border-bottom: 1px solid #e1e0e0;
  transform: rotate(-45deg);
}
.type-759 .breadcrumb > li + li:before {
  content: '';
  padding: 0;
}
.type-759 .breadcrumb i {
  font-size: 15px;
  color: #2f2f2f;
}
.type-759 .breadcrumb i:hover {
  color: #19caaf;
}
.type-759 a {
  color: #000;
}
.type-759 .breadcrumb a:hover {
  color: #19caaf;
}
.type-759 a:hover {
  text-decoration: none;
  outline: none;
  list-style: none;
  color: #19caaf;
}
.type-759 h2 {
  font-size: 27px;
}
.type-759 h3 {
  font-size: 21px;
}
.type-759 .banner {
  font: 300 12px/18px "Ubuntu", sans-serif;
  color: #888;
  background: #fff;
}
.type-759 h1,
.type-759 h2,
.type-759 h3,
.type-759 h4,
.type-759 h5,
.type-759 h6 {
  color: #2f2f2f;
  margin: 10px 0 20px;
  line-height: 1.1;
}
.type-759 .img-thumbnail {
  border: 0;
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 0;
  line-height: 1.428571429;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.type-759 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.type-759 .box-subcat li a:hover {
  color: #19caaf;
}
.type-759 .box-subcat li a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
}
.type-759 .box-subcat li .image:hover {
  border-color: #19caaf;
}
.type-759 .box-subcat li .image {
  margin-bottom: 10px;
  border: 2px solid #dbdbdb;
  padding: 9px;
  transition: 0.3s all ease;
}
.type-759 .box-subcat li {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .type-759 .box-subcat li .image {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 25%;
  }
  .type-759 .box-subcat li {
    overflow: hidden;
    clear: both;
    text-align: left;
  }
}
.type-759 .product-filter {
  border-top: 1px #dadada solid;
  border-bottom: 1px #dadada solid;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.type-759 .product-label {
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: normal;
}
.type-759 .sort {
  padding: 8px 0;
  width: 100%;
}
.type-759 .show {
  padding: 8px 0;
  width: 100%;
}
.type-759 .button-view {
  text-align: right;
}
.type-759 .button-view button {
  background: none;
  border: none;
  font-size: 25px;
}
.type-759 .button-view #list {
  color: #777;
}
.type-759 .button-view #grid {
  color: #19caaf;
}
.type-759 .pull-left {
  float: left !important;
}
.type-759 .nav-cat .nam-page {
  margin: 5px 0 5px 0px;
  font: 300 12px/18px "Ubuntu", sans-serif;
  color: #888;
  background: #fff;
}
.type-759 .pull-right {
  float: right !important;
}
.type-759 #compare-total {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  padding: 15px 20px;
  background: #42B856;
  margin-left: 10px;
}
.type-759 #compare-total:hover {
  background: #19caaf;
}
.type-759 .product-thumb {
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.type-759 .product-thumb .image {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 10px;
}
.type-759 .product-thumb .image a:hover img {
  transform: scale(1.1) !important;
}
.type-759 .product-thumb .image a img {
  transition: 0.3s all ease;
  margin-left: auto;
  margin-right: auto;
}
.type-759 .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.type-759 .product-thumb .price {
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  color: #19caaf;
}
.type-759 .product-thumb h4 a,
.type-759 .product-thumb a {
  font-size: 13px;
  font-weight: 300;
  color: #2f2f2f;
}
.type-759 .product-thumb h4 a:hover,
.type-759 .product-thumb a:hover {
  color: #19caaf;
}
.type-759 .group-btn {
  float: left;
  margin-left: -40px;
}
.type-759 .group-btn ul li {
  display: inline-block;
  float: left;
  margin: 10px;
}
.type-759 .group-btn ul li a {
  color: #888;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 50%;
}
.type-759 .group-btn ul li a:hover {
  text-decoration: none;
  background: #000000;
  color: #ffffff;
}
.type-759 .group-btn #active a {
  background: #19caaf;
  color: #ffffff;
}
.type-759 .group-btn #active a:hover {
  text-decoration: none;
  background: #000000;
}
