.type-741 {
    /*----- Sub-Footer -----*/
    .sub-footer {
        background: #f2f2f2;
    }
    .about h1, .event h1 {
        color: #2f2f2f;
        font-size: 15px;
    }
    .about p, .event p {
        color: #888888;
        font-size: 12px;
    }
    .event p a {
        color: #19caaf;
        text-decoration: none;
    }
    .event p a:hover {
        color: #2f2f2f;
    }
    /*----- Footer -----*/
    .service ul {
        list-style: none;
        padding: 0;
    }
    .service ul li {
        padding: 4px 0;
    }
    .service ul li h1 {
        color: #414141;
        font-size: 15px;
    }
    .service ul li a {
        color: #4bd3be;
        font-size: 14px;
        text-decoration: none;
    }
    .service ul li a:hover {
        color: #414141;
    }
    .service ul li .follow a i:hover {
        color: #19caaf;
    }
    .follow a span {
        color: #888888;
    }
    .border {
        border-bottom: 1px #e5e5e5 solid;
        margin: 10px 0;
        padding: 20px 0;
    }
    .service {
        border-bottom: 1px #e5e5e5 solid;
        margin: 10px 0;
        padding: 20px 0;
    }
    .line {
        border-right: 1px #e5e5e5 solid;
    }
    .footer {
        background: #f2f2f2;
        padding: 20px;
    }
    .footer-bottom a {
        color: #a4a4a4;
        text-decoration: none;
    }
    .footer-bottom a:hover {
        color: #2f2f2f;
    }
    .footer-bottom {
        font-size: 13px;
        color: #a4a4a4;
        margin-top: 20px;
    }
    .a {
        float: left;
    }
    @media all and (max-width: 480px) {
        .footer-bottom {
            text-align: center;
        }
    }
    @media all and (max-width: 768px) {
        .service {
            display: none;
        }
    }
}