.type-761 {
    @background: #f2f2f2;
    @background1: #2f2f2f;
    @text-decoration: none;
    @color: #a4a4a4;
    /*----- Sub-Footer -----*/
    .sub-footer {
        background: @background;
    }
    .about h1,
    .event h1 {
        color: @background1;
        font-size: 15px;
    }
    .about p,
    .event p {
        color: #888888;
        font-size: 12px;
    }
    .event p a {
        color: #19caaf;
        text-decoration: @text-decoration;
    }
    .event p a:hover {
        color: @background1;
    }
    /*----- Footer -----*/
    .service ul {
        list-style: @text-decoration;
        padding: 0;
    }
    .service ul li {
        padding: 4px 0;
    }
    .service ul li h1 {
        color: #414141;
        font-size: 15px;
    }
    .service ul li a {
        color: #4bd3be;
        font-size: 14px;
        text-decoration: @text-decoration;
    }
    .service ul li a:hover {
        color: #414141;
    }
    .service ul li .follow a i:hover {
        color: #19caaf;
    }
    .follow a span {
        color: #888888;
    }
    .border {
        border-bottom: 1px #e5e5e5 solid;
        margin: 10px 0;
        padding: 20px 0;
    }
    .service {
        border-bottom: 1px #e5e5e5 solid;
        margin: 10px 0;
        padding: 20px 0;
    }
    .line {
        border-right: 1px #e5e5e5 solid;
    }
    .footer {
        background: @background;
        padding: 20px;
    }
    .footer-bottom a {
        color: @color;
        text-decoration: @text-decoration;
    }
    .footer-bottom a:hover {
        color: @background1;
    }
    .footer-bottom {
        font-size: 13px;
        color: @color;
        margin-top: 20px;
    }
    .a {
        float: left;
    }
    @media all and (max-width: 480px) {
        .footer-bottom {
            text-align: center;
        }
    }
    @media all and (max-width: 768px) {
        .service {
            display: @text-decoration;
        }
    }
}