.type-736 {
    @content: "";
    @display-block: block;
    @font-size: 20px;
    @opacity: 1;
    @box-sizing: border-box;
    @position: relative;
    @width: 100%;
    @float: left;
    @text-align: center;
    @display-iblock: inline-block;
    @padding-left: 0;
    @padding-right: 0;
    @position-p: position;
    @border: 1px solid #9ea6b0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    a{
        color: #000;
        text-decoration: none;
    }

    .hentry {
        margin: 0 0 1.5em;
    }

    .vc_row{
        margin-left: -15px;
        margin-right: -15px;
    }

    .entry-content {
        margin: 0px;
    }


    .entry-content:before, .entry-content:after{
        content: @content;
        display: table;
    }

    p {
        display: @display-block;
    }
    h2,h3,h4{
        font-family: 'Vollkorn', serif;
        line-height: 1.1;
        color: #3a3a3a;
    }
    h1, h2, h3, h4, h5, h6 {
        opacity: @opacity;
        visibility: visible;
        transition: opacity 0.24s ease-in-out;
    }

    .vc_column_container {
        padding-left: @padding-left;
        padding-right: @padding-right;
        .vc_column-inner {
            box-sizing: @box-sizing;
            padding-left: 15px;
            padding-right: 15px;
            width: @width;
        }
    }

    .lms_title_center {
        width: @width;
        float: @float;
        text-align: @text-align;
        .lms_heading_1 {
            text-align: @text-align;
            display: @display-iblock;
            .lms_heading_title {
                margin-top: 80px;
                font-weight: 400;
                padding: 0px 32px 28px 32px;
                border-bottom: 1px solid #9ea6b0;
                position: @position;
                font-weight: 500;
            }
            .lms_heading_title:after{
                content: @content;
                position: absolute;
                top: 100%;
                margin: -10px 0 0 -5px;
                left: 50%;
                width: 10px;
                height: 20px;
                background: #fff;
                border-left: 1px solid #9ea6b0;
                border-right: 1px solid #9ea6b0;
            }
        }
        p {
            margin-top: 8px;
            font-size: @font-size;
            line-height: 24px;
            margin-bottom: 70px;
        }
    }

    .box{
        position: @position;
        box-sizing: @box-sizing; 
        max-width: @width;
    }
    .swiper-container {
        width: @width;
        height: auto;
    }

    .owl-carousel {
        opacity: @opacity; 
        display: @display-block;
        position: @position;
        width: @width;
        .swiper-container {
            overflow: hidden;
            position: @position;
            width: @width;
            .swiper-wrapper {
                position: @position;
                width: 6840px;
                display: @display-block; 
                transform: translate3d(-2280px, 0px, 0px); 
                transition: all 800ms ease;
                .swiper-slide {
                    float: @float;
                    width: 1140px;
                    .lms_popular_courses_slider_item{
                        padding: 7.5px;
                        float:@float;
                        .lms_popular_courses_item {
                            margin-bottom: 30px;
                            min-height: 260px;
                            //
                        }
                    }
                }
            }
        }
    }

    /*------testimonials--------*/

    .vc_column_container {
        padding-left: @padding-left;
        padding-right: @padding-right;
        .vc_column-inner {
            padding-left: @padding-left;
            padding-right: @padding-right;
            .lms_plan_testimonial {
                width: @width;
                float: @float;
                background-attachment: fixed;
                .lms_testimonials_bg2 {
                    width: @width;
                    float: @float;
                    background: url(../images/bg.png);
                }
            }
        }
    }

    .lms_testimonials {
        width: @width;
        float: @float;
        position: @position;
        margin: 50px 0 80px 0;
    }
    .lms_testimonials_slider_item{
        width: @width;
        float: @float;
        text-align: @text-align;
        color: #fff;
        .lms_testimonial_quote {
            font-size: 82px;
            display: @display-iblock;
            /* margin-left: 30px; */
            font-style: italic;
        }
        .lms_testimonials_txt {
            padding: 0px 100px;
            font-size: @font-size;
            margin-bottom: 20px;
            display: @display-block;
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
        h4 {
            color: #ff9933;
        }
    }
}

