.type-743 .breadcrumb_wrap .breadcrumb {
  padding: 8px 2px;
  background-color: transparent;
}
.type-743 .breadcrumb_wrap .breadcrumb li a {
  color: #6c7b84;
}
.type-743 .breadcrumb_wrap .breadcrumb li a:hover {
  text-decoration: none;
  color: #4BAE4F;
}
.type-743 .breadcrumb_wrap .breadcrumb li span {
  color: #6c7b84;
}
.type-743 .page_heading {
  margin: 0;
  font-size: 16px;
  background: #f5f4f4;
  border: 1px solid #ececec;
  min-height: 50px;
  padding: 14px 30px;
  font-weight: bold;
}
.type-743 a {
  text-decoration: none;
}
.type-743 ul.tags {
  margin: 15px 0;
  list-style-type: none;
}
.type-743 ul.tags:before {
  content: "";
  display: table;
}
.type-743 ul.tags li {
  float: left;
  margin: 5px 5px 0 0;
}
.type-743 ul.tags li .active {
  background: #4bae4f;
  color: #fff;
}
.type-743 ul.tags li a {
  display: block;
  padding: 5px 10px;
  background: #f5f4f4;
  color: #6c7b84;
}
.type-743 ul.tags li a:hover {
  background: #4bae4f;
  color: #fff;
}
.type-743 .collection_info {
  margin-right: -15px;
  margin-left: -15px;
}
.type-743 .collection_info .collection_img {
  margin-top: 15px;
  text-align: center;
}
.type-743 .collection_info .collection_img img {
  max-width: 100%;
}
.type-743 .collection_info .collection_desc {
  margin-top: 15px;
}
.type-743 .collection_info .collection_desc .rte {
  margin: 0;
}
@media (max-width: 767px) {
  .type-743 .breadcrumb_wrap {
    margin: 25px 0;
    padding: 0 12px;
  }
  .type-743 .page_heading {
    margin: 12px;
  }
  .type-743 ul.tags {
    padding: 12px;
    padding-top: 0;
  }
  .type-743 .collection_info .collection_desc .rte {
    padding: 12px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .type-743 .breadcrumb_wrap {
    margin: 30px 0;
  }
}
