.734 {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #5b5b5b;
    a{
        color: #000;
        text-decoration: none;
    }

    .hentry {
        margin: 0 0 1.5em;
    }

    .vc_row{
        margin-left: -15px;
        margin-right: -15px;
    }

    .entry-content {
        margin: 0px;
    }


    .entry-content:before, .entry-content:after{
        content: "";
        display: table;
    }

    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    h2,h3,h4{
        font-family: 'Vollkorn', serif;
        line-height: 1.1;
        color: #3a3a3a;
    }
    h1, h2, h3, h4, h5, h6 {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }

    .vc_column_container {
        padding-left: 0;
        padding-right: 0;
        .vc_column-inner {
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }

    /*Our Best Services*/
    .lms_title_center {
        width: 100%;
        float: left;
        text-align: center;
        .lms_heading_1 {
            text-align: center;
            display: inline-block;
            .lms_heading_title {
                margin-top: 80px;
                font-weight: 400;
                padding: 0px 32px 28px 32px;
                border-bottom: 1px solid #9ea6b0;
                position: relative;
                font-weight: 500;
            }
            .lms_heading_title:after{
                content: "";
                position: absolute;
                top: 100%;
                margin: -10px 0 0 -5px;
                left: 50%;
                width: 10px;
                height: 20px;
                background: #fff;
                border-left: 1px solid #9ea6b0;
                border-right: 1px solid #9ea6b0;
                -webkit-transform: rotate(20deg);
            }
        }
        p {
            margin-top: 8px;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 70px;
        }
    }

    .lms_service_1 {
        width: 100%;
        float: left;
        text-align: left;
        margin: 20px 0px 30px 0px;
        .lms_service_icon {
            width: 78px;
            height: 78px;
            line-height: 85px;
            text-align: center;
            border: 1px solid #9ea6b0;
            border-radius: 3px;
            display: inline-block;
            float: left;
            margin: 0px 21px 21px 0px;
        }
    }

    .lms_service_1:hover {
        .lms_service_icon {
            border-color: #ff9933;
        }
    } 

    .lms_service_1{
        h3{
            font-size: 22px;
            margin: 0;
        }
    }
}
