.type-757{ 
    @position:relative;
    @text-align:center;
    @text-decoration:none;
    @float:left;
    @float1:right;
    .detail {
        width: 1180px;
        margin-left: -20px;
       
       .thin {
            max-width:100px; 
            margin-top: 20px;
        }

        .carousel > .window {
            overflow: hidden;
            position: @position;
            height: 300px;
        }


        .carousel ul {
            list-style: none;
            top: 0;
            left: 0;
            position: absolute;
            padding: 0px;
        }
        .carousel li {
            margin: 3px 0 0;
        }
        .prev, .next {
            font-size: 30px;
            width: 100%;
            position: @position;
            left: 50%;
            left: 23%;
            margin-left: -15px;
        }
        .carousel li:first-child {
            margin: 0;
        }
        .item img {
            width: 100%;
        }
        .big-img{
            margin-top: 30px;
        }
        .big-img img {
            width: 100%;
        }
        .info {
            margin-top: 20px;
        }
        .name h1 {
            color: #333;
            line-height: normal;  
        }
        .rating {
            display: block;
        }
        .rating #active{
            margin-left: 20px;
        }
        .rating a{
            color: #888;
        }
        .rating a:hover{
            color: #19caaf;
            list-style: none;
            text-decoration: @text-decoration;
        }
        .price {
            margin-top: -17px;
            border-bottom: 1px solid #dddddd;
        }
        .price h2 {
            font-size: 31px;
            color: #19caaf;
        }
        .describe {
            margin-top: 10px;
            border-bottom: 1px solid #dddddd;
        }
        .QTY {
            text-align: @text-align;
            margin-top: 20px;
        }
        .btn-add {
            margin-top: 20px;
            background: #19caaf;      
        }
        .btn-add p {
            text-align: @text-align;
            padding: 10px 0;
        }
        .btn-add p a {
            color :#ffffff;
        }
        .btn-add :hover {
            background: #333;
        }
        .btn-add p a:hover {
            text-decoration: @text-decoration;
        }
        .btn-other {
            margin-top: 30px;
        }
        .btn-love {
            float:@float;
            width:95%;
            background: #19caaf;
        }
        .btn-love h4 {
            text-align: @text-align;
        }
        .btn-love a {
            color: #ffffff;
            text-align: @text-align;
        }
        .btn-compare{
            float:@float1;
            width:95%;
            background: #19caaf;
        }
        .btn-compare h4 {
            text-align: @text-align;
        }
        .btn-compare a {
            color: #ffffff;
            text-align: @text-align;
        }

        //--Description--//
        .description {
            margin-top: 50px;
        }
        .description h3 {
            text-align: @text-align;
        }
        .video {
            width:99%;
        }
        .text p{
            color:#888;
            font-size: 11px;
        }

        //--Specification-->
        .specification h3 {
            margin-top: 50px;
            text-align: @text-align;
        }
        .table {
            margin-top: 20px;
        }
        .table .td {
            background: #F9F9F9;
        }

        //--Reviews--//
        .reviews {
            margin-top: 50px;
        }
        .reviews h3 {
            text-align: @text-align;
        }
        .message {
            float: @float;
        }
        .title h3 {
            text-align: @text-align;
            margin-top: 30px;
        }
        .title h3 a {
            color: #333;
        }
        .title h3 a:hover {
            color: #19caaf; 
            text-decoration: @text-decoration;
        }

        .nav {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .nav i{
            float:@float1;
        }
        .nav p {
            float:@float1;
            margin-right: 10px;
        }
        .note {
            text-align: @text-align;
        }
        .note .active {
            color: red;
            font-weight: bold;
        }
        .btn-continue {
            margin-top: 30px;
        }
        .btn-continue a{
            background: #19caaf;
            float: @float1;
            padding: 20px 20px;
            color: #ffffff;
        }
        .btn-continue a:hover {
            background: #333;
            text-decoration:  @text-decoration;
        }

        /* Dành cho điện thoại */
        @media all and (min-width: 767px) {}
        /* Dành cho máy tính bảng chiều dọc */
        @media all and (min-width: 600px) {}

        /* Dành cho máy tính bảng chiều ngang */
        @media all and (min-width: 1024px) {}

        /* Dành cho màn hình desktop */
        @media all and (min-width: 1280px) {}
    }
}
/* END MODULE TEST */

