.type-724 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #5b5b5b;
}
.type-724 .content .heading {
  text-align: center;
}
.type-724 .content .heading .title {
  display: inline-block;
}
.type-724 .content .heading h1 {
  font-size: 34px;
  float: left;
  margin-top: 80px;
  margin-bottom: 17px;
  font-weight: 400;
  padding: 0px 32px 28px 32px;
  border-bottom: 1px solid #9ea6b0;
  position: relative;
}
.type-724 .content .heading h1::after {
  content: "";
  position: absolute;
  top: 100%;
  margin: -10px 0 0 -5px;
  left: 50%;
  width: 10px;
  height: 20px;
  background: #fff;
  border-left: 1px solid #9ea6b0;
  border-right: 1px solid #9ea6b0;
  transform: rotate(20deg);
}
.type-724 .content .heading p {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 70px;
}
.type-724 .content .course-landing-summary h3 {
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  line-height: 1.1;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
  font-size: 2.7rem;
}
.type-724 .content .course-landing-summary img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.type-724 .content .lms-single-entry-content {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.type-724 .content .lms-single-entry-content .author {
  font-weight: 700;
  padding-right: 20px;
  margin-right: 20px;
  color: #000;
  margin-bottom: 0;
  margin-top: 6px;
  border-right: 1px solid #eee;
}
.type-724 .content .lms-single-entry-content .author a {
  color: #ff9933;
}
.type-724 .content .lms-single-entry-content .course-students {
  font-weight: 700;
  line-height: 20px;
  margin-right: 20px;
  padding-right: 20px;
  color: #3a3a3a;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  margin-top: 6px;
}
.type-724 .content .lms-single-entry-content .course-price {
  line-height: 20px;
  margin-right: 20px;
  padding-right: 20px;
  color: #ff9933;
  font-weight: 700;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  margin-top: 6px;
}
.type-724 .content .lms-single-entry-content .view-cart-button {
  color: #fff;
  background-color: #ff9933;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.5s;
}
.type-724 .content .lms-single-entry-content a:hover {
  text-decoration: none;
}
.type-724 .content .lms-single-entry-content .purchase-button {
  float: right;
  color: #fff;
  background-color: #ff9933;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.5s;
}
.type-724 .content .course-description-heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin: 20px 0px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  line-height: 1.1;
  float: left;
  width: 100%;
  font-size: 2.7rem;
}
