.type-720 .color-position {
  position: absolute;
  color: #fff;
}
.type-720 .sub-banner {
  overflow: hidden;
  width: 100%;
  margin: 10px 0 0;
}
.type-720 .sub-banner img {
  width: 100%;
}
.type-720 .sub-banner:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.type-720 .sub-banner:hover .shopnow {
  transition: all 0.3s ease 0s;
  z-index: 1;
  display: block;
}
.type-720 .text {
  bottom: 15px;
  left: 30px;
  font-size: 18px;
  position: absolute;
  color: #fff;
}
.type-720 .shopnow {
  display: none;
  transition: all 0.3s ease 0s;
  right: 15px;
  bottom: 0;
  background: rgba(38,38,38,0.7);
  padding: 10px 15px;
  text-align: right;
  width: 92%;
  box-sizing: border-box;
  position: absolute;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .type-720 .sub-banner:hover .shopnow {
    display: none;
  }
}
