.type-746{
    margin-top:30px;
    background-color: #f5f4f4;
    a {
        color: #4bae4f;
        text-decoration: none;
        &:hover{
            color: #374046;
        }
    }
    .col1 {
        padding-right: 50px;
    }
    h2 {
        margin-bottom: 13px;
        line-height: 1.71;
    }
    h4 {
        margin: 13px 0 10px;
        font-weight: 300;
        line-height: 1.71;
        font-size: 14px;
        font: 500 16px Ubuntu;
        color: #374046;
        text-transform: uppercase;
    }
    p {
        margin: 10px 0;
        padding: 0;
    }
    .col1+.col2 {
        position: static;
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            margin-left: -15px;
            width: 1px;
            top: 59px;
            bottom: 33px;
            background: #e2e2e2;
        }
    }
    .blog_content+.blog_title {
        margin-top: 17px;
    }
    .row:after {
        clear: both;
    }
}