.Dan{
    .about{
        margin-top:30px;
        background-color: #f5f4f4;
    }
    .store{
        width:50%;
        float:left;
        border-right:1px solid #ccc;
    }
    .blog{
        padding-left:20px;
        width:50%;
        float:left;
    }
    .boxx{
        margin-top:30px;
        margin-bottom: 20px;
    }
    li{
        list-style: none;
        padding:7px 0;
    }
    h5{
        padding:10px 0;
    }
}