.type-726{
    @border-left: 1px solid #3C3C3C;
    @text-align: center;
    @margin-top: 28px;
    @display: block;
    @margin: 0 auto;
    @padding: 0px;
    @background: transparent;
    @margin0: 0;
    @background26: #262626;
    @color: #fff;
    @background3c: #3c3c3c;
    @padding27px026px: 27px 0 26px;
    @margin0053: 0 0 53px;
    @border: none;
    @margin030px: 0 30px;
    @position: relative;
    @background-none: none;
    @text-shadow: none;
    @display-none: none;
    @font-size: 13px;
    @font-weight: bold;
    @margin-120: 12px 0px;
    @font-family: "Raleway",sans-serif;
    @text-transform: uppercase;
    @margin0px: 0px;
    @float: left;
    @display-inb: inline-block;
    @margin-top-6px: 6px;
    @vertical-align: middle;
    @floatright: right;
    @padding0: 0;
    @text-alignleft: left;
    @box-sizing: border-box;
    @colorc5: #c5c5c5;
    @border0: 0;
    @cursor: pointer;
    @line-height: 23px;
    @line-height22px: 22px;
    @text-decoration: none;
    @box-sizing: border-box;
    @width: 100%;
    @border-medium: medium none;
    @white-space: nowrap;
    @padding_6px_1px: 6px 1px;
    @margin_right_15: 15px;
    @padding_9px_0_0_80px: 9px 0 0 80px;
    @min-height: 230px;
    
    #footer .footer-border-left-1 {
        border-left: @border-left;
        text-align: @text-align;
        margin-top: @margin-top;
    }
    footer{
        display: @display;
        margin: @margin;
        padding: @padding;
        background: @background;
    }
    * {
        margin: @margin0;
        padding: 1px;
    }
    .footer-container {
        background: @background26;
        margin-top: 30px;
    }
    .footer-top-outer {
        background: @background3c;
        padding: @padding27px026px;
        margin: @margin0053;
    }
    .container-width{
        width: 1200px;
        margin: @margin;
        padding: @padding;
        background:@background;
    }
    .footer-container .footer-top-outer .block {
        border: @border;
        margin: @margin030px;
    }
    .block .block-title {

        position: @position;
    }
    .footer-container .block .block-title {
        background: @background-none;
        padding: 6px 0px;
        text-shadow: @text-shadow;
        text-transform: capitalize;
        display: @display-none;
    }
    .block .block-title strong {
        display:@display;
        padding: @padding;
    }
    .footer-container .block .block-title strong {
        font-size: @font-size;
        font-weight: @font-weight;
        margin: @margin-120;
        color: @color;
        text-shadow: @text-shadow;
        font-family: @font-family;
        text-transform: @text-transform;
        position: @position;
    }

    ul {
        display: @display;
        list-style: none;

    }
    .footer-top-outer {
        background: @background3c;
        padding: @padding27px026px;
        margin: @margin0053;
    }
    .footer-container .footer-top-outer .block {
        border: @border;
        margin: @margin030px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    form {
        display: inline;
    }
    .footer-container .footer-top-outer .block-content {
        background: @background-none;
        border: @border;

        margin: @margin0px;
        padding: @padding;
    }
    .footer-container .block-content .form-subscribe-header {
        float: @float;
        margin: 0 0px 0 0;
    }
    .fa {
        display: @display-inb;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
    }
    .news-text .fa {
        float: @float;
        font-size: 30px;
        line-height: 18px;
        margin-right: 6px;
        margin-top: @margin-top-6px;
        color: @color;
        margin-left: 88px;
    }
    .fa-envelope-o:before {
        content: "\f003";
    }
    .news-text .text-content {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: @color;
        float: @float;
        font-size: 18px;
        font-weight: @font-weight;
        margin-top: @margin-top-6px;
        padding: 0 20px 0 0;
        text-transform: @text-transform;
    }
    .footer-container .footer-top-outer .block-content .input-box {
        float: @floatright;
        position: @position;
    }
    .input_inner {
        float: @float;
    }
    input {
        vertical-align: @vertical-align;
    }
    input.input-text, select, textarea {
        background: #fff;
        font-family: @font-family;
        padding: 6px;
        padding-right: 215px;
    }
    .block-subscribe input.input-text {
        display: @display;
        width: 461px;
        margin: @margin0px;
        border: @border;
        padding: 9px 9px 10px;
        color: #b6b6b6;
    }
    .block-subscribe .actions {
        background: @background-none;
        padding: @padding0;
        margin: 0 0 0 11px;
        text-align: @text-alignleft;
        float: @float;
    }
    button {
        vertical-align: @vertical-align;
    }
    button.button {
        overflow: visible;
        width: auto;
        border: @border0;
        padding: @padding0;
        margin: @margin0;
        background: @background;
        cursor: @cursor;
        margin-left: 9px;
    }
    .block .actions button.button {
        float: @floatright;
    }
    button.button span{
        display: @display;
        font-family: @font-family;
        background: @background3c;
        line-height: @line-height22px;
        text-align: @text-align;
        white-space: @white-space;
        text-decoration: @text-decoration;
        font-weight: @font-weight;
        text-transform: @text-transform;
        padding: @padding_6px_1px;
        color: @color;
        border:1px solid #fff;

    }
    button.button span:hover{
        display:@display;
        font-family: @font-family;
        background: @background26;
        line-height: @line-height22px;
        text-align: @text-align;
        white-space: @white-space;
        text-decoration: @text-decoration;
        font-weight: bold;
        text-transform: @text-transform;
        padding: @padding_6px_1px;
        color: @color;
        border:1px solid #262626;

    }
    .block-subscribe .actions button.button span {
        padding: 5px 32px;
        background: @background;
        border: 1px solid #fff;
        color: @color;
    }
    .footer_inner {
        clear: both;
        margin-bottom: 68px;
        overflow: hidden;
    }
    #footer .footer-area {
        border-left: @border-left;
        box-sizing: @box-sizing;
        float: @float;
        margin-right: @margin_right_15;
        padding: @padding_9px_0_0_80px;
        width: @width;
        min-height: @min-height;
    }
    #footer #block_1.footer-area {
        border: @border-medium;
        margin: -30px 53px 0 0;
        padding: 15px;
        text-align: @text-align;
        width: @width;
        box-sizing: @box-sizing;
        color: @colorc5;
        border-left: @border-left;
    }
    #footer #block_2.footer-area {
        border: @border-medium;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: @text-align;
        width: @width;
        box-sizing: @box-sizing;
        color: @colorc5;
        border-left: @border-left;
    }
    #footer #block_3.footer-area {
        border: @border-medium;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: @text-align;
        width: @width;
        box-sizing: @box-sizing;
        color: @colorc5;
        border-left: @border-left;
    }

    #footer #block_4.footer-area {
        border: @border-medium;
        margin: 0 53px 0 0;
        padding: 12px;
        text-align: @text-align;
        width: @width;
        box-sizing: @box-sizing;
        color: @colorc5;
        border-left: @border-left;

    }

    h6 {
        line-height: 1.35;

    }
    #footer h6 {
        font-size: @font-size;
        font-weight:@font-weight;
        margin: 12px 0px;
        color: @color;
        text-shadow: @text-shadow;
        font-family: @font-family;
        text-transform: @text-transform;
        position: @position;
    }
    #footer #block_1.footer-area h6 {
        display: @display-none;
    }
    .footer li {
        padding: @padding0;
        color: #c5c5c5;
    }
    #footer #block_1.footer-area li {
        line-height: @line-height;
    }
    .footer_logo {
        margin-bottom: 24px;
    }
    a:-webkit-any-link {

        cursor: auto;
    }
    .footer a {
        text-decoration: @text-decoration;
        color: @colorc5;
    }
    .footer a:hover{
        text-decoration: @text-decoration;
        color: @color;
    }
    img {
        border: @border0;
        vertical-align: top;
    }
    li.social_block {
        cursor: @cursor;
        display: @display-inb;
        height: 25px;
        margin: 22px 0 0;
        padding: @padding0;
        width: 20px;
    }
    #footer #block_1.footer-area li {
        line-height: @line-height;
    }
    #footer #block_1.footer-area-1 li {
        line-height: @line-height;
        text-align: @text-alignleft;
        padding: 2px 0;
    }
    #footer #block_1.footer-area-1 ul {
        padding: @padding0;
        margin: @margin0;
        margin-left: 20%;
        margin-top: @margin-top;

    }
    .news-text{
        text-align: @text-alignleft;
    }
    #footer .footer-border-left .footer-title{
        padding-bottom:  20px;
        font-weight: @font-weight;
        font-size: 16px;
        color: @color;


    }

    .footer_bottom_images {
        text-align: @text-align;
        border-bottom:1px solid #3c3c3c;
        position: @position;
    } 

    .footer_bottom{
        text-align: @text-align;
    }
    .footer_bottom_images img{
        position: absolute;
        top:-3px;
        background: @background26;
    } 
    .footer_bottom_images_1{
    }
    #footer .footer-border-left{
        border-left:1px solid #3C3C3C;
        text-align: @text-align;
        margin-top: @margin-top;

    }

    #footer li.social_block a {
        color: #555;
    }
    #footer li.social_block a .fa {
        font-size: 22px;
        font-weight: normal;
    }

    .fa-facebook-square:before {
        content: "\f082";
    }
    #footer li.social_block a:hover {
        color: @color;
    }
    #footer .footer-area {
        border-left: @border-left;
        box-sizing: @box-sizing;
        float: @float;
        margin-right: @margin_right_15;
        padding: @padding_9px_0_0_80px;
        width: 21.3%;
        min-height: @min-height;
    }
    address {
        font-style: normal;
        color: @colorc5;
    }
    .footer address {
        text-align: @text-align;
        margin: -18px;
        padding: 10px 0 6px;
        line-height: @line-height22px;
        color: @colorc5;
    }
    .footer ul.payment_icon {
        margin: 12px 0;
        text-align: @text-align;
        padding:2px;
    }
    .footer_bottom .payment_icon li {
        background: @background-none;
        display: @display-inb;
        padding: 0 0px;

    }
    .footer_bottom .payment_icon li a {
        display: @display;
        height: 26px;
        width: 44px;
    }
    .footer_bottom .payment_icon li.discover a {
        background: url(../images/payment1.png) no-repeat scroll -120px 0 transparent;
    }
    .footer_bottom .payment_icon li.visa a {
        background: url(../images/payment1.png) no-repeat scroll 0 0 transparent;
    }
    .footer_bottom .payment_icon li.mastro a {
        background: url(../images/payment1.png) no-repeat scroll -180px 0 transparent;
    }
    .footer_bottom .payment_icon li.paypal a {
        background: url(../images/payment1.png) no-repeat scroll -240px 0 transparent;
    }
    .footer_bottom .payment_icon li.amex a {
        background: url(../images/payment1.png) no-repeat scroll -300px 0 transparent;
    }
    .footer_bottom .payment_icon li.g-wall a {
        background: url(../images/payment1.png) no-repeat scroll -60px 0 transparent;
    } 
    .footer_bottom .payment_icon li a span {
        font-size: 0px;
    }

}