.type-720{
    @the-pt: 100%;
    @transition: all 0.3s ease 0s;
    @pixel: 15px;
    @the-none: none;
    .color-position{
        position: absolute;
        color: #fff;
    }
    .sub-banner{
        overflow: hidden;
        width: @the-pt;
        margin: @pixel - 5 0 0;
        img{width: @the-pt;}
        &:hover img{
            transform: scale(1.1);
            transition: @transition;
        }
        &:hover .shopnow{
            transition: @transition;
            z-index: 1;
            display: block;
        }
    }
    .text{
        bottom: @pixel;
        left: @pixel + 15;
        font-size: @pixel + 3;
        .color-position;
    }
    .shopnow{
        display: @the-none;
        transition: @transition;
        right: @pixel;
        bottom: 0;
        background: rgba(38,38,38,0.7);
        padding: @pixel - 5 @pixel;
        text-align: right;
        width: @the-pt - 8;
        box-sizing: border-box;
        .color-position;
    }
    @media only screen and (max-width:768px){
        .sub-banner:hover .shopnow{display: @the-none;}
    }
}