.type_723{
    @position: relative;
    @transition: all 0.9s ease 0s;
    .position {
        position: relative;
    }
    .transition {
        transition: all 0.9s ease 0s;
    }
    .bottom-single-banner {
        clear: both;
        padding: 21px 0 18px;
       .position;
        
    }
    .bottom-single-banner .item {
        overflow: hidden;
        .position;
    }
    img {
        border: 0;
        vertical-align: top;
    }
    .bottom-single-banner .item img {
        .transition;
        max-width: 100%;
    }
    .bottom-single-banner:hover .item img {
        transform: scale(1.05);
        .transition;
    }
    @media only screen and (max-width: 1250px) and (min-width: 1024px){
        .container-width {
            width: 980px;
        }
    }
    @media only screen and (max-width: 1023px) and (min-width: 980px){
        .container-width {
            width: 940px;
        }
    }
    @media only screen and (max-width: 979px){
        .container-width {
            width: 724px;
        }
    }
    @media only screen and (max-width: 767px){
        .container-width {
            width: auto;
            margin: 0 15px;
        }
    }
}
