.type-712{
    .bordered {border:1px solid black}

    .card {
        height:220px;
        overflow:auto
    }

    .card img {
        height:150px
    }

    .bottom {
        vertical-align:bottom
    }
}