@footer_background-color: #6f6d69;
@footer_color: white;
@footer_h4_font: normal 15px Georgia;
@footer_li_font: normal 13px Verdana;
@footer_li_a: #efefef;
@footer_li_a_hover: #ccc !important;
@footer_tweet_color: #c5988b;
@footer_tweet-time_color: #e6e6e6 !important;
@footet_icon_color: #a3a19d;
@footer_a_color: #fff;
@footer-text_color: #e1e1e1;
footer {
  background-color: @footer_background-color;
  margin-top: 120px;
  color: @footer_color;
  padding-top: 50px;
  h4 {
    font: @footer_h4_font;
    line-height: 18px;
    padding: 0 0 30px 10px;
    text-transform: uppercase;
    cursor: pointer;
    span {
      float: right;
      opacity: 0;
    }
  }
  ul {
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    list-style: none;
    margin: 0;
    li {
      transition: all .2s ease-in-out;
      font: @footer_li_font;
      line-height: 18px;
      padding: 11px 0 11px 10px;
      border-top: 1px solid rgba(0, 0, 0, .05);
      border-bottom: 1px solid rgba(255, 255, 255, .05);
      &:first-child {
        border-top: 1px solid rgba(0, 0, 0, .1);
      }
      a {
        color: @footer_li_a;
      }
      a:hover {
        text-decoration: none;
        color: @footer_li_a_hover;
      }
    }
    li:hover {
      background: rgba(255, 255, 255, .05);
      padding-left: 13px;
    }
    &#tweet {
      border: none;
      color: @footer_li_a;
      a {
        color: @footer_tweet_color;
      }
      li {
        border: none;
        padding: 0 0 25px 28px;
        position: relative;
      }
      .tweet-time {
        a {
          color: @footer_tweet-time_color;
          font-family: Georgia !important;
          font-style: italic !important;
        }
      }
      .icon {
        width: 17px;
        height: 17px;
        color: @footet_icon_color;;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 1.3em;
      }
    }
  }
  a {
    color: @footer_a_color;
    &:hover {
      color: @footer_a_color;
    }
  }
  .fb-followers {
    .item {
      margin-bottom: 35px;
      float: left;
    }
  }
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .05);
    padding: 25px 0;
    & > div {
      & > div {
        width: 50%;
      }
    }
    .footer-text {
      color: @footer-text_color;
      float: left;
    }
    #payment-icons {
      margin-bottom: 15px;
      overflow: hidden;
      ul {
        float: right;
        li {
          padding: 0;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 727px) {
    h4 {
      font-size: 1.5em;
      span {
        opacity: 1;
      }
    }

    .content {
      &.active {
        .dropdown-content {
          display: block;
        }
      }
      .dropdown-content {
        display: none;
        margin-bottom: 30px;
        li {
          font-size: 1.2em;
          padding: 20px;
        }
      }
    }
  }
}

