.type-756 .top-content {
  margin-top: 20px;
}
.type-756 .info {
  margin-left: 20px;
}
.type-756 .info h2 {
  font-size: 19px;
  color: #19caaf;
}
.type-756 .info a {
  color: #000000;
}
.type-756 .info a:hover {
  text-decoration: none;
}
.type-756 .left-top {
  float: left;
  border: 1px solid #e5e5e5;
  margin-right: 5px;
}
.type-756 .left-top:hover {
  background: #19caaf;
}
.type-756 .left-top:hover h2 {
  color: #ffffff;
}
.type-756 .left-top:hover p {
  color: #ffffff;
}
.type-756 .image .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.type-756 .right-top {
  float: right;
  border: 1px solid #e5e5e5;
  margin-left: 5px;
}
.type-756 .right-top:hover {
  background: #19caaf;
}
.type-756 .right-top:hover h2 {
  color: #ffffff;
}
.type-756 .right-top:hover p {
  color: #ffffff;
}
.type-756 .center-content {
  margin-top: 30px;
}
.type-756 .nav {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f2f2f2;
}
.type-756 .nav h2 {
  color: #2f2f2f;
  float: left;
  margin-left: 30px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}
.type-756 .btn {
  float: right;
}
.type-756 .btn ul li {
  margin-top: 10px;
  padding-right: 10px;
  display: inline-block;
}
.type-756 .btn ul li a {
  color: #888;
}
.type-756 .column {
  display: inline-block;
  margin-top: 30px;
  border: 1px #f2f2f2 solid;
}
.type-756 .new {
  background: #2f2f2f;
  font-size: 12px;
  position: absolute;
  margin-top: -10px;
  left: 20px;
  line-height: 19px;
  padding: 0 8px;
}
.type-756 .new a {
  text-decoration: none;
  color: #fff;
}
.type-756 .images img {
  text-align: center;
  margin: 20px;
}
.type-756 .images:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.type-756 .price h2 {
  float: left;
  color: #19caaf;
}
.type-756 .price h3 {
  float: right;
  margin-top: 25px;
  margin-right: 85px;
  text-decoration: line-through;
}
.type-756 .name a {
  float: left;
  font-weight: bold;
  color: #888888;
}
.type-756 .name a:hover {
  text-decoration: none;
  color: #19caaf;
}
.type-756 .description {
  float: left;
  text-align: none;
  margin-left: 0;
  color: #888888;
}
.type-756 .group-btn {
  float: left;
}
.type-756 .group-btn ul li {
  display: inline-block;
  float: left;
  margin: 10px;
}
.type-756 .group-btn ul li a {
  color: #888;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 50%;
}
.type-756 .group-btn ul li a:hover {
  text-decoration: none;
  background: #000000;
  color: #ffffff;
}
.type-756 .group-btn #active a {
  background: #19caaf;
  color: #ffffff;
}
.type-756 .group-btn #active a:hover {
  text-decoration: none;
  background: #000000;
}
