.type-715 {
  background: #333;
}
.type-715 body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
.type-715 .contact-section {
  color: #fff;
  text-align: center;
}
.type-715 h1,
.type-715 h2,
.type-715 h3 {
  margin: 0 0 35px 0;
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.type-715 p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6em;
}
.type-715 a {
  color: #333;
}
.type-715 a:hover,
.type-715 a:focus {
  text-decoration: none;
  color: #26a5d3;
}
.type-715 #contact {
  background: #333333;
  color: #f4f4f4;
  padding-bottom: 80px;
}
.type-715 textarea.form-control {
  height: 100px;
}
.type-715 .btn btn-default btn-lg a {
  color: #333;
}
