.type-j-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5b5b5b;
}
.type-j-5 a {
  color: #000;
  text-decoration: none;
}
.type-j-5 img {
  width: 100%;
}
.type-j-5 .hentry {
  margin: 0 0 1.5em;
}
.type-j-5 .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-j-5 .entry-content {
  margin: 0px;
}
.type-j-5 .entry-content:before,
.type-j-5 .entry-content:after {
  content: "";
  display: table;
}
.type-j-5 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-j-5 h2,
.type-j-5 h3,
.type-j-5 h4 {
  font-family: 'Vollkorn', serif;
  line-height: 1.1;
  color: #3a3a3a;
}
.type-j-5 h1,
.type-j-5 h2,
.type-j-5 h3,
.type-j-5 h4,
.type-j-5 h5,
.type-j-5 h6 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}
.type-j-5 .btn-default {
  color: #ff9933;
  background-color: transparent;
  border-color: #9ea6b0 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.type-j-5 .lms_pc_btn {
  margin-top: 10px;
}
.type-j-5 .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.type-j-5 .vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.type-j-5 .vc_column_container .vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.type-j-5 .lms_title_center {
  width: 100%;
  float: left;
  text-align: center;
}
.type-j-5 .lms_title_center .lms_heading_1 {
  text-align: center;
  display: inline-block;
}
.type-j-5 .lms_title_center .lms_heading_1 .lms_heading_title {
  margin-top: 80px;
  font-weight: 400;
  padding: 0px 32px 28px 32px;
  border-bottom: 1px solid #9ea6b0;
  position: relative;
  font-weight: 500;
}
.type-j-5 .lms_title_center .lms_heading_1 .lms_heading_title:after {
  content: "";
  position: absolute;
  top: 100%;
  margin: -10px 0 0 -5px;
  left: 50%;
  width: 10px;
  height: 20px;
  background: #fff;
  border-left: 1px solid #9ea6b0;
  border-right: 1px solid #9ea6b0;
  -webkit-transform: rotate(20deg);
}
.type-j-5 .lms_title_center p {
  margin-top: 8px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 70px;
}
.type-j-5 .swiper-container {
  width: 100%;
  height: auto;
}
.type-j-5 .swiper-slide {
  color: #000;
  text-align: center;
}
.type-j-5 .customNavigation {
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}
.type-j-5 .lms_prev_next {
  width: 28px;
  height: 28px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  margin: 5px;
  color: #ff9933;
  cursor: pointer;
  border: 1px solid #9ea6b0;
}
.type-j-5 .lms_prev_next:hover {
  border-color: #ff9933;
}
.type-j-5 .lms_our_partner_slider_item {
  border: 1px solid #9ea6b0;
  margin: 10px;
}
.type-j-5 .lms_our_partner_slider_item .lms_our_partner_item {
  text-align: center;
  padding: 20px;
}
.type-j-5 .lms_our_partner_slider_item .lms_our_partner_item img {
  width: 220px;
  height: 50px;
}
.type-j-5 .lms_our_partner_slider_item .lms_our_partner_item hr {
  border-bottom: 50px;
  border-top: 1px solid #9ea6b0;
}
.type-j-5 .lms_our_partner_slider_item .lms_our_partner_item .quote {
  font-size: 40px;
  color: #5b5b5b;
  font-weight: 100;
  line-height: 14px;
  margin-bottom: 20px;
  display: inline-block;
  margin-bottom: 0;
}
.type-j-5 .lms_our_partner_slider_item .lms_our_partner_item p {
  font-style: italic;
}
.type-j-5 .box4 {
  width: 380px;
  float: left;
}
.type-j-5 .lms_our_partner_slider_item:hover {
  border-color: #ff9933;
}
@media (max-width: 1016px) {
  .type-j-5 .lms_our_partner_slider_item {
    margin: 5px;
  }
}
