.type-724{
    @font-size: 14px;
    @line-height: 1.42857143;
    @text-align: center;
    @display: inline-block;
    @float: left;
    @position: relative;
    @positionab: absolute;
    @margin-top: 10px;
    @font-size20: 20px;
    @text-transform: capitalize;
    @line-height: 20px;
    @font-family: 'Vollkorn', serif;
    @font-weight: 500;
    @line-height11: 1.1;
    @width: 100%;
    @border-bottom: none;
    @padding-bottom: 0px;
    @font-size27: 2.7rem;
    @color: #3a3a3a;
    @border-l-r: 1px solid #9ea6b0;
    @margin: 20px 0px;
    @border-bottom: 1px solid #ccc;
    @list-style: none;
    @margin-bottom: 15px;
    @font-weight: 700;
    @border-right: 1px solid #eee;



    body {
        font-family: 'Open Sans', sans-serif;
        font-size: @font-size;
        line-height: @line-height;
        color: #5b5b5b;
    }
    .content .heading {
        text-align: @text-align;
    }
    .content .heading .title {
        display: @display;
    }
    .content .heading h1 {
        font-size: 34px;
        float: @float;
        margin-top: 80px;
        margin-bottom: 17px;
        font-weight: 400;
        padding: 0px 32px 28px 32px;
        border-bottom: 1px solid #9ea6b0;
        position: @position;
    }
    .content .heading h1::after {
        content: "";
        position: @positionab;
        top: 100%;
        margin: -10px 0 0 -5px;
        left: 50%;
        width: 10px;
        height: @line-height;
        background: #fff;
        border-left:  @border-l-r;
        border-right:  @border-l-r;
        transform: rotate(20deg);
    }
    .content .heading p {
        display: @display;
        font-size: @font-size20;
        line-height: 24px;
        margin-bottom: 70px;
    }
    .content .course-landing-summary h3 {
        margin: 0px 0px 10px 0px;
        text-transform: @text-transform;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        float: @float;
        width: @width;
        border-bottom: @border-bottom;
        padding-bottom: @padding-bottom;
        font-size: @font-size27;
    }
    .content .course-landing-summary img {
        width: @width;
        height: auto;
        margin-bottom: @margin-bottom;
    }
    .content .lms-single-entry-content {
        float: @float;
        width: @width;
        padding-top: 5px;
        padding-bottom: 15px;
        border-bottom: @border-bottom;
        margin-bottom: @margin-bottom;
    }
    .content .lms-single-entry-content .author {
        font-weight: @font-weight;
        padding-right: 20px;
        margin-right: 20px;
        color: #000;
        margin-bottom: 0;
        margin-top: 6px;
        border-right: @border-right;
    }
    .content .lms-single-entry-content .author a {
        color: #ff9933;
    }
    .content .lms-single-entry-content .course-students {
        font-weight: @font-weight;
        line-height: @line-height;
        margin-right: 20px;
        padding-right: 20px;
        color: @color;
        border-right: @border-right;
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .content .lms-single-entry-content .course-price {
        line-height: @line-height;
        margin-right: 20px;
        padding-right: 20px;
        color: #ff9933;
        font-weight: @font-weight;
        border-right: @border-right;
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .content .lms-single-entry-content .view-cart-button {
        color: #fff;
        background-color: #ff9933;
        display: @display;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: @font-size;
        font-weight: normal;
        line-height: @line-height;
        text-align: @text-align;
        cursor: pointer;
        background-image: none;
        border: 1px solid;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .content .lms-single-entry-content a:hover {
        text-decoration: none;
    }
    .content .lms-single-entry-content .purchase-button {
        float: right;
        color: #fff;
        background-color: #ff9933;
        display: @display;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: @font-size;
        font-weight: normal;
        line-height: @line-height;
        text-align: @text-align;
        cursor: pointer;
        background-image: none;
        border: 1px solid;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .content .course-description-heading {
        border-bottom: @border-bottom;
        padding-bottom: 0px;
        margin-bottom: 10px;
        margin: @margin;
        text-transform: @text-transform;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        float: @float;
        width: @width;
        font-size: @font-size27;
    }
}