.type-724{
    @font-size: 14px;
    @line-height: 1.42857143;
    @text-align: center;
    @display: inline-block;
    @float: left;
    @position: relative;
    @positionab: absolute;
    @margin-top: 10px;
    @font-size20: 20px;
    @text-transform: capitalize;
    @line-height: 20px;
    @font-family: 'Vollkorn', serif;
    @font-weight: 500;
    @line-height11: 1.1;
    @width: 100%;
    @border-bottom: none;
    @padding-bottom: 0px;
    @font-size27: 2.7rem;
    @color: #3a3a3a;
    @border-l-r: 1px solid #9ea6b0;
    @margin: 20px 0px;
    @border-bottom: 1px solid #ccc;
    @list-style: none;
    @margin-bottom: 15px;
    @font-weight: 700;
    @border-right: 1px solid #eee;



    body {
        font-family: 'Open Sans', sans-serif;
        font-size: @font-size;
        line-height: @line-height;
        color: #5b5b5b;
    }
    .content .heading {
        text-align: @text-align;
    }
    .content .heading .title {
        display: @display;
    }
    .content .heading h1 {
        font-size: 34px;
        float: @float;
        margin-top: 80px;
        margin-bottom: 17px;
        font-weight: 400;
        padding: 0px 32px 28px 32px;
        border-bottom: 1px solid #9ea6b0;
        position: @position;
    }
    .content .heading h1::after {
        content: "";
        position: @positionab;
        top: 100%;
        margin: -10px 0 0 -5px;
        left: 50%;
        width: 10px;
        height: @line-height;
        background: #fff;
        border-left:  @border-l-r;
        border-right:  @border-l-r;
        transform: rotate(20deg);
    }
    .content .heading p {
        display: @display;
        font-size: @font-size20;
        line-height: 24px;
        margin-bottom: 70px;
    }
    .content .course-landing-summary h3 {
        margin: 0px 0px 10px 0px;
        text-transform: @text-transform;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        float: @float;
        width: @width;
        border-bottom: @border-bottom;
        padding-bottom: @padding-bottom;
        font-size: @font-size27;
    }
    .content .course-landing-summary img {
        width: @width;
        height: auto;
        margin-bottom: @margin-bottom;
    }
    .content .lms-single-entry-content {
        float: @float;
        width: @width;
        padding-top: 5px;
        padding-bottom: 15px;
        border-bottom: @border-bottom;
        margin-bottom: @margin-bottom;
    }
    .content .lms-single-entry-content .author {
        font-weight: @font-weight;
        padding-right: 20px;
        margin-right: 20px;
        color: #000;
        margin-bottom: 0;
        margin-top: 6px;
        border-right: @border-right;
    }
    .content .lms-single-entry-content .author a {
        color: #ff9933;
    }
    .content .lms-single-entry-content .course-students {
        font-weight: @font-weight;
        line-height: @line-height;
        margin-right: 20px;
        padding-right: 20px;
        color: @color;
        border-right: @border-right;
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .content .lms-single-entry-content .course-price {
        line-height: @line-height;
        margin-right: 20px;
        padding-right: 20px;
        color: #ff9933;
        font-weight: @font-weight;
        border-right: @border-right;
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .content .lms-single-entry-content .view-cart-button {
        color: #fff;
        background-color: #ff9933;
        display: @display;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: @font-size;
        font-weight: normal;
        line-height: @line-height;
        text-align: @text-align;
        cursor: pointer;
        background-image: none;
        border: 1px solid;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .content .lms-single-entry-content a:hover {
        text-decoration: none;
    }
    .content .lms-single-entry-content .purchase-button {
        float: right;
        color: #fff;
        background-color: #ff9933;
        display: @display;
        padding: 6px 12px;
        margin-bottom: 0px;
        font-size: @font-size;
        font-weight: normal;
        line-height: @line-height;
        text-align: @text-align;
        cursor: pointer;
        background-image: none;
        border: 1px solid;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .content .course-description-heading {
        border-bottom: @border-bottom;
        padding-bottom: 0px;
        margin-bottom: 10px;
        margin: @margin;
        text-transform: @text-transform;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        float: @float;
        width: @width;
        font-size: @font-size27;
    }
    .content .course-description h4 {
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        color: @color;
    }
    .content .course-curriculum h3 {
        margin: @margin;
        text-transform: @text-transform;
        font-family: @font-family;
        font-weight: @font-weight;
        line-height: @line-height11;
        float: @float;
        width: @width;
        border-bottom: @border-bottom;
        padding-bottom: 5px;
        font-size: @font-size27;
    }
    .content .course-curriculum ul,
    .content .course-curriculum li {
        list-style: @list-style;
    }
    .content .course-curriculum ul {
        padding-left: 0;
    }
    .content .course-curriculum ul .curriculum-sections {
        float: @float;
        width: @width;
    }
    .content .course-curriculum ul .section {
        width: @width;
        margin: 0 0 1px 0;
    }
    .content .course-curriculum ul .section-header {
        margin: 10px 0 0 0;
        padding: 10px 15px;
        background-color: #EEE;
        color: @color;
    }
    .content .course-curriculum ul .section-content {
        background-color: #f5f5f5;
    }
    .content .course-curriculum ul .course-item {
        margin: 0 0 0;
        list-style: @list-style;
        padding: 10px 15px;
        border-top: 1px solid #FFF;
    }
    .content .course-curriculum ul .course-item .course-item-meta {
        display: block;
        float: right;
        line-height: 1;
        margin: 3px 0;
    }
    .content .course-curriculum ul .course-item .course-item-meta .lp-label {
        display: @display;
        padding: 3px 8px;
        line-height: 1;
        font-size: 65%;
        vertical-align: baseline;
        color: #FFF;
        border-radius: 4px;
        background-color: #ff9933;
    }
    .content .course-curriculum ul .course-item .course-item-meta .lp-label-quiz {
        background-color: #53658C;
    }
    .content .course-curriculum ul .course-item .course-item-meta .lp-label-final {
        background-color: #FF6161;
    }
    .content a:hover {
        text-decoration: none;
    }
    .type-28 .content .lms_sidebar_item .searchform {
        margin-bottom: 25px;
    }
    .content .lms_sidebar_item .searchform input[type="search"] {
        border-radius: 0;
        height: 40px;
    }
    .content .lms_sidebar_item .searchform .input-group-addon {
        font-size: @font-size20;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-align: @text-align;
        background-color: #ff9933;
        border: 1px solid #ff9933;
        border-radius: 0;
        border-left: 0;
        padding: 0px;
    }
    .content .lms_sidebar_item .searchform .input-group-addon button {
        background-color: transparent;
        border: none;
        float: @float;
        width: @width;
        padding: 9px 11px;
    }
    .content .lms_sidebar_item .searchform .form-control:hover,
        .type-28 .content .lms_sidebar_item .searchform .form-control:focus {
        box-shadow: none;
        border-color: #ff9933;
        outline: 0;
        transition: all 0.5s;
    }
    .content .lms_sidebar_item ul,
    .content .lms_sidebar_item li {
        list-style: @list-style;
        padding-left: 0;
        float: @float;
    }
    .content .lms_sidebar_item li {
        width: @width;
        position: @position;
        margin-top: @margin-top;
        margin-bottom: 10px;
    }
    .content .lms_sidebar_item li .popular-text {
        margin-top: 0;
        position: @positionab;
        top: 0;
        left: 112px;
    }
    .content .lms_sidebar_item li .popular-text h4 {
        margin-top: 0;
        margin-bottom: 3px;
        font-family: @font-family;
        font-size: @font-size20;
        font-weight: @font-weight;
        line-height: @line-height11;
        color: @color;
    }
    .content .lms_sidebar_item li .popular-text h4:hover {
        color: #ff9933;
        transition: all 0.5s;
        text-decoration: none;
    }
    .content .lms_sidebar_item h3 {
        margin-top: 15px;
        font-size: 24px;
        color: #222;
        border-bottom: 1px solid #222;
        padding: 5px 0px;
        margin-bottom: 1.1852em;
    }
    .content .lms_sidebar_item .lms-popular-course {
        margin-bottom: 25px;
    }
    .content .lms_sidebar_item .lms_footer_course_category {
        margin-bottom: 25px;
    }
    .content .lms_sidebar_item .lms_footer_course_category a {
        color: inherit;
        font-size: @font-size;
        position: @position;
        padding-left: 15px;
        display: table;
        float: @float;
        text-transform:  @text-transform;
    }
    .content .lms_sidebar_item .lms_footer_course_category a:hover {
        color: #ff9933;
        transition: all 0.5s;
    }
    .content .lms_sidebar_item .blog-categories {
        margin-bottom: 25px;
    }
    .content .lms_sidebar_item .blog-categories li {
        text-align: right;
    }
    .content .lms_sidebar_item .blog-categories a {
        color: inherit;
        font-size: @font-size;
        position: @position;
        padding-left: 15px;
        display: table;
        float: @float;
        text-transform: @text-transform;
    }
    .content .lms_sidebar_item .blog-categories a:hover {
        color: #ff9933;
        transition: all 0.5s;
    }
    .content .lms_sidebar_item .twitter_feed .lms_sidebar_rt p {
        margin-bottom: 5px;
        margin-top: @margin-top;
    }
    .content .lms_sidebar_item .twitter_feed .lms_sidebar_rt a p {
        color: #ff9933;
        font-style: italic;
        font-weight: bold;
    }
    .content .lms_sidebar_item .twitter_feed .lms_rt_time {
        color: @color;
        font-style: italic;
        font-weight: bold;
    }
    .content .lms_sidebar_item .tags .tagcloud a {
        font-size: 13px;
        color: #fff;
        padding: 10px 10px;
        background: rgba(0,2,7,0.22);
        display: @display;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .content .lms_sidebar_item .tags .tagcloud a:hover {
        background: #ff9933;
        transition: all 0.5s;
    }
}