.type-704 {
    @font-size: 20px;
    @border: 1px solid #e6e5e5;
    @list-style-type: none;
    @background: #ebebeb;
    @cursor: pointer;
    @display: none;
    @displayb: block;
    .zaro{ 
        p {
            padding-bottom: 20px;
        }
        h4, h4 a {
            font-size: @font-size;
            line-height: 28px;
        }
        .zaro-dropdown{
            display: @display;
            margin:0;
            padding:0;
            width: 100%;
            background: @background;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
        }
        div,form{
            margin:0;
            padding:0;
        }
        img{
            border:0;
        }
        a, a:active, a:visited {
            color: #333;
            text-decoration: none;
        }
        .align-center{
            text-align: center;
        } 
        .slidelip{
            transition: all .5s ease-in-out;
        }
        a,.smooth02 {
            transition: all .2s ease-in-out;
        }
        .fa {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            pointer-events: none;
        }
        #white_background{
            background-color: #f9f9f9;
        }
        .page-width {
            margin: 0 auto;
            width: 960px;
        }
        .margin-auto{
            margin:0 auto;
        }
        #header {
            top: -36px;
            height: 150px;
            position: relative;
            #header_logo {
                position: absolute;
                margin: 80px 0 0 0;
                width: 100%; 
                a {
                    font: normal 80px Georgia;
                    color: #3C3C3C;
                }
                img.logo {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
                .logo{
                    font: normal 80px/80px "Georgia";
                    color: #424243;
                }
            }
            #header_logo  {
                left: 0;
                top: 0;
            }  

            #shopping_cart {
                position: absolute;
                top: 97px;
                left: 0;
                padding: 0;
                background: none;
                width: auto;
                display: @displayb;
                color: #b9b9b9;
                padding: 0 15px;
                line-height: 34px;
                border: 1px solid #e7e2e2;
                min-width: 200px;
                a {
                    padding: 0;
                    background: none;
                    width: auto;
                    display: @displayb;
                    color: #999;
                    font-family: Verdana;
                    font-size: 13px;
                    height: 34px;
                }
                a:first-child {
                    display: @displayb;
                    overflow: hidden;
                    font-size: 13px;
                    b {
                        font-weight: normal;
                    }
                }
                .main-color{
                    color: #bbb;
                }
                .fa-shopping-basket{
                    width: 17px;
                    height: 17px;
                    margin: 8px 5px 0 0;
                    color: #b0adad;
                    display: inline-block;
                    vertical-align: top;
                    fill: currentColor;
                    pointer-events: none;
                }
                span {
                    line-height: 16px;
                }
            }
            #shopping_cart:hover {
                background: @background;
                z-index: 11;
                color: #8b8b8b;
            }
            #search_box_top{
                position: absolute;
                top: 97px;
                right: 0;
                border: 1px solid #e7e2e2;
                height: 34px;
                width:230px;
                margin-right: 30px;
                #search_query_top{
                    width: 100%;     
                    border: none;
                    height: auto;
                    position: absolute;
                    padding: 7px 0;
                    text-indent: 10px;
                    color: #8a8989;
                    transition: width 0.4s ease-in-out;
                    font: normal 13px/20px Verdana;
                    outline: 0;
                    z-index: 1;
                }
                .search-button {
                    cursor: @cursor;
                    color: #ccc;
                    border: none;
                    background: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20%;
                    height: 100%;
                    transition: all .2s ease-in-out;
                    z-index: 2;
                    .fa{
                        width: 19px;
                        height: 19px;
                        margin: 0;
                        cursor: @cursor;
                        font:  20px/1 FontAwesome;
                    }
                }
                .search-button:hover{
                    i{
                        color:#FFF; 
                    }
                }    
            }
        }

        .dib {
            display: inline-block;
            vertical-align: top;
        }


        #currencies_list{ 
            float: right;
            margin: 0 0 0 30px;
            span{
                font: normal 15px/36px FontAwesome;
            }
            ul {
                clear: both;
                width: 100%;
                list-style-type: @list-style-type;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                display: @display;
                box-shadow: 0 2px 2px rgba(0,0,0,0.1);
                margin: 0;
                padding: 0;
            }
            li {
                border-left: 1px solid #dedede;
                border-right: 1px solid #dedede;
                background: @background;
                line-height: 27px;
                color: #555;
                padding: 0 10px;
                cursor: @cursor;
                font: normal 13px/27px Verdana;
            }
            li:hover{
                color:#FFF;
            }
        }
        #currencyHolder {
            position: relative;
            z-index: 99;
            span{
                span{
                    padding: 0 5px 0 10px;
                }
                .fa {
                    width: 20px;
                    height: 20px;
                    margin-top: 8px;
                }
            }
        }
        #currencyHolder:hover{
            span {
                background-color: #7b7975;
                color: #fff;
                li { 
                    color: #fff;
                }
            }
            .zaro-dropdown{
                display: @displayb;
            }
        }


        #languages_block_top {
            float: right;
            margin: 0;
        }
        #languages_block_top:hover {
            .selected_language{
                background-color: #7b7975;
                color:#FFF; 
                a {
                    color: #fff;
                    cursor: default;
                }
            }
            .zaro-dropdown{
                display: @displayb;
            }

        }
        ul#first-languages {
            clear: both;
            list-style-type: @list-style-type;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            display: @display;
            li {
                border-left: 1px solid #dedede;
                border-right: 1px solid #dedede;
                background: @background;
                color: black;
                text-decoration: none;
                img {
                    margin: 9px 5px 0 10px;
                }
                a {
                    line-height: 27px;
                    color: #555;
                }
            }
            li:hover{
                a{ 
                    color:#FFF;
                }
            }
        }
        #countries {
            padding: 0;
            width: auto;
            position: relative;
            z-index: 99; 
            .selected_language {
                float: left;
                margin: 0!important;
                display: @displayb;
                img {
                    margin: 13px 5px 0 10px;
                }
                a {
                    line-height: 36px;
                    color: #6d6d6d;
                    text-decoration: none;
                }
                .fa{
                    width: 20px;
                    height: 20px;
                    margin: 9px 5px 0 0;
                }
            }
            span {
                font: normal 16px/20px FontAwesome;
                color: #888;
            }
        }
        #menu_header{
            float: left;   
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                position: relative;
                padding: 0 10px;
                margin-right: 15px;
                span {
                    line-height: 20px;
                    display: inline-block;
                    margin-bottom: 5px;
                }
                a {
                    color: #999;
                    font-family: Verdana;
                    line-height: 36px;
                    font-size: 13px;
                    text-decoration: none;
                    span {
                        line-height: 14px;
                        margin: 0;
                    }
                }
            } 
            .fa{
                display: @display; 
                width: 15px;
                color:#009900;
                height: 15px;
                font: normal 16px/20px FontAwesome;
                margin-top: 10px;
            }
            .zaro-dropdown{
                top:36px;
                width: 250px;
                position: absolute;
                left: 0;
            }
            li:hover {
                .zaro-dropdown{
                    box-shadow: none;          
                    display:block; 
                } 
                *{
                    color:#FFF;
                }
            }
        }


        #header_user{
            padding-top: 0;
            position: relative;
            margin-left: 15px;
            ul{
                margin:0;
                padding: 0;
            }
            li {
                float: left;
                display: block;
                clear: none;
                color: #999;
                font-family: Verdana;
                font-size: 13px;
                margin: 0;
                line-height: 36px;
                a {
                    color: #999;
                    font-size: 13px;
                    font-family: Verdana;
                    text-decoration: none;
                }
                a:hover{
                    color:#009900;
                }
            }

        }


        //MEGA MENU
        .menu-container{
            margin-bottom: 20px;
            a{
                text-transform: uppercase;
            }
            .mega-menu{
                background: url(../images/border.gif) repeat-x 0 100%;
                width: 100%;
                margin: auto;
                ul.mega-menu-ul{
                    list-style-type: @list-style-type;
                    position: relative;
                    padding-left: 0;
                }
                li{
                    a span {
                        padding: 0 10px;
                    }
                    a { 
                        padding: 0 18px;
                        text-transform: uppercase;
                        color: #3a3a3c;
                        font-size: 19px;
                        line-height: 35px;
                        display: block;
                    }
                }
            }
            .mega-menu-item.mega-active{
                a span:before{
                    content: "";
                    height: 5px;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    width: 100%;
                    background-color: #009900;
                }
            }
            .mega-menu-item:hover{
                a span:before{
                    content: "";
                    height: 5px;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    width: 100%;
                    background-color: #009900;
                }
                a.menu-item{
                    color: #009900;
                }
                a.opener{
                    color: #009900;
                }
            } 
            .mega-dropdown-menu{ 
                background-color: #f9f9f9;
                padding: 22px 20px 30px;
                img{ 
                    display: block;
                    margin:0 auto;
                }
                .brand{
                    margin: 0 0 20px 0;
                }
                li{ 
                    padding-left: 0;
                    font-size: 16px;
                    text-transform: uppercase;

                    a{
                        font-size: 13px;
                        text-transform: none;
                    }
                    ul{
                        li{
                            ul{
                                padding:0;
                                margin:0;
                            }
                        }
                    }
                } 
                .first-item{
                    padding-left: 15px;
                    li{
                        text-align: center;
                    }
                }

            }
            span.price{
                font-size: 24px;
                color: #930;
                display: block;
                line-height: 30px;
            }

            .mega-menu-item{
                li {
                    h2{
                        text-transform: none;
                    }
                    p{
                        font-size: 13px;
                        text-transform: none;
                    }
                }
                .demos{
                    position: absolute; 
                    width: 190px;
                    left: auto;
                    padding:0;
                    li{
                        padding-left: 10px;
                        font-size: 15px;
                        border-top: 1px solid #ddd;
                        display: inline-block;
                        line-height: 30px;
                        height: auto;
                        vertical-align: top;
                        a{
                            width: 100%;
                            padding: 5px 5px 5px 20px;
                            font-size: 14px;
                        }
                    }
                }   
            }
        } 
        .dropdown{
            position: static;
        }

        //SLIDE SHOW
        #zaro-carousel{ 
            margin-top: 70px;
            .zaro-controls{
                border: 1px solid #e6e5e5;
                box-shadow: 0 0 0 1px #fff,0 0 0 2px #e6e5e5;
                width: 39px;
                height: 39px;
                text-align: center;
                cursor: @cursor;
                .fa {
                    width: 23px;
                    height: 23px;
                    margin-top: 9px;
                    font-size: @font-size;
                }
            }
            .carousel-title {
                position: relative;
                h3 {
                    font-size: 25px;
                    line-height: 46px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    padding: 0 73px;
                    margin:0;
                }
                .zaro-controls{
                    position: absolute;
                    left: 0;
                    top: 2px;
                    color: #a7a6a0;
                }
                .zaro-next{
                    left: auto;
                    right: 0;
                }
            }
            .title-table {
                margin-bottom: 30px;
                td {
                    padding: 0;
                    margin:0;
                }
            }
            .title-wing {
                display: inline-block;
                content: "";
                height: 1px;
                border-top: 1px solid #e6e5e5;
                border-bottom: 1px solid #e6e5e5;
                vertical-align: middle;
                width: 100%;
            }

            .carousel-inner{
                width: 100%;
                .item{
                    img{
                        margin: 0;
                        height: auto;
                        border: 1px solid #e0e0e0;
                        box-sizing: border-box;
                        display: block;
                    }
                    a.search-box-img{
                        position: absolute;
                        top: 0px;
                        right: 20px;
                        width: 36px;
                        height: 36px;
                        border: 1px solid #e6e6e6;
                        text-align: center;
                        background-color: #FFF;
                        opacity: 0;
                        cursor: @cursor;
                        z-index: 99;
                        .fa{
                            margin-top: 9px;
                            font-size: 18px;
                        }
                    }
                }
                .item-hover:hover{
                    a.search-box-img{
                        opacity: 1; 
                    }
                    .addToCart-hover{
                        display: block;  
                    }
                    h3{
                        display: @display;
                    }
                }

                .zaro-rate{
                    height: 18px;
                    text-align: center;
                    width:100%;
                    z-index: 99;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: block;
                }
                .row{
                    p{
                        color: #777;
                        display: block;
                        margin: 0 0 7px;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        width: 100%;
                        float: left;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .addToCart-hover{
                        width: 100%; 
                        display: @display; 
                        color: #FFF; 
                        a{
                            padding:10px;
                            text-transform: uppercase;
                            background-color: #999 !important; 
                            color: #FFF;
                            float:left;
                            margin-right: 5px;
                        }  
                        .col-md-6{
                            margin:0;
                            padding:0;
                        }
                        .favorite,.wishlist{
                            float:left;
                            background-color: #009900;
                            opacity: 0.2;
                            margin-right: 10px;
                            padding:10px;
                            padding-top: -10px;
                            .fa{
                                font-size: 18px; 
                            }
                        }
                        .card:hover{
                            background-color: #009900;
                        }
                        .favorite:hover,.wishlist:hover{
                            opacity: 1;
                        }
                        a:hover{ 
                            background-color: #009900; 
                        }
                    } 
                }
            }

        }


        .align-center{
            text-align: center;
        }
        .full-width{
            width: 100%;
            margin:0 auto;
            padding:0;
        }
        .main-bg-hover:hover{
            background-color: #009900;
        }
        .main-bg{
            background-color: #009900;
        }
    }

    @media (min-width:728px){
        .zaro{
            //MEGA MENU
            .menu-container{
                a span:before {
                    width: 0;
                    transition: all 0.3s;
                }
                .mega-menu-item{
                    a span{
                        position: relative;
                    }
                }
                .mega-menu-ul{
                    display: block;
                    li{
                        a.opener{
                            display: @display;
                        }
                    }
                } 
            }

        }
    }

    @media (min-width:729px){
        .zaro{
            //MEGA MENU
            .mega-menu{
                .mega-menu-ul{
                    height: 43px; 
                }
                ul{

                    li {
                        display: block;
                        float: left;
                        a{
                            span {
                                display: inline-block;
                                height: 43px;
                            }
                        }
                    }
                    li:first-child a{
                        padding-left: 0;
                    }
                }
                .mega-menu-item{ 
                    a.menu-item{
                        font-size: 16px; 
                    }
                }
                .mobileMenuTitle{
                    display: none;
                }
            }
            .col-custom-5-col{
                width: 33%; 
                float:left;
                position: relative;
                min-height: 1px;
            }
        }
    }
    @media(min-width: 980px){
        .zaro{
            #currencies_list{
                float: right;
            }
            #menu_header{
                li {
                    margin: 0;
                    line-height: 36px;
                }
            }

            .mega-menu{
                .mega-menu-item{ 
                    a.menu-item{
                        font-size: 18px !important; 
                    }
                }
            }
            .col-custom-5-col{
                width: 20%; 
                float:left;
                position: relative;
                min-height: 1px;
            }
        }
    }
    @media(min-width: 1170px){
        .zaro{
            .page-width {
                width: 1170px;
            } 
            //MEGA MENU
            .mega-menu{
                ul{
                    li{
                        a {
                            padding: 0 25px;
                        }
                    }
                }
                .mega-menu-item{ 
                    a.menu-item{
                        font-size: 20px !important; 
                    }
                }
            }
        }
    }
    @media (max-width: 979px) and (min-width: 728px){
        .zaro{
            //MEGA MENU

        }
    }

    @media (max-width: 979px) and (min-width: 728px){
        .zaro{
            #header {
                height: 200px;
            }
            #shopping_cart, #search_box_top {
                top: 180px;
            }
            #menu_header{ 
                li{
                    padding: 0 15px;
                    a>span {
                        display: none;
                    }
                }
            }

            //MEGA MENU

        }
    }
    @media (max-width: 727px){
        .zaro{
            .mobileMenuTitle {
                display: block;
                background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
                width: 100%;
                font-size: 23px;
                cursor: @cursor;
                height: 56px;
                text-indent: 20px;
                line-height: 56px;
                color: #000;
                text-transform: uppercase;
                font-size: 23px;
                font-weight: normal;
            }


        }
    }
    @media(max-width: 980px){
        .zaro{
            #menu_header{
                .fa{
                    display: inline-block;
                    margin-bottom: 11px;
                }
                li {
                    margin: 0;
                    line-height: 36px;
                }
            }

        }
    }
    @media (max-width:1170px) and (min-width:980px){
        .zaro{
            #zaro-carousel{
                .add-ToCart{
                    a{
                        padding:5px 0 !important;
                        margin-right: 5px !important;
                    }
                    .favorite,.wishlist{
                        margin-right: 5px !important;
                        padding:5px !important;
                        padding-top: -10px !important;
                    }
                }
                .search-box-img{
                    right: 10px !important;
                    top:10px !important;
                }
                .col-custom-5-col{
                    padding: 10px;
                }
            }
        }
    }
    @media (max-width: 979px){
        .zaro{
            .page-width {
                width: 728px;
                transition: all .4s linear;
            }
            #header_logo {
                top: 90px;
            }
        }
    }
    @media (max-width: 727px){
        .zaro{
            .page-width {
                width: 450px;
            }
            #header{
                height:190px;
                #header_logo{
                    left: 0!important;
                    text-align: center;
                    margin-top: 60px;
                    .logo{
                        width: auto;
                        max-width: 100%;
                        max-height: 100px;
                        height: auto;
                    }
                }
                #shopping_cart {
                    position: relative;
                    padding: 0;
                    float: left;
                    width: 36px;
                    top: 0;
                    left: auto;
                    border: none;
                    min-width: 36px;
                    .fa{
                        width: 20px;
                        height: 20px;
                        font: normal normal normal 20px/1 FontAwesome;
                    }
                    a {
                        height: 35px;
                    }
                }
                #shopping_cart:hover{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 99;
                    color: #8b8b8b
                }
                #search_box_top{
                    top: 160px;
                    right: 50%;
                    margin-right: -150px;
                    width: 300px;
                    transition: all .4s linear;
                    .search-button{
                        -webkit-appearance: button;
                    }
                }

            }
            #menu_header{
                height: auto;
                position: absolute;
                top: 220px;
                width: 100%;
                left: 0;
                ul {
                    width: 100%;
                    text-align: left;
                    li {
                        line-height: 30px;
                        text-align: center;
                        margin: 0;
                        display: block;
                        float: left;
                        position: static;
                        border: none;
                        padding: 0;
                    }
                    li:first-child a {
                        border-style: none;
                    }
                    li{
                        a {
                            font-size: 16px;
                            width: 100%;
                            display: @displayb;
                            border-left: none;
                            height: auto;
                            olor: #666;
                        }
                    }
                }
                li{
                    width: 33.3%;
                    span{
                        font-size: 12px; 
                    }
                }
                .zaro-dropdown{
                    width: 100%;
                }
            }

            .menu-container{
                a.opener {
                    visibility: visible;
                }

                .mega-menu{
                    margin-top: 50px;

                }
                .mega-menu-ul{
                    display: none;
                    li{
                        a span{
                            position: relative;
                            float: left;
                        }

                        a.opener{
                            margin: 0!important; 
                            max-width: 50px;
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-color: transparent;
                            border-radius: 50%;
                            z-index: 99999;
                            cursor: @cursor; 
                            position: relative;
                            padding: 0;
                            top: 0;
                            right: 0;
                            float: right; 
                            width: 20%;
                            height: 58px;
                        }
                        a.opener:before {
                            content: "+";
                            line-height: 50px;
                            font-size: 28px;
                            width: 100%;
                            text-align: center;
                            display: @displayb;
                        }
                    }
                }
                .mobileMenuTitle {
                    display: @displayb;
                    background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
                    width: 100%;
                    font-size: 23px;
                    cursor: @cursor;
                    height: 56px;
                    text-indent: 20px;
                    line-height: 56px;
                    color: #000;
                    text-transform: uppercase;
                    font-size: 23px;
                    font-weight: normal;
                }
                .mega-menu-item{
                    float: none;
                    width: 100%;
                    overflow: hidden;
                    background: #fafafa;
                    border-bottom: 1px solid #f2f2f2;
                    border-top: 1px solid #fbfbfb;
                    padding: 15px 0 0 0;
                    line-height: 20px;
                    position: relative;
                    ul,img{
                        display:none;
                        visibility: hidden;
                    }
                    a span:before{
                        visibility: hidden;
                        opacity: 0;
                    } 
                }
                .mega-menu-ul{
                    visibility: visible;
                    height: auto  ;
                    padding-left: 20px;
                    ul{
                        margin: 5px 0 0 0!important;
                    }
                    li{
                        width: 100%;
                        margin: 0;
                        background: #f6f6f6;
                        float: none;
                        overflow: hidden;
                        border-bottom: 1px solid #f2f2f2;
                        border-top: 1px solid #fbfbfb;
                        position: relative;
                        ul{
                            display: none;
                        }

                    } 
                }
            }
        }
    }
}
