.type-777{
    @color_white: #ffffff;
    @font-size_12: 12px;
    @position_rela: relative;
    @background_25: #252525;
    @color: #07c1b6;
    @line-height_24: 24px;
    @margin-bottom_0: 0;
    @display_ib: inline-block;
    @font-family_awe: FontAwesome;
    @font-style_n: normal;
    @font-weight_n: normal;
    @float_right: right;
    @margin-right_-10: -10px;
    @height_auto: auto;
    @overflow_hi: hidden;
    @margin-right_-5: -5px;
    @list-style_none: none!important;
    @padding_0: 0;
    @margin_0_0_20: 0 0 20px;
    @color_1bbeb4: #1bbeb4;
    @color_trans: transparent;
    @padding_15: 15px;
    @display_bl: block;
    @float_left: left;
    @border-left_1: 1px solid #e4e4e4;
    @width_100: 100%;
    @background-position: 0 0;
    @opacity_05s: 0.5;
    @opacity_1: 1;
    @width_48: 48%;
    @padding-left: 0;
    @margin_0: 0;
    @background_trans: transparent;
    @box-shadow: none;
    @padding-right_0: 0;
    @text-decoration_none: none;
    @padding_10px: 10px;
    @float_none: none;
    @position_ab: absolute;
    @top: 50%;
    @display_none: none;
    @margin-bottom: 30px;
    @border-bottom_1: 1px solid #e4e4e4;
    @border-radius_0: 0;
    //dat bien chung
    header-empty {
        padding: @padding_15;
        font-size: 16px;
        border-bottom: @border-bottom_1;
    }
    //ket thuc dat bien chung
    i[class^="fa-"] {
        display: @display_ib;
        font-family: @font-family_awe;
        font-style: @font-style_n;
        font-weight: @font-weight_n;
        line-height: 1;
    }
    /*hinh*/
    div.product .entry-title{
        display: @display_none;
    }
    .flexslider {
        background: @background_trans;
        border: 0;
        width: @width_100;
        display: @display_bl;
        ul.slides{
            margin: @margin_0;
            height: @height_auto;
            overflow: @overflow_hi;
            list-style: @list-style_none;
        }
        .slides > li{
            position:  @position_rela;
            text-align: center;
            overflow: @overflow_hi;
            margin:  @margin_0;
            display: @display_none;
        }
    }
    .slides {
        margin:  @margin_0;;
        padding: @padding_0;
    }
    ul {
        list-style: @list-style_none;
        margin: @margin_0_0_20;
    }
    lSSlideOuter .lSPager {
        padding-left: @padding-left;
    }
    .lSSlideOuter {
        overflow: @overflow_hi;
    }
    .lSSlideWrapper {
        max-width: 100%;
        overflow: @overflow_hi;
        position:  @position_rela;
    }
    .lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
        float: @float_left;
    }
    div.product div.images {
        position:  @position_rela;
        overflow: @overflow_hi;
        padding-bottom: 50px;
        margin-bottom: @margin-bottom_0;
        float: @float_left;
        width: @width_48;
        img{
            display: @display_bl;
            width: @width_100;
            height: @height_auto;
            box-shadow: @box-shadow;
        }
    }
    #content div.product div.images,div.product div.images, #content div.product div.images, div.product div.images {
        float: @float_left;
        width: @width_48;
    }
    #content div.product div.summary,  div.product div.summary, #content div.product div.summary, div.product div.summary {
        float: @float_right;
        width: @width_48;
    }
    div.product div.summary {
        margin-bottom: 50px;
        float: @float_right;
        width: @width_48;
    }
    /*hinh click*/
    .lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
        opacity: @opacity_1;
    }
    .lSSlideOuter .lSPager.lSGallery li {
        opacity: @opacity_05s;
        overflow: @overflow_hi;
        transition: opacity 0.35s linear 0s;
    }
    .lSSlideOuter .lSPager.lSGallery {
        list-style: none outside none;
        padding-left: @padding-left;
        margin:  @margin_0;;
    }
    li {
        line-height: 20px;
    }
    .lSSlideOuter .lSGallery li{
        float: @float_left;
    }
    .hide-bullets {
        list-style:none;
        margin-left: -40px;
        margin-top:20px;
    }
    /*nut*/
    .lSSlideWrapper:hover .lSAction>.lSNext {
        opacity: @opacity_1;
        right: 20px;
    }
    .lSAction > .lSNext, .lSAction > .lSPrev {
        width: 36px;
        height: 36px;
        margin: -18px 0 0;
        display: @display_bl;
        background: transparent url(../images/showcase-nav.png) no-repeat center left;
        position: @position_ab;
        top: @top;
        cursor: pointer;
        text-indent: -9999px;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all 0.3s ease-in-out;
        z-index: 3;
    }
    .lSAction>.lSNext {
        background-position: -36px 0;
        right: -36px;
    }
    .lSSlideWrapper:hover .lSAction > .lSPrev {
        opacity: @opacity_1;
        left: 20px;
    }
    .lSAction > .lSPrev {
        background-position: @background-position;
        left: -36px;
    }
    /*chu*/
    .summary-top {
        border-bottom: @border-bottom_1;
        padding-bottom: 30px;
        margin-bottom: @margin-bottom;
    }
    div.product .summary p.price, .woocommerce-page div.product .summary p.price {
        float: @float_left;
        margin-right: 20px;
        font-size: 24px;
        margin-bottom: @margin-bottom_0;
    }
    ul.products li.product .price, .woocommerce div.product p.price {
        color: #252525;
    }
    body, p, .masonry-items .blog-item .quote-excerpt, #commentform label, .contact-form label {
        font-size: 13px;
        line-height: 22px;
    }
    .summary-top .product-navigation .nav-next {
        display: @display_ib;
        float: @float_right;
    }
    .summary-top .product-navigation .nav-previous {
        display: @display_ib;
        margin-left: 12px;
        float: @float_right;
    }
    div.product .product-short {
        margin-bottom: @margin-bottom;
    }
    div.product form.cart, div.product p.cart {
        margin-bottom: 2em;
    }
    div.product form.cart div.quantity {
        float: @float_left;
        margin: 0 4px 0 0;
    }
    .quantity .minus, .quantity input.qty,.quantity .plus {
        position:  @position_rela;
        float: @float_left;
        height: 32px;
        width: 28px;
        margin:  @margin_0;;
        border: 0;
        background: @background_trans;
        box-shadow: @box-shadow;
        border-radius: @border-radius_0;
        border-color: rgba(0,0,0,.1);
        text-shadow: none;
        padding-right: @padding-right_0;
    }
    .quantity .qty {
        width: 3.631em;
        text-align: center;
    }
    .quantity .qty-adjust {
        float: @float_left;
    }
    .quantity .qty-plus {
        display: @display_bl;
        width: 30px;
        height: 20px;
        text-align: center;
        line-height: 26px;
        font-size: @font-size_12;
    }
    a, .ui-widget-content a {
        color: #666666;
    }
    .quantity .qty-minus {
        display: @display_bl;
        width: 30px;
        height: 20px;
        text-align: center;
        line-height: 14px;
        font-size: @font-size_12;
    }
    input:focus, textarea:focus {
        box-shadow: none!important;
    }
    .quantity{
        background: #f7f7f7;
        color: #252525;
    }
    form.cart button.single_add_to_cart_button{
        background: #252525!important;
        color: @color;
    }
    form.cart button.single_add_to_cart_button{
        background: #222;
        border: 0;
        border-radius: @border-radius_0;
        box-shadow: @box-shadow;
        height: 40px;
        padding: 0 15px;
        float: @float_left;
        font-weight: bold!important;
        outline: 0!important;
    }
    form.cart button.single_add_to_cart_button:hover{
        color: @color_1bbeb4;
    }
    form.cart button.single_add_to_cart_button i{
        margin-right: 10px;
        font-size: 10px;
        vertical-align: 1px;
    }
    form.cart .yith-wcwl-add-to-wishlist {
        display: @display_bl;
        padding: @padding_0;
        float: @float_left;
        line-height: 22px;
        min-height: 40px;
    }
    .yith-wcwl-add-to-wishlist{
        background: @background_25;
        color: #f7f7f7;
        border-left: 1px solid #444;
        margin-top: 0;
    }
    .yith-wcwl-add-button a.add_to_wishlist{
        margin: 0px;
        box-shadow: @box-shadow;
        text-shadow: none;
        border-radius: 3px;
    }
    .yith-wcwl-add-button > a i {
        margin-right: 0;
        vertical-align: -1px;
    }
    form.cart .yith-wcwl-add-to-wishlist a {
        display: @display_bl;
        padding: 9px 13px;
        background: @background_trans;
    }
    .yith-wcwl-add-to-wishlist span.feedback {
        display: @display_none!important;
    }
    .yith-wcwl-add-to-wishlist add_to_wishlist{
        display: @display_none!important;
    }
    .yith-wcwl-add-button a{
        background: @background_25;
        color: #f7f7f7;
    }
    #product-accordion .accordion-group:first-child {
        border-top-width: 1px;
    }
    #product-accordion .accordion-group {
        border-radius: @border-radius_0;
        border-left: 0;
        border-right: 0;
        border-top-width: 0;
    }
    .accordion-group {
        margin-bottom: 2px;
        border: 1px solid #e5e5e5;
    }
    #product-accordion .accordion-toggle {
        position:  @position_rela;
        padding-left: @padding-left;
    }
    .accordion-heading .accordion-toggle {
        display: @display_bl;
        padding: 8px 15px;
    }
    .collapse.in {
        height: @height_auto;
    }
    #product-accordion .accordion-inner {
        border-top: 0;
        padding-left:@padding-left;
        padding-right: @padding-right_0;
    }
    .accordion-inner {
        padding: 9px 15px;
    }
    div.product form.cart:after, div.product form.cart:before, div.product p.cart:after, div.product p.cart:before {
        display: table;
        content: "";
    }
    form {
        margin: @margin_0_0_20;
    }
    #reviews #comments .add_review:after,  .products ul:after,  div.product form.cart:after,  div.product p.cart:after, nav.woocommerce-pagination ul, ul.products:after {
        clear: both;
    }
    a:hover {
        text-decoration: @text-decoration_none;
        color: @color_1bbeb4;
    }
    a:hover, a:active {
        outline: 0;
    }
    .share-links {
        border-bottom: @border-bottom_1;
        border-top: 1px solid #e4e4e4;
        padding: 12px 0;
        margin-top: 20px;
    }
    .share-links ul li a {
        padding: @padding_10px;
    }
    #product-accordion .accordion-toggle:after {
        content: "\f107";
        font-family: @font-family_awe;
        display: @display_bl;
        font-size: @font-size_12;
        position: @position_ab;
        right: 0;
        margin-top: -10px;
        top: @top;
    }
    .product_meta p .leave-feedback {
        float: @float_right;
    }
    .product_meta a.inline {
        border-bottom: 1px dotted #e4e4e4;
    }
    .share-links span {
        float: @float_left;
    }
    .share-links ul {
        float: @float_right;
        margin-bottom: @margin-bottom_0;
        margin-right: @margin-right_-10;
        list-style: @list-style_none;
    }
    .share-links ul li {
        float: @float_left;
        margin-left: 5px;
    }
    .share-links > ul > li {
        margin-right: 12px;
        line-height: 18px;
    }
    .share-links a:hover {
        text-decoration: @text-decoration_none;
    }
    .share-links ul li a {
        padding: @padding_10px;
    }
    /*moblie*/
    @media only screen and (max-width: 979px){
        div.product form.cart div.quantity {
            float: @float_none;
            margin-bottom: 20px;
            display: @display_bl;
            height: @height_auto;
            overflow: @overflow_hi;
            max-width: 70px;
        }
        .page-heading .heading-text {
            float: @float_none;
        }
        #breadcrumbs {
            float: @float_none;
            margin-top: 15px;
        }
    }
    @media only screen and (max-width: 767px){
        #breadcrumbs {
            display: @display_none;
        }
    }
    @media only screen and (max-width: 479px){
        div.product div.images {
            width: @width_100;
            float: @float_none;
            margin-bottom: @margin-bottom;
        }
        div.product div.summary {
            width: @width_100;
            float: @float_none;
        }
    }

}