.type-L-header .header {
  background: #f2f2f2;
  padding: 15px 0 80px 0;
}
.type-L-header #switch {
  float: right;
  color: #787878;
  display: inline-block;
  font-size: 12px;
}
.type-L-header .switch-money {
  float: left;
  margin-right: 5px;
}
.type-L-header .switch-money ul {
  background: #f2f2f2;
}
.type-L-header .switch-language {
  float: right;
}
.type-L-header .switch-language ul {
  background: #f2f2f2;
}
.type-L-header .switch-money button,
.type-L-header .switch-language button {
  background: none;
  border: none;
  color: #787878;
}
.type-L-header .switch-money button:hover,
.type-L-header .switch-language button:hover {
  background: none;
  border: none;
  color: #19caaf;
}
.type-L-header .item-topmenu:hover {
  background: #19caaf;
  color: #ffffff;
}
.type-L-header #logo {
  margin-top: -5px;
}
.type-L-header #search {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.type-L-header #search input {
  border: 1px #e5e5e5 solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px 35% 5px 10px;
}
.type-L-header #search button {
  background: #19caaf;
  border: 1px #e5e5e5 solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #ffffff;
  padding: 6px 18px;
  margin: -1px 0 0 -1px;
}
.type-L-header #search button:hover {
  background: #2f2f2f;
}
.type-L-header #phone {
  text-align: right;
  margin-top: 5px;
}
.type-L-header #phone i {
  color: #19caaf;
  font-size: 38px;
}
.type-L-header #phone span {
  font-size: 23px;
}
@media all and (max-width: 480px) {
  .type-L-header .mobile {
    width: 100%;
    float: left;
  }
}
@media all and (max-width: 768px) {
  .type-L-header #search input {
    width: 58%;
  }
  .type-L-header #phone {
    display: none;
  }
}
@media all and (max-width: 980px) {
  .type-L-header #search input {
    width: 58%;
  }
  .type-L-header #phone span {
    font-size: 16px;
  }
}
