.type-16 {
    .header {
        background-color: #2a241f;
    }
    .logo {
        padding: 33px 0 28px;
        padding-left: 102px;
    }
    //Menu
    .navbar-collapse ul li a{
        color: #fafafa;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .navbar-collapse ul li{
        list-style: none;
    }
    .navbar-collapse ul .active{
        background: rgb(35, 30, 26);
    }
    .navbar-nav {
        padding: 55px 0px;
    }
    .navbar-collapse {
        padding-left: 0;
    }
    //slide show
    .carousel-indicators .active {
        background-color: #FFF;
    }
    .carousel-indicators li:hover {
        background-color: #FFF;
    }
    .carousel-indicators li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000\9;
        background-color: rgba(0,0,0,0);
        border: none;
        border-radius: 0px;
        background: rgba(255,255,255,0.3);
    }
    .carousel-inner img {
        width: 100%;
        max-height: 460px;
    }
    .carousel-control {
        width: 0;
    }
    .carousel-control.left-moble,
    .carousel-control.right-mobile {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: none;
        background-repeat: no-repeat;
        text-shadow: none;
    }
    .carousel-control.left-moble span {
        padding: 10px 15px;
    }
    .carousel-control.right-mobile span {
        padding: 10px 15px;
    }
    .carousel-control .iconleft,
    .carousel-control .iconright,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        position: absolute;
        top: 45%;
        z-index: 5;
        display: inline-block;
    }
    .carousel-control .iconleft,
    .carousel-control .icon-prev {
        left: 30px;
    }
    .carousel-control .iconright,
    .carousel-control .icon-next {
        right: 30px;
    }
    .carousel-control.left-moble span,
    .carousel-control.right-mobile span {
        background: rgba(0,0,0,0.5);
    }
    .carousel-control.left-moble span:hover,
        .carousel-control.right-mobile span:hover {
        opacity: .7;
        filter: alpha(opacity=70);
        background: #fd4326;
    }
}