.demo {
  padding: 15px 0 0 0;
  text-align: center;
}
.demo .type-719 .display-border-font {
  display: none;
  border: 2px solid #fff;
  font-size: 1.2em;
}
.demo .type-719 .slide {
  width: 100%;
}
.demo .type-719 .slide:hover .carousel-control .glyphicon-chevron-left,
.demo .type-719 .slide:hover .carousel-control .icon-prev {
  display: block;
}
.demo .type-719 .slide:hover .carousel-control .glyphicon-chevron-right,
.demo .type-719 .slide:hover .carousel-control .icon-next {
  display: block;
}
.demo .type-719 .slide .carousel-indicators .active {
  background: #000;
}
.demo .type-719 .slide .carousel-indicators li {
  border-radius: 0;
  background: #fff;
  border: 1px solid #000;
}
.demo .type-719 .slide .carousel-indicators li:hover {
  background: rgba(0,0,0,0.9);
}
.demo .type-719 .slide .carousel-inner>.item>a>img,
.demo .type-719 .slide .carousel-inner>.item>img {
  width: 100%;
}
.demo .type-719 .carousel-control .glyphicon-chevron-left,
.demo .type-719 .carousel-control .icon-prev {
  display: none;
  border: 2px solid #fff;
  font-size: 1.2em;
}
.demo .type-719 .carousel-control .glyphicon-chevron-right,
.demo .type-719 .carousel-control .icon-next {
  display: none;
  border: 2px solid #fff;
  font-size: 1.2em;
}
.demo .type-719 .singlebanner {
  width: 100%;
  overflow: hidden;
}
.demo .type-719 .singlebanner img {
  width: 100%;
}
.demo .type-719 .singlebanner:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 993px) and (min-width: 767px) {
  .demo .type-719 .banner .singlebanner {
    width: 48%;
  }
}
@media (max-width: 766px) {
  .demo .type-719 .banner .singlebanner {
    margin-top: 12px;
  }
}
